[2019-12-09 18:37] jtlisi commented on #1629
If the `Stop` function in the cache interface is never called and there are currently no consequences, that sounds s like a good reason to remove the `Stop` function from the interface.

[2019-12-10 03:32] jp19214 opened #1894 "Querier timeout while fetching data from DynamoDB"
Querier timeout after 60 seconds while fetching data from DynamoDB with below error

`level=error ts=2019-12-10T03:04:37.50773903Z caller=worker.go:229 msg="error processing requests" err=EOF`

`level=error ts=2019-12-10T03:04:44.879960781Z caller=worker.go:177 msg="error processing requests" err="rpc error: code = Unknown desc = context canceled"`

`level=error ts=2019-12-10T03:04:44.88077732Z ca

[2019-12-10 07:51] pracucci opened #1895 "Distributors OOM on a single slow ingester in the cluster"
Yesterday we've got all distributors continuously `OOMKilled` in one of our Cortex clusters. The root cause analysis outlined this issue has been caused by a single ingester which was running on a failing Kubernetes node which was running but very slow.

This issue is due to how the quorum works. When the distributors receive a `Push()` request, the time series are sharded and then sent to 3 inges

[2019-12-10 11:23] bboreham commented on #1852
I have new data: a heap dump from an ingester in the middle of rapid heap growth.
[ingester.heap.gz](https://github.com/cortexproject/cortex/files/3944563/ingester.heap.gz)

It's using 28GB in total of which 7.68GB in buffers allocated in `recvAndDecompress`.

However this time I can see this is in 63,996 buffers, giving 120KB per buffer, which is believable, but why are the buffers being kept ali

[2019-12-10 11:58] pstibrany commented on #778
What places need to be fixed, apart from /ring? Perhaps we can do it without --web.external-url ? (By using relative paths everywhere)

[2019-12-10 12:38] bboreham commented on #778
I don't know, nor did I ever understand what the "PRG pattern" is that needed the redirect.

[2019-12-10 14:15] pstibrany commented on #778
PRG is used to make REFRESH in the browser work correctly after POST request. Without this, refreshing the page would do another POST and browser would ask the user if he really wants to do the refresh, which is annoying. With redirect to GET, refreshing the page simply repeats the GET.

I don't quite see how it is relevant to cross-site request forgery (CSRF) attack though.

[2019-12-10 19:28] chancez commented on #1505
From what I can tell the code will revert to the default for the flag if you explicitly set it to `""`, so either a new flag is needed to disable this behavior or the default needs to be removed and the logic can be updated to handle `""` as "don't use SRV discovery".

Is there a preference?

[2019-12-10 19:54] chancez commented on #1505
Correction, you can set the `service` option to `null` in the configuration file, but it seems to fail still:
[code]

[2019-12-11 07:49] pracucci commented on #1505
_FYI, I'm incidentally working on this while adding adding memcached support to Thanos and we may want to wait mine PR into Thanos to see if we can reuse it (it supports statically configured memcached servers too)._

[2019-12-11 13:17] codesome opened #1903 "Ingester to wait for some time before joining gossip based ring"
This issue is particularly of interest when the ingester names remain the same across rollout/restarts, which is going to be the thing when using WAL with statefulsets.

In my tests I have found out that as the gossip ring takes some time to propagate its changes across all pods, if an ingester terminates and starts quickly enough, it picks can pick up the old `LEAVING` state from the ring and cau

[2019-12-11 13:25] codesome opened #1904 "Don't blindy copy the old ingester state from ring"
Rooting from this issue https://github.com/cortexproject/cortex/issues/1903, blindly copying the old state from the ring can cause issues, for example the ingester is stuck when it finds an old `LEAVING` state if itself.

We need to have some logic around to intelligently take care of this, for example dropping the fetched entry in some cases.

[2019-12-11 13:32] #1629 closed

[2019-12-11 14:24] #1090 closed

[2019-12-11 14:36] tcl00taco commented on #1739
@weeco If anyone is not working on this one, I will tackle this.

[2019-12-11 14:37] weeco commented on #1739
@tcl00taco I am not aware of anyone working on this, feel free to go ahead with this.

[2019-12-11 16:51] #1618 closed

[2019-12-11 17:11] chancez commented on #1505
@pracucci that sounds good. I think even if not, the code for fixing this (disabling SRV discovery) is pretty simple so the effort is pretty minimal, even if it ends up being replaced with what you've done.

[2019-12-11 17:54] pracucci commented on #1505
Sure @chancez. Feel free to move on. I just wanted to warn you, in case it was a large work (I didn't check).

[2019-12-12 09:31] #1829 closed

[2019-12-12 11:36] #1877 closed

[2019-12-13 08:53] bboreham opened #1911 "Remove surplus sort of labels in Ingester"
This is not a documented feature of the remote write protocol; it happens to be the way Prometheus 2 works but Prometheus 1 didn't send labels sorted.

https://github.com/cortexproject/cortex/blob/f91f757e97b29d96e0ede41c4a2aeb6687e4005f/pkg/distributor/distributor.go#L252-L253

If we decide Cortex has this requirement we should document it and remove the surplus `Sort()` here:

https://github.com

[2019-12-13 15:59] jtlisi opened #1912 "Pre Golang-CI Linting Errors"
With Cortex moving to golang-ci (#1853) as things stand there are a large number of issues being detected by the linter. We should look into rectifying those errors. These errors will not affect CI because #1853 will not throw an issue for errors that existed before it was merged.

[2019-12-13 16:29] bboreham commented on #1912
I fixed all the ones reported in #1853.  Perhaps this issue relates to the ones in the code from before?

[2019-12-13 18:30] jtlisi commented on #1912
@bboreham Yea all of the linting issues from before.

[2019-12-13 21:08] bboreham commented on #1301
I have a theory what causes this.

For each rejection, `userState.getSeries()` calls `httpgrpc.ErrorFromHTTPResponse()`, which does a lot of memory-allocating, then returns it to `Ingester.Push()` which calls `httpgrpc.HTTPResponseFromError()` which does even more memory-allocating.  Then `Push()` throws it all away except for the last error.

I recommend we use an error object that just holds a r

[2019-12-13 21:45] ximz commented on #1731
How could this be achieved with command line parameters?

[2019-12-16 16:24] #1234 closed

[2019-12-16 16:30] khaines commented on #1235
With the AKS POC test run a success, the Cassandra API for Azure Cosmos has been proven to work for storing indexes & chunks. I've also recently added to the master branch support for Blob Storage to store chunks.

[2019-12-16 16:30] #1235 closed

[2019-12-16 17:25] VineethReddy02 commented on #1373
Hi!
I would like to take this up. So do I need to replace``` json.marshal``` & ```json.unmarshal``` where ever it's being used?

[2019-12-17 10:05] tomwilkie commented on #1895
I think this might be caused by https://github.com/cortexproject/cortex/pull/736 - we used to cancel the outstanding request, now we pile them up as you said.

[2019-12-17 10:51] bboreham commented on #1895
#858 talks about a similar situation - we need to limit the number of "backgrounded" requests.

It sounds like a smaller timeout would help.

#736 was done for good reasons, and is essential to the efficiency gain from #1578.

[2019-12-17 11:50] kdanW commented on #1681
Hi, I saw this project is available under community bridge mentorship. I would like to work on this if available. Can you tell me its status @gouthamve

[2019-12-17 14:20] slim-bean opened #1920 "Table-manager graceperiod bug with new schema"
We deployed a new schema on a periodic table config, but deployed it not on the periodic table rotation day.  When the new table was created, it was immediately deleted leading to nowhere to write index entries and OOM death of all the ingesters in the cluster.

I briefly looked at what happened and based on the logs it definitely looks related to the grace period config for table creation.  Our e

[2019-12-17 14:47] bboreham commented on #1920
Sorry to hear about that.
Could you post the config?

[2019-12-17 14:53] slim-bean commented on #1920
[code]

and also the table-manager args:

[code]

at the time we had `retention_deletes_enabled: true` but disabled that to stop table-manager from deleting the table.

For context we deployed the new schema on 2019/12/10 with the from set to the next day 2019/12/11

[2019-12-18 02:47] cored commented on #1690
@gouthamve Is this still relevant?

[2019-12-18 11:25] pracucci commented on #1373
Not trying to make it too complicated, but I would suggest to take an informed decision on this change. I would suggest to:

1. Run an independent benchmark first (ideally based on Cortex use case), share data upon which we can decide it's worth the effort
2. Propose a list of places where switching it may bring a significative performance benefit and gather some feedback from the Cortex community

[2019-12-18 12:49] pstibrany commented on #1373
Also make sure that Cortex is not affected by any of the drawbacks: https://github.com/bet365/jingo#drawbacks

[2019-12-18 13:02] pstibrany commented on #1895
Can you please elaborate on how #1578 is related to #736? Is it to make sure that each ingesters gets exactly the same data, and not only part of it due to parent context being cancelled/timed out?

[2019-12-18 13:09] bboreham commented on #1895
Yes, if you cancel the 3rd push every time then each ingester will have a random sprinkling of holes in the data, so the checksums won't match.

[2019-12-18 13:12] bboreham commented on #1895
BTW I just added a link to a blog post in #1578 that describes the efficiency gains.

[2019-12-18 13:15] pstibrany commented on #1895
Thanks. I just wanted to make sure I understand it correctly, as I was just adding similar thing to Loki earlier today and hope to see similar benefits. (Loki already uses #736 change, so all is good there).

[2019-12-18 17:42] #1301 closed

[2019-12-19 04:18] canghai118 opened #1924 "Rate query result lag behind"
I use rate() function on node_cpu_seconds_total to calculate cpu utility,  the promql is like below:
`avg by (mode) (rate(node_cpu_seconds_total{instance=~"$instance", mode!="idle"}[$interval]))`

`$interval` value is 5s, and the source prometheus target scrape interval is 2s
The weird thing is: the recent  query result is missing.  so the line in grafana is behind.  but the other query worked nor

[2019-12-19 14:53] JosephSalisbury opened #1927 "-http.prefix with empty string causes 404"
With a Prometheus server running on localhost:
[code]

And setting up the cortex query-frontend to use it:
[code]

everything is cushty:
[code]

However, if the empty string is used for the `-http.prefix`, as in:
[code]

then you only get 404s and everything is sad:
[code]

This isn't really an issue on the command line (who the fuck writes `'""`), but in a Kuberentes deployment, it's pretty easy

[2019-12-19 14:53] JosephSalisbury commented on #1927
cc @gouthamve, as discussed on twitter <3

[2019-12-19 20:21] owen-d opened #1928 "Ingester write performance degrades due to read volume"
Currently the ingesters are susceptible to write performance degradation when exposed to high read volume. This is because both write and read paths [use the same grpc server resources](https://github.com/cortexproject/cortex/blob/master/pkg/cortex/modules.go#L253-L258).

Reads should probably defer to writes here/have some way to acknowledge back-pressure.

[2019-12-20 03:39] Frick opened #1930 "Add backoff and/or limit retries on chunk/index write with Bigtable"
We have a test environment (no alerting, no one really checking in on it regularly) where we hit the quota for Bigtable _tables_ (1,000). It was only remotely close from a different issue, long resolved yet not cleaned up - but I can also imagine a scenario where the TableManager has failed and the latest table has not yet been created. Once it began attempting to flush chunks and failing to find

[2019-12-20 05:27] canghai118 commented on #1924
It should be a problem with the prometheus remote write configuration. The metric collection speed is 30000 / s, the remote write queue capacity is 500 by default, and the problem is solved after increasing capacity

[2019-12-20 05:27] #1924 closed

[2019-12-20 11:09] bboreham commented on #1930
I edited the title because the AWS client code already has backoff and rate-limiting, but then I realised we already have #1739 - can we close this as a duplicate?

[2019-12-20 11:10] bboreham commented on #1928
The read and write paths are also locking the same in-memory data structures.
Agreed we should try to prioritise writes.

[2019-12-20 14:30] Frick commented on #1930
Perhaps. A part of the issue that was concerning that I totally failed to mention was that it continued to repeatedly, and successfully, put the chunk in storage while it was only failing to insert the index. I understand if you'd rather not track the success of these separate actions pertaining to a single chunk, in which case I think it's fine to close in favor of #1739, but I did want to bring

[2019-12-20 17:09] bboreham commented on #1924
Please take a look at #1931 and see if it covers what you needed to know.
All help welcome in expanding the docs!

[2019-12-21 08:14] canghai118 commented on #1924
Thanks, it's really helpful

[2019-12-22 15:37] VineethReddy02 opened #1932 "URL's not working in Readme.md"
URL's for below resources doesn't seem to work

**1. A general guide to running Cortex
2. Information regarding configuring Cortex**

[2019-12-26 07:22] lyc0221 commented on #1505
sorry, I don't still known how to solve this question! How ?

[2019-12-26 10:22] lyc0221 opened #1936 "error decoding list of values for prefix:key"
#docker-compose.yml

  cortex:
    image: cortexproject/cortex:v0.4.0
    restart: always
    hostname: prometheus-db-1
    container_name: cortex
    ports:
      - "9009:9009"
      - "9095:9095"
    volumes:
      - "/opt/data/cortex/data:/data"
      - "./config/single-process-config.yaml:/etc/single-process-config.yaml"
    command:
      - "-config.file=/etc/single-process-config.yaml"

[2019-12-27 11:00] lyc0221 opened #1939 "how to run “globally aggregated” queries across all data in a single place ?"
I can run a scale out Cortex cluster using Docker. but how to run “globally aggregated” queries across all data in a single place ? for example? I can't find the way.

[2019-12-27 12:32] pracucci commented on #1939
Could you elaborate more on what you would like to achieve, please?

[2019-12-27 13:01] pracucci commented on #1936
I think the problem is that it's reusing the same consul used for the ring, and the `WatchKey()` done by the HA tracker clashes with the `collectors/ring` key.

A quick solution should be using a different prefix for the HA tracker, for example `-distributor.ha-tracker.prefix=ha-tracker/`.

[2019-12-30 02:28] #1936 closed

[2019-12-30 02:37] lyc0221 commented on #1939
[https://github.com/cortexproject/cortex/blob/master/docs/getting_started.md
](url)

I configured `Horizontally scale out`, but can't query to all data, I only query the single instance's data, can you provide methods?

[2019-12-30 02:37] lyc0221 commented on #1939
[https://github.com/cortexproject/cortex/blob/master/docs/getting_started.md](url)

I configured Horizontally scale out, but can't query to all data, I only query the single instance's data, can you provide methods?

[2019-12-30 20:57] VineethReddy02 commented on #1739
I can work on this. If no one else is already on this.

[2019-12-30 20:58] weeco commented on #1739
I think there already is a PR: https://github.com/cortexproject/cortex/pull/1914

[2019-12-31 14:45] pracucci commented on #1939
I'm missing a bit of context on your setup. Let me share some general guidelines.

The querier fetches time series both from ingesters and the storage. The ingesters contain the in-memory series not flushed to the storage yet, while the storage contains the stored one.

That being said:

- Ensure there are no errors in logs
- Which index and chunks store are you using? (ie. AWS DynamoDB / S3, Goog

[2020-01-02 02:57] lyc0221 commented on #1939
sorry, I use the local filesystem storage, not like ceph, and the data saves in each instance. So, if I don't use AWS DynamoDB / S3, Google GCS / BigTable or Cassandra, I must use a shared filesystem like ceph?

[2020-01-02 16:53] pracucci commented on #1939
If you're not running in the cloud (AWS / Google) and you're running Cortex in microservices mode (multiple nodes), then you should setup Cassandra at least for the index store (required) and then you have two options for the chunks: either Cassandra or a shared filesystem (but to my knowledge no proper production-grade testing has been done on setups with a shared filesystem so I would discourage

[2020-01-03 12:26] bboreham commented on #1307
Looking at a recent log the first 10 attempts took 25 seconds, so that's probably OK as a default.

[2020-01-03 12:26] #1307 closed

[2020-01-03 12:44] bboreham opened #1948 "Ingester terminated in middle of transfer doesn't abort transfer"
In our staging env we had two config changes close together, so a new rollout started which killed this ingester five seconds after it started up:

[code]

However the process has not exited and the ingester transferring _to_ it has not noticed yet.
Filed https://github.com/weaveworks/common/pull/171 because the process was not responding to SIGQUIT so I couldn't see where it was stuck.

[2020-01-03 14:26] gotjosh opened #1949 "Docs: Update the Architecture Section about the Ring"
The ring is one of the most complex pieces within Cortex. While the current documentation seems adequate, we could do with a more in-depth breakdown of the ring and its uses. In addition to that, a Diagram could help illustrate how it behaves in different scenarios.

In the past, I've had to refer to external sources (videos, articles) to get a better understanding of it - the intention is to have

[2020-01-04 15:38] Eraac opened #1950 "error: WebIdentityErr: failed to retrieve credentials"
I use cortex throw [loki](https://github.com/grafana/loki). Running into EKS with eks-iam role

That works pretty well, but actually logs are spammed with many errors, like this one and I've no idea because is actually work.
[code]

I get this error each 5 minutes, matching with `table_manager.dynamodb_poll_interval` and `storage_config.indexcachevalidity`

My config is pretty simple, S3 for chunk

[2020-01-04 15:58] Eraac opened #1951 "error: ResourceNotFoundException: Requested resource not found"
I use cortex throw [loki](https://github.com/grafana/loki). Running into EKS with eks-iam role

That works pretty well, but actually logs are spammed with many errors, like this one and I've no idea because is actually work.

[code]

I get this error 3 times each 30 secondes, matching with `ingester.flush_check_period`, `ingester.chunk_retain_period`

[2020-01-06 10:23] bboreham opened #1955 "Weird chunk flush timestamps"
Seen in event sampling:

[code]

Max-chunk-age is set at 8 hours, so why is `firstTime` over 13 hours before `ts` ?

The code that logs this takes `firstTime` from the _series_ so maybe the first chunk was flushed at the correct time, is marked as flushed, but somehow is still hanging around?

[2020-01-06 10:39] canghai118 opened #1956 "Ruler use a lot memory during quit"
During ruler stop，it consume a lot memory,  and probably killed by oom.  In this case the information about itself is not unregister from the ring
![image](https://user-images.githubusercontent.com/3394863/71812914-4f8ad800-30b3-11ea-994d-79a40aed3687.png)

below is the log captured by `kubectl logs -f`
[code]

Has anyone encountered this problem?

[2020-01-07 11:52] pracucci commented on #1949
May we write down a list of points we would like to cover?

[2020-01-07 16:16] jtlisi commented on #1956
@canghai118 Would you mind posting your config? Specifically how many rulers you are running and what backend stores you are using?

[2020-01-08 04:05] canghai118 commented on #1956
There are about 53 recording rules total, and only 2 alert rules, our backend is cassandra for both index and chunk store. The memory usage only increase during stop process， During normal running the memory is about 100MB per ruler instance

I run ruler as k8s deployment. here is the pod spec

[code]
The content of cortex config file is:
[code]
@jtlisi

[2020-01-10 10:30] bboreham opened #1972 "configs service fails on upgrade"
Trying to update from `ed7c302f` to `v0.5.0-rc.0` fails as follows:

[code]

~Apparently the update via intermediate steps did work in my staging environment.~ No it didn't; I had stopped it updating due to the issue at https://github.com/cortexproject/cortex/pull/1802#issuecomment-562556715

[2020-01-10 19:34] jtlisi commented on #1972
https://github.com/golang-migrate/migrate/issues/34

Looks like this issue is common when upgrading from v1.

There are upgrade instructions here:
https://github.com/golang-migrate/migrate/issues/34

@bboreham I'm all for rolling back to v1 if you think that would be easier

[2020-01-14 08:07] pstibrany commented on #1932
Was fixed by #1933, should be closed.

[2020-01-14 08:21] pstibrany commented on #1927
It seems weird to me to add workarounds to Cortex for YAML syntax quirks. I understand it can be difficult to debug, but that's just life when using YAML. You can use JSON or Jsonnet or  to generate your YAML files.

[2020-01-14 10:04] pracucci commented on #1927
I see @pstibrany perspective, but I believe we should do whatever reasonable to improve the UX.

We recently added config validation support, so an easy option could be return a config validation error when the prefix is `""`. It should just be a matter of adding a check to `Config.Validate()` in `pkg/cortex/cortex.go`.

[2020-01-14 10:08] pstibrany commented on #1927
I was just about to add such check, but then realized that there are many other combinations we may want to check for (eg. `''`, or even strings with double or single quotes with them).

Instead of doing checks like that, I think it may be more useful to actually log HTTP prefix value on startup, to make it easier to users to spot the problem.

[2020-01-14 10:10] pracucci commented on #1927
May be realistic enforcing the prefix to start with `/`?

[2020-01-14 10:13] pstibrany commented on #1927
Yes, that looks like simple and good check to me.

[2020-01-14 10:14] pracucci commented on #1927
Errata corrige: to be empty or start with `/`.

[2020-01-14 11:04] #1932 closed

[2020-01-15 17:27] sdwire opened #1984 "Enhancement Request: Index on Cassandra, Chunks on S3?"
Our on-prem datacenter has an S3-compatible object store for cheap long-term storage, but - being an on-prem environment - we don't have AWS's DynamoDB available for indexes.

We'd like to use Cassandra for the indexes and S3 (compatible) Object Cache for chunks.  This combination would make Cortex the perfect HA solution for our Prometheus metrics, but the current documentation suggests this isn'

[2020-01-15 17:32] gouthamve commented on #1984
It is possible. Please follow this https://cortexmetrics.io/docs/guides/cassandra/ and specify, `object_store` as `s3`.

You'll need supply the S3 URL in the CLI:
[code]

[2020-01-15 17:48] sdwire commented on #1984
Good to know.  Thanks, gouthamve!

[2020-01-15 17:48] #1984 closed

[2020-01-15 20:15] abilioesteves opened #1985 "cassandra storage integration fails in local instance example"
I followed the provided [local instance cassandra integration example](https://github.com/cortexproject/cortex/blob/master/docs/guides/cortex-with-cassandra.md), and it appears to be failing to flush user series to Cassandra at [flush.go:257](https://github.com/cortexproject/cortex/blob/master/pkg/ingester/flush.go#L257).

[code]

Cortex has the following values for metric `cortex_cassandra_reques

[2020-01-15 21:25] jtlisi opened #1986 "Unfriendly Ruler ring flags"
Since the default RegisterFlags function is used, the help text that accompanies the flags is a bit confusing. For instance:

[code]

This flag above does not have a sensible description and must be defaulted to 1 by the ruler either way.

[2020-01-16 11:24] pracucci opened #1992 "Ring lifecycler logs several errors at ingester startup while replaying TSDB WAL"
When the experimental blocks storage is used, the ingester module initialization (`initIngester()`) may take several time to replay the WAL. Until the module initialization is not completed, the HTTP server loop is not started, so readiness probe requests (`GET /ready`) will hang. Once the module initialization is completed, all `GET /ready` requests are processed, but for most of them the deadlin

[2020-01-16 14:49] bboreham commented on #1972
I have managed to update my dev environment to 0.5.0-rc1 by following the instructions, thanks.

[2020-01-16 14:49] #1972 closed

[2020-01-16 20:01] cstyan opened #1993 "Optimize for regexp matchers in ingesters"
An optimization was made to TSDB's postings/series lookup to reduce query latency in cases where a regex is used for a label matcher. This [change](https://github.com/prometheus/tsdb/pull/602) (and the corresponding [issue](https://github.com/prometheus/prometheus/issues/2651)) should be ported to the ingester chunk lookup code, since the optimization was made to TSDB code and not PromQL.

cc @gou

[2020-01-17 06:05] VineethReddy02 commented on #1985
Thanks for reaching out. I am looking into this. I will update you once I find the solution for this.

[2020-01-17 11:54] bboreham commented on #1710
I forget who told me this, but the answer is to add `-mod=vendor` to `go build`.

[2020-01-17 11:56] bboreham opened #1995 "'make clean' downloads modules"
I found this surprising:

[code]

Perhaps related to #1710?

[2020-01-17 16:25] JohnCMcDonough commented on #1769
how was this issue fixed? I'm trying to use azure's cosmosdb as an index and chunk store. I'm seeing this issue when I go to shut down a cortex instance.

[code]

[2020-01-17 20:10] hmfritz commented on #1505
I'm having a similar problem. Any word on this? I'm getting .a no such host error from memcached_client and consul_client

[2020-01-17 20:11] JohnCMcDonough commented on #1769
I found the issue. I didn't add a chunk section to the schema config.

I now understand the linked issue. The Schemas aren't described in the reference config. I had to dig through the code to find my issue.

[code]

[2020-01-18 06:22] pracucci commented on #1769
Sorry for this. We merged the config file reference just a couple of days
ago and schema config is not documented yet. I will do my best to document
it soon, unless someone else is willing to work on it.

On Fri, Jan 17, 2020, 21:11 John McDonough <notifications@github.com> wrote:

[2020-01-19 11:13] VineethReddy02 commented on #1985
@abilioesteves The reason for this issue is we need to provide chunk prefix in the config file i.e
[code]
I will update the docs accordingly. Thanks for pointing this out.

[2020-01-19 19:51] abilioesteves commented on #1985
I imagined it was as documentation error...

I feel there is a shortage of documentation for the integration with Cassandra... Since I am right now working on a project to put Cortex on production with it, I will try to help improve that :)

Cheers!

PS: the suggested change indeed works :) Thanks!

[2020-01-20 08:25] pracucci opened #2003 "Set a max concurrency TSDB blocks compaction"
Every two hours (by default) each ingester cuts blocks from head nearly at the same time. Each ingester does it for any tenant, because we have 1 TSDB opened for each tenant. We're observing an increased latency in the ingesters when this occur (other than an increased memory usage): the more tenants are writing to an ingester, the more this problem is apparent.

We could call `DisableCompactions(

[2020-01-20 11:36] nrchakradhar commented on #1912
@jtlisi @bboreham Where can I find the list of errors so that I can attempt to fix them? Thanks

[2020-01-20 11:43] pracucci commented on #1912
@nrchakradhar Instead of manually spotting linting issues, you may just want to run `make lint` locally editing the `Makefile` to remove `--new-from-rev ed7c302fd968`. You may end up with many issues to fix; if you will work on this, could be wise to split the fixes into multiple PRs, in order to facilitate the reviewers' work.

[2020-01-20 13:40] joshmue opened #2007 "Cassandra: Failing host verification without IP SANs"
Hi!

I am trying to connect Cortex to Azure CosmosDB via the Cassandra API.
Using cortex 0.4.0 (target querier; `cassandra.ssl=true`) without `-cassandra.host-verification=false` yields:

[code]

This is apparently the same issue as https://github.com/gocql/gocql/issues/1232 in the used gocql library. The fix for this problem (https://github.com/gocql/gocql/pull/1310) was already merged into the g

[2020-01-20 14:24] nrchakradhar commented on #1912
@pracucci I will try running locally and see.

[2020-01-20 15:48] zendern commented on #1912
@nrchakradhar i just opened a PR to fix almost all the issues. I would have commented sooner but was on a plane. Take a look if you are interested or have any feedback.

[2020-01-20 23:29] khaines opened #2009 "If Index write fails or is throttled, chunk write is performed again; increasing costs on cloud providers."
The current flow in the flushing of a time series writes the chunk data first to storage, then the index data. This is probably a somewhat non-issue when the index & chunks are stored in the same storage service (DynamoDB, BigTable, etc), since the chunk write cost is close to free or is throttled along side the index write. However when the chunks are written to a blob storage service (S3, GCS or

[2020-01-20 23:35] khaines opened #2010 "Cassandra data provider has no retry policy options via config"
Currently the Cassandra data package immediately fails on any error from the storage layer, even retry-able/recoverable errors such as rate throttling or network flaps.

[2020-01-20 23:36] khaines commented on #2010
I'm testing a solution to this on my AKS cortex cluster and should have a PR out soon.

[2020-01-21 09:42] thojkooi commented on #2010
We are running into similar issues. I'm happy to try out your solution once you have a PR out.

[2020-01-21 10:11] #1985 closed

[2020-01-21 14:34] pracucci commented on #2007
@VineethReddy02 Are you willing to take a look at this?

[2020-01-21 14:38] #12 closed

[2020-01-21 17:04] #1986 closed

[2020-01-21 17:24] jtlisi opened #2014 "Injectable Prometheus Registry w/ Per User Functionality"
When reusing structs from various projects in the Prometheus ecosystem (Alertmanager, Prometheus, Thanos, etc...), it is common to come across a case where a Prometheus Registry must be injected. For structs that are instantiated on a per-user basis this can be tricky to resolve. If a struct is instantiated multiple times, passing the default registry will lead to an error. Currently, the two opti

[2020-01-21 18:07] zendern opened #2015 "Fix deprecated gRPC naming.Watcher"
Found as part of #1912 where we fixed most of the linting issues. The only outstanding item is as follows and has been ignored for now by adding a `//nolint:staticcheck`

[code]

https://github.com/cortexproject/cortex/blob/6774c628af69a54570e33f6a6d875c90f61f6d54/pkg/querier/frontend/worker.go#L60

This will have ripple effects that will go up into where we define the resolver

https://github.com

[2020-01-22 09:27] #1920 closed

[2020-01-22 15:57] JohnCMcDonough opened #2024 "Azure Blob - Invalid Chunk Checksum"
I'm running Cortex: `quay.io/cortexproject/cortex:v0.5.0-rc1` in Kubernetes.
[cortex-yaml-redacted.txt](https://github.com/cortexproject/cortex/files/4098145/kube-yaml-redacted.txt)
[cassandra-statefulset-redacted.txt](https://github.com/cortexproject/cortex/files/4098147/cassandra-statefulset-redacted.txt)

I've been testing out a variety of backends. I managed to get chunk and index storage runn

[2020-01-22 16:07] JohnCMcDonough commented on #2024
It's worth noting that I did a graceful rollout and all the cortex instances successfully migrated data to another ingester, and I still ran into #1521. I'm not sure if this is related to this issue.

[2020-01-22 16:08] sylr opened #2025 "Metrics labels make it hard to join"
Hi,

There is a difference of labels between `cortex_cache_hits` (name) & `cortex_cache_request_duration_seconds_count` (method and status_code) which make it hard to calculate the hit ratio.

`method` label of `cortex_cache_request_duration_seconds_count` is a combination of `name` + a method suffix so I believe it would make more sense to keep a name label and add a method label instead of conca

[2020-01-22 16:17] pracucci commented on #2025
The total number of keys requested to the cache is counted by `cortex_cache_fetched_keys`, so you can calculate the hit ratio with:

[code]

[2020-01-22 16:21] sylr commented on #2025
I came up with

[code]

[2020-01-22 16:49] bboreham commented on #2025
The `method` and `status_code` labels on `cortex_cache_request_duration_seconds` come from library code that does metrics, tracing, etc., so a little tricky to change. This is probably why it's  stuffing two labels into `method`.

I agree this is poor for Prometheus, although it works quite well in Jaeger.

While we're on the subject, `cortex_memcache_request_duration_seconds` is almost completely

[2020-01-23 16:34] flbla opened #2029 "Can't add alertmanager config"
Hello,

When I'm trying to add a new alertmanager config following: https://github.com/cortexproject/cortex/blob/master/docs/apis.md
I'm getting a 204 after POST the configuration.
But it doesn't work and in Alertmanager I can see the following log :
[code]
When I do a get on api/prom/configs/alertmanager:
[code]

There is no logs in configs Api.

my python code to post config
[code]

We are using

[2020-01-24 08:00] flbla commented on #2029
I tried to validate my config with the api/prom/configs/alertmanager/validate endpoint
I got a : `200 {"status":"success"}`

[2020-01-24 11:26] bboreham opened #2033 "Ruler never unregisters group metrics"
As a new group is created (e.g. on resharding when a ruler starts or stops) it registers metrics with Prometheus, but there is no code to unregister them when the group stops being used (e.g. on another resharding).  Over time this will build up a substantial number of useless metrics.

This makes it hard to observe how well the ruler is keeping up, since `time()-cortex_prometheus_rule_group_last_

[2020-01-24 11:52] bboreham commented on #2033
Upstream issue https://github.com/prometheus/prometheus/issues/6689

[2020-01-24 12:08] pracucci commented on #2014
We had the same problem while building the experimental blocks storage and @pstibrany came up with a solution which should be generic enough to be reused. Please look at the [`metrics_helper.go`](https://github.com/cortexproject/cortex/blob/master/pkg/util/metrics_helper.go) and its usage across the code to see examples.

[2020-01-24 14:04] pstibrany commented on #2029
`alertmanager_config` field is supposed to contain a string with YAML configuration, not JSON object. (Given that JSON is a valid YAML, you should be able to encode `config` field into JSON and put that string into `alertmanager_config`)

[2020-01-24 14:31] flbla commented on #2029
I converted my payload like this :
[code]
It seems alertmanager_config, rules_files and template_files have to be defined not in config.

[2020-01-24 14:33] pstibrany commented on #2029
Does it work for you now or are you still running into a problem?

[2020-01-24 14:34] jtlisi commented on #2014
This looks great for this use case. Closing the issue

[2020-01-24 14:34] #2014 closed

[2020-01-24 14:38] pstibrany commented on #2024
To avoid problems with ingesters that don't unregister themselves from the ring, you may want to increase `terminationGracePeriodSeconds` for your pod. It defaults to 30 seconds. It should be long enough to 1) give ingester chance to perform handover of data. This can be disabled by `-ingester.max-transfer-retries=0`, 2) flush data from memory to storage (this can take minutes with lot of data), 3

[2020-01-24 14:45] flbla commented on #2029
I can add alertmanager config, so yes
but I think the doc is not up to date: https://github.com/cortexproject/cortex/blob/master/docs/apis.md

I defined my POST to /api/prom/configs/alertmanager like this :
[code]

[2020-01-24 16:59] pracucci commented on #1783
A note about how this issue relate to the recent `make doc` tool:

We recently merged the PR #1952 to automatically generate the [config file reference documentation](https://cortexmetrics.io/docs/configuration/configuration-file/) but this does *not* include the schema config file documentation. Due to its nature, the tool can't be used to extract the schema config. Moreover, the schema config re

[2020-01-24 20:02] JohnCMcDonough commented on #2024
That might have been part of it! My current manifests are kinda janky. I just threw them together quickly so I could move on from testing in docker to k8s. That grace period would especially be an issue since I don’t think I added any readiness probes.

I’ll be sure to test the changes when I get back to the office on Monday. I was pretty sure I was seeing corruption even without pods restarting,

[2020-01-25 18:06] friedrich-at-adobe opened #2035 "Configs database can contain secrets in plain text"
Tenant alertmanager config can contain secrets like webhooks url or pagerduty keys.
That config is saved clear in the database (without encryption)

A compromise of the database could potentially expose all the secrets of the tenants.

[2020-01-25 18:18] friedrich-at-adobe opened #2036 "Configs Alertmanager webhooks urls can be abused"
Alertmanager config defines webhooks urls
https://prometheus.io/docs/alerting/configuration/

Those urls are free form so a tenant could use cortex as an attack vector to any url endpoint reachable by alertmanager (local or in the Internet)

First idea: a way to whitelist the urls.

[2020-01-27 08:28] pracucci commented on #1722
I would agree with you if this wouldn't be a breaking change. Given this is a breaking change which doesn't just impact Cortex but also its clients (ie. Grafana config), I've some doubts about it.

Following up on this alternative solution, an option may be just split the HTTP prefix config into:

- `-http.prometheus-prefix` (defaults to `/api/prom`)
- `-http.alertmanager-prefix` (defaults to be d

[2020-01-27 09:42] bboreham opened #2037 "Cortex should tell remote write clients to slow down on rate-limiting"
Currently, when the ingest rate limit is hit for a tenant, Cortex goes immediately from accepting all data to dropping all data.  The dropped data is lost permanently because the mechanism is to return a 500 error.

I propose Cortex should have an inbetween state where the return value indicates that the sender should slow down, but does not cause the data to be dropped. For instance it could retu

[2020-01-27 09:53] bboreham commented on #1722
It's not a breaking change if the default under `-target=alertmanager` retains the existing route in parallel with the new way.

[2020-01-27 10:01] pracucci commented on #1722
If we retain the existing rule in parallel with the new one, how do we solve the original problem:

[2020-01-27 10:38] bboreham commented on #1722
By having different defaults in single-binary mode.

[2020-01-27 10:43] pracucci commented on #1722
Not sure about this. Looks a bit confusing have different defaults whether you run Cortex in single binary mode or microservices.

[2020-01-27 14:46] csmarchbanks commented on #2037
I believe current Prometheus only retries on 5XX errors, though perhaps it should also retry 429.

[2020-01-27 15:53] owen-d opened #2038 "frontend.cache-split-interval is unnecessary and adds misconfiguration pitfall."
## What
The [`frontend.cache-split-interval`](https://github.com/cortexproject/cortex/blob/master/pkg/querier/queryrange/results_cache.go#L41) is a ripe target for reducing configuration complexity in cortex. It's currently used to generate cache keys and is downstream of the SplitBy middleware.

I believe it should instead inherit from the SplitBy configuration in order to guarantee they're align

[2020-01-27 16:37] jtlisi commented on #2035
This is a duplicate of #1700

[2020-01-27 16:37] #2035 closed

[2020-01-27 17:24] flbla commented on #2029
#2039

[2020-01-28 01:08] Wing924 opened #2041 "allow store password in file"
### WHAT

Introduce `-cassandra.password-file` CLI flag and `cassandra.password-file` in storage_config.

### WHY

Currently, we can pass cassandra passowrd by config file or CLI flag.
Neither of them are good to keep secret while keeping secret in a file is good.

Prometheus have related functions:

[code]

[2020-01-28 17:00] #2029 closed

[2020-01-28 17:14] pracucci commented on #1736
I do understand the use case but, given the minimum extra effort to also set the `cluster` label, I'm wondering if it's worth making it optional.

I'm thinking about cases where a tenant just have 1 HA pair (and thus technically wouldn't need the `cluster` label), then after some time setup another HA pair (I bet copy-pasting the config already in use) and forget that now the `cluster` label is re

[2020-01-28 17:55] pracucci opened #2045 "Don't forget about lack of MaxConcurreny in PromQL the next Prometheus dep update"
This PR prometheus/prometheus#6701 introduced a kind of hidden change in behavior of PromQL: `MaxConcurrency` option is Noop if you don't use active tracker, which we don't.

When we'll update the Prometheus dep, we'll have to handle it. Configure `ActiveQueryTracker` may be the simplest solution.

Reported by @bwplotka in https://github.com/thanos-io/thanos/issues/2064.

[2020-01-28 18:25] cstyan commented on #1736
This was my point against making the cluster label optional as well.

[2020-01-28 18:48] jtlisi commented on #1736
Would a middle ground be adding a default cluster label for anything that does not include one?

[2020-01-28 20:33] cyriltovena opened #2046 "Memory allocations in batch.newMergeIterator"
I was on-call today and some queries (very high cardinality) causes allocations and therefore GC rate to go crazy, we're running ab3e8360fe30150a516448e4c3bae596dc4d8a17

here is the snapshot of traces alloc space:

![image](https://user-images.githubusercontent.com/1053421/73302266-54d6d080-41e2-11ea-924a-3e5bc8c9f2d6.png)

And a drilldown on the code

![image](https://user-images.githubuserconte

[2020-01-28 23:09] bboreham commented on #2046
Duplicate of #1195 ?

[2020-01-29 08:45] #1825 closed

[2020-01-29 08:48] pracucci commented on #1736
Isn't risky? If the user has multiple HA pairs and erroneously forget to set the cluster label, it would take time to find the mistake because the deduplication will work but not in the expected way.

[2020-01-29 09:01] pracucci opened #2048 "Log to stdout in unit tests"
I've noticed that the Ingester WAL test has introduced an override to log to stdout. Given it's done in a `init()` function, this applies to any `pkg/ingester` test:

https://github.com/cortexproject/cortex/blob/032f3a83f5f057b913a2ac0c4fdfe01e5aceea57/pkg/ingester/wal_test.go#L14-L16

I personally find it both useful and noisy. While developing and running unit tests, I frequently find myself com

[2020-01-29 09:56] bboreham commented on #2048
I'm a 'no'.  I agree it's occasionally useful; we could add a command-line flag to turn logs on in every package's tests.

[2020-01-29 10:48] pstibrany commented on #2048
I also only add these during development. I wouldn't mind using `testing.Verbose()` as a flag whether we want this or not.

[2020-01-29 12:31] pstibrany commented on #2003
I have a code ready at https://github.com/pstibrany/cortex/tree/tsdb-blocks-compaction-concurrency, but waiting for PR #1970 to be merged first.

[2020-01-29 13:13] cyriltovena commented on #2046
Very much related yes ! Feel free to close.

[2020-01-29 15:44] #2046 closed

[2020-01-29 15:47] bboreham commented on #1832
Happened again when Consul blipped.  Same stack trace:

[code]

[2020-01-29 16:04] oddlittlebird opened #2050 "Docs: Getting Started"
A Getting Started topic helps a brand new user get started with software. It should be like "Hello, world!" in programming. The current Getting Started topic is way too advanced.

Introduction: Either in this topic or another, you need to explain what Cortex is and what a person might use it for. This can be brief and link to other pages, but it needs to be there, because thanks to Google, every p

[2020-01-29 17:17] jtlisi commented on #2048
I have not preference either way. It's something I can work around.

[2020-01-29 17:29] JohnCMcDonough commented on #2024
I did more testing around this, scaling back to a single instance. I'm still running into these issues even after updating my deployment manifest with all the recommended things such as pod-affinity, termination grace period, readiness probe, max-surge and max-unavailable, etc.

After encountering issues, I started scraping Cortex metrics from a prometheus instance so I could see what was going on

[2020-01-30 02:32] jtlisi commented on #1956
I haven't been able to replicate this behaviour. @canghai118 if you could run `pprof` on a ruler when it is exiting and share the trace, I would be really interested in seeing it.

[2020-01-30 06:55] Wing924 opened #2053 "distributor use too much more memory after upgrade to v0.6.0"
The distributor use much more memory and get OOM after upgrade from v0.4.0 to v0.6.0.

<img width="1292" alt="スクリーンショット 2020-01-30 15 54 12" src="https://user-images.githubusercontent.com/8895721/73426904-e1b39280-4378-11ea-90f0-4d4cc30fdf47.png">
red line is the time I upgrade the cortex.

[2020-01-30 08:09] Wing924 commented on #2053
`go_memstats_heap_inuse_bytes` metrics
<img width="638" alt="スクリーンショット 2020-01-30 16 51 09" src="https://user-images.githubusercontent.com/8895721/73430390-4a9f0880-4381-11ea-80ea-a8318c5ee959.png">

[2020-01-30 12:11] pstibrany commented on #2024
/cc @khaines

[2020-01-30 14:35] codesome commented on #2048
Whoops. I only wanted to initialize the logger in the tests as they were panicking without that and did not think much about the effect of stdout.

[2020-01-30 15:51] JohnCMcDonough commented on #2024
I think the dropped samples are a red herring. I think we had bad relabel config in our source prometheus, and our relabels created duplicated metrics.I think that's what the `cortex_ingester_ingested_samples_failures_total` was from. We're still noticing constant `invalid chunk checksum` though. I tried setting
[code]
to see if that would help, but it didn't. @pstibrany, if you maybe have a refer

[2020-01-30 16:43] #2038 closed

[2020-01-30 16:47] #2048 closed

[2020-01-30 17:26] shaikatz commented on #1369
This is still happening.

[2020-01-31 05:27] shokada commented on #1684
Probably, chunk and index tables should only be created in the DB specified by ```store```.
https://github.com/cortexproject/cortex/blob/master/pkg/chunk/table_manager.go#L231

So, it seems that ```store``` and ```object_store``` need to be the same.

[2020-01-31 09:19] bboreham opened #2058 "rulers are never removed from the ring if evicted"
Basically the same problem as #1521, but rulers have no in-memory state to flush so it should be easier to ignore (or auto-forget) dead ones.  Maybe we should worry a little about a split-brain state, but surely the worst case is doubling up evaluation which isn't fatal.

The error message is:
[code]

[2020-01-31 15:27] jtlisi opened #2062 "Separate config file flags"
`-runtime-config.file` and `-config.file` seem like they could be interchangeable to me. I think there is a case to be made the most of the time you want to use a single config file for Cortex and not one for initialization and another for reloads.

[2020-01-31 15:30] pracucci commented on #2062
Agree. The only downside I see of merging into live reloading the `-config.file` is that for the final user it's difficult to understand which config options support live reloading and which not. Having a separate file for the live reloading makes it obvious.

[2020-01-31 15:31] pracucci commented on #2062
_If I'm not mistaken, @pstibrany worked on this and may have opinions._

[2020-01-31 16:17] jtlisi commented on #2062
If the `runtime-config.file` is not set, we could default to the `config.file`

[2020-01-31 16:18] pstibrany commented on #2062
That wouldn’t work currently, as those two files have different content.

[2020-01-31 18:18] jtlisi commented on #2062
I see, I guess that won't work. I think long term we should have hot reloads on a single config file. But in the meantime there is not much we can do.

[2020-02-01 21:56] #2010 closed

[2020-02-02 19:34] bboreham opened #2068 "Selectively disable indexing of labels"
**This issue is intended as a Google Summer of Code project.**

The idea is that Cortex should have config saying "do not index any label `kubernetes_io_arch`", then ingester skips indexing it and querier knows if it does appear in a query to fall back to scanning each chunk.

Rationale: some labels are not very selective, or very rarely come up in queries. Not indexing them reduces IO and storage

[2020-02-03 06:48] pracucci commented on #1323
We currently have an experiment support for the [blocks storage](https://cortexmetrics.io/docs/operations/blocks-storage/), based on Prometheus TSDB and Thanos (mainly the Thanos shipper and bucket store).

_I'm going to close this issue since, even if not production-grade, the features described in the issue are already supported._

[2020-02-03 06:48] #1323 closed

[2020-02-03 07:04] pracucci opened #2069 "Shift from a per-tenant to a per-querier in-memory index cache in the blocks storage"
In the blocks storage implementation, we currently instance a new Thanos in-memory index cache for each tenant:
https://github.com/cortexproject/cortex/blob/master/pkg/querier/block_store.go#L355-L358

This causes the in-memory index cache max size to be unpredictable, given each tenant index cache has a max size, but the number of tenants may grow over the time.

We should shift from a per-tenant

[2020-02-03 08:18] pstibrany commented on #2069
From what I can see in Promethus/Thanos source code, it's usually this:

[code]

Not very safe at all.

[2020-02-03 08:57] pracucci commented on #2069
So, the block ID is composed by two components: timestamp and a random value. The seed for the random value is based on the timestamp, so it looks the value of the entropy is pretty low being always the same for the same timestamp.

@codesome Are you aware of this? May we improve the entropy seed in TSDB, to actually have a different block ID if 2 blocks are compacted at the same nanosecond (by di

[2020-02-03 09:06] pstibrany commented on #2069
It would be best if we could pass our own reader with random values. While doing that, it would be great to fix the naming, as this is not "entropy" – it's just object returning random values – "entropy" means something completely different.

[2020-02-03 10:00] pracucci commented on #2068
Do you have any estimation on the IO/storage reduction with this optimization? Would be interesting to understand the benefits of such effort.

[2020-02-03 11:04] codesome commented on #1876
Bump, to remove the stale mark.

If such a case is is fine (as described above), we can close this issue, else keep it open to be fixed.

[2020-02-03 11:11] pracucci commented on #1849
Closing because a duplicate of #2069 .

[2020-02-03 11:11] #1849 closed

[2020-02-03 11:12] pracucci commented on #1869
I'm closing it cause the `build-image` has been updated recently and haven't faced a similar issue. Feel free to reopen it in case you're still experiencing it.

[2020-02-03 11:12] #1869 closed

[2020-02-03 11:14] #1832 closed

[2020-02-03 11:21] pracucci commented on #1142
I've just tested the version in `master` and looks working as expected:
`{"status":"success","data":{"resultType":"matrix","result":[]}}`

_I'm going to close it. Feel free to reopen it if you're still experiencing it._

[2020-02-03 11:21] #1142 closed

[2020-02-03 11:57] cyriltovena commented on #1712
I just need to update open tracing now.

[2020-02-03 11:58] pstibrany commented on #1787
I totally forgot there is an issue for this. Closed by #1809 and #2034.

[2020-02-03 11:58] #1787 closed

[2020-02-03 11:59] pstibrany commented on #1525
#1749 is now in Cortex 0.6.0, so this issue can be closed.

[2020-02-03 11:59] bboreham commented on #2068
On our system using AWS DynamoDB, indexes are about 70% of IO cost and 37% of storage cost.
The number of labels varies widely, but suppose we could stop indexing 20% of them, that would give a 14% reduction in IO and 7% in storage.

[2020-02-03 12:01] #1525 closed

[2020-02-03 12:06] pracucci commented on #1800
The PR has been merged, so I'm closing this issue.

[2020-02-03 12:06] #1800 closed

[2020-02-03 12:19] bboreham commented on #1507
Related: #2068

[2020-02-03 16:24] khaines commented on #2024
I've duplicated the error, but the investigation into the root cause is still underway.

[2020-02-03 18:07] pracucci commented on #1168
@codesome @owen-d Is this still valid? If not, may you close it, please?

[2020-02-03 18:37] jtlisi commented on #2033
https://github.com/prometheus/prometheus/pull/6693

Now that this has been merged, we should be able to update our vendored prometheus version to solve this issue.

[2020-02-03 18:44] #1376 closed

[2020-02-03 22:10] khaines commented on #2024
Found the cause. A buffer was passed by value vs by reference, so the result read by the checksum validator was always 0. PR to correct this is imminent.

[2020-02-04 12:57] bboreham commented on #2033
NB we had a request to vendor only tagged versions of Prometheus, which would imply waiting for 2.16 to ship.

[2020-02-04 13:47] codesome commented on #1168
Frontend tests seem to be changed and there is no longer `TestSplitByDay`. I am closing this for now and if there are tests to be improved we can open another specific issue for that.

[2020-02-04 13:47] #1168 closed

[2020-02-04 14:40] #1720 closed

[2020-02-04 17:43] pracucci commented on #1375
Closed by #1421 and #1945.

[2020-02-04 17:43] #1375 closed

[2020-02-05 00:59] Wing924 opened #2077 "cannot set -ingester.chunk-encoding by config file"
The `-ingester.chunk-encoding` can only set by flag and it can't be set by config file.

https://github.com/cortexproject/cortex/blob/4e2dd12de6ca921f4f329a6aa037ed19be7bb605/pkg/chunk/encoding/factory.go#L16-L28

[2020-02-05 06:52] codesome commented on #1823
^ still relevant. @pracucci: can we add `keepalive` to this?

[2020-02-05 06:52] gouthamve commented on #1681
In the last community call, we discussed this and @tomwilkie raised a few objections to the proposal. I am trying to consolidate the discussion here and want to see how others feel about it:

See design doc here: https://docs.google.com/document/d/1avgFHm4bOlP_h692tlHudBaTFCXHSo4Gt1SE66as1aw/edit

Now, the idea is that people want a myriad number of storage plugins from MySQL to TiKV to Elasticsea

[2020-02-05 07:48] pracucci commented on #2003
@pstibrany The PR #1970 has been merged.

[2020-02-05 07:52] pracucci commented on #2033
We had that request, but I feel we haven't talked much about it. I'm personally dubious about it. Forcing the version in `master` to always match a tagged version of Thanos and Prometheus may significantly slow down the development, especially on experimental features like the blocks storage.

[2020-02-05 09:11] feliu commented on #1369
Yes, I also need to remove the tags to make it work...

[2020-02-05 10:16] pracucci commented on #2077
True. I believe it's not a trivial change to do because `DefaultEncoding` is a global variable and not bind to a config struct. If you have a good idea to add YAML config in a safe and clean way, I would love to review that PR.

[2020-02-05 10:41] #1712 closed

[2020-02-05 11:41] bboreham commented on #1948
Happened again today; I didn't get to it in time to figure out where it was stuck.

[2020-02-05 11:47] pracucci commented on #1681
I'm in favour of the plugin system.

The plugin system allows external contributors to faster iterate over the support of new backend storages without waiting for Cortex maintainers to review it (and in some cases we may have no Cortex maintainer with enough knowledge on the specific storage to correctly review it).

The plugin system doesn't prohibit us to merge it upstream once it's consolidated

[2020-02-05 11:48] bboreham commented on #1557
Emitting a bunch of metrics which are all zero strikes me as wasteful, though this is by no means the only place that Cortex does it.

[2020-02-05 11:48] bboreham commented on #1812
let's keep this alive at least a little longer.

[2020-02-05 15:17] #1782 closed

[2020-02-05 22:38] jtlisi commented on #1557
Ever since #1571, all of the rule group metrics in cortex have been populated. I think this issue can be closed. I agree there is room for improvement on null metrics generally.

[2020-02-06 02:48] derekssmith commented on #1939
I found this issue because I feel like I am missing something.  I was expecting to provide an Org ID when writing metrics in from remote clusters, but not when querying cortex.  The documentation states you can run "globally aggregated" queries across all data, however if I have to provide an Org ID when querying how is that possible?  If the read and write have to be scoped by Org ID, how can I c

[2020-02-06 06:17] codesome opened #2084 "Automatic repair for the WAL in ingester"
Currently, we don't have any repair mechanism for the WAL. If the WAL gets corrupt due to any reason, ingester will fail to start. Also during an ingester crash (like for OOM), it is very likely that the last WAL segment which was being appended to gets corrupt (this was reported on the slack).

I plan to have the repair mechanism similar to Prometheus: Delete all the WAL segments from the point w

[2020-02-06 07:51] pracucci commented on #1939
Cortex currently doesn't allow to run cross-tenants (tenant = user = org) queries. Each tenant is fully isolated from the other one.

When the documentation mention "globally aggregated queries" what we mean is that, given 1 tenant, you can have multiple Prometheus servers (ie. a server in each region where you operate), all remote writing to the same Cortex with the same tenant ID, and then you c

[2020-02-06 07:58] #2024 closed

[2020-02-06 10:15] bboreham commented on #1557
Nit-picking, the exact metrics named are no longer exported at all by Cortex, but prefixed ones like `cortex_prometheus_rule_group_duration_seconds` are now exported per-user.  Thanks!

[2020-02-06 10:15] #1557 closed

[2020-02-06 10:38] matsuu opened #2085 "fatal error: fault"
cortex version: 0.4.0
golang version: 1.12.6 linux/amd64
os verison: Amazon Linux release 2
kernel version: 4.14.128-112.105.amzn2.x86_64

[code]

frequency:

[code]

[2020-02-06 13:02] derekssmith commented on #1939
Ah okay that makes sense.  I was mis-understanding the Org Id.

[2020-02-06 13:28] bboreham commented on #1939
Just to link the existing issue for cross-tenant queries #923

[2020-02-06 18:42] lukipro commented on #923
Are the any plans to add support for a way to query all tenants at once?

We could supposedly have a dedicated header to do just that:
**"X-Scope-Administrator": "true"**.

Or perhaps a reserved value of the current one like:
**"X-Scope-OrdId": "administrator"**

[2020-02-07 13:02] ThePants999 opened #2090 "Support multiple regions with disjoint ingesters and DB replication"
Raising at @gouthamve request after discussion in Slack - thanks again Goutham!

We need to monitor a highly distributed application that's split across multiple geographic regions. We'd like to be able to do this using a single Cortex cluster, but to avoid unnecessary inter-region network traffic, we'd like the write path to be zone-aware so that distributors prefer to select an ingester that's l

[2020-02-07 19:01] shelby-moore commented on #1827
Hey! I'm curious when you think this work will be tackled? Will it be once the TSDB support has been moved out of the experimental phase?

[2020-02-07 20:29] derekssmith opened #2094 "Read 5000 live rows and 5000 tombstone cells for query SELECT * FROM naveego.cortex_weekly_2614 ..."
I am trying to get a HA instance of cortex up and running for my organization.  I am running the setup in a Kubernetes cluster, and using Cassandra as the storage engine.  I am having some performance issues that make me think I have something setup incorrectly.  I am seeing quite a few errors in the querier like this.

[code]

The only thing I can seem to find are these warning messages in the Ca

[2020-02-09 09:26] weeco commented on #2090
Duplicate of https://github.com/cortexproject/cortex/issues/612

[2020-02-09 12:37] Syn3rman commented on #2068
Hey,
I'm a junior year cs undergrad interested in working under cortex for GSoC this year.
I've gone over the cortex intro and deep dive videos and also the architecture overview, so how should I proceed?
Thanks!

[2020-02-09 12:43] ThePants999 commented on #2090
Agree there's some overlap, but not duplicates. #612 is saying, "if I have two ingesters in the same availability zone, avoid distributing the same data to both of them". This one is saying, "prefer ingesters in the same region as the distributor".

[2020-02-10 11:15] vaisakhb opened #2098 "Config validation for cortex"
I am not able to see any data in my long term store(minio). Below is the ingester configuration which I am using. Can we validate the config during the startup? ingester came up  even when I used incorrect credentials.

Even the ingester logs doesnt show anything

Is there anything wrong with the configuration ?

[2020-02-10 13:18] derekssmith commented on #2094
I updated my deployment based on this repo: https://github.com/kanuahs/cortex-demo/tree/master/k8s-cassandra and it seems to be much better.

My suspicion is the fix came from changing the table naming setup.  I had set them all to start from `2020-01-01`.  The configuration below has them scattered.
[code]

Things seem to be running much better now.

[2020-02-10 14:42] pracucci commented on #1827
Not necessarily. We've started brainstorming on it, but no real work has been done yet. The migration path from chunks to blocks storage involve two distinct tasks:
1. Add queriers the capability to read from the chunks long term storage before a specific timestamp and blocks storage after that
2. A (standalone) migration tool to create and upload blocks with series read from the chunks storage

I

[2020-02-10 19:15] jtlisi opened #2107 "Separate ObjectClient interface"
This is a followup to a recent discussion that occurred in #2049.

Between S3/GCS/Azure/BoltDB, there is a lot of duplicated code between our chunk object stores. Specifically the `GetChunks` and `PutChunks` functions. After #2049, each of these backends supports the follow functions:

[code]

For each of the Object backend stores, the current `ObjectClient` interface is implemented using the abov

[2020-02-11 09:47] vaisakhb opened #2110 "Enable flags for using different index and object store"
As of cortex v0.6.1,  there are no config flags available to use different index and object store and it can only be done through config file. Having config flags will be more helpful.

[2020-02-11 10:37] bboreham commented on #1911
I don't think this should be closed.

[2020-02-11 10:47] pstibrany commented on #1911
Distributor now sorts labels, if they are not sorted (most of the time they are). https://github.com/cortexproject/cortex/pull/1964

[2020-02-11 11:14] pstibrany commented on #1911
Btw, this checked didn't work before (it never set `lastLabelName` to anything else other than `""`), which is why I started to look at it.

[2020-02-11 18:03] gouthamve opened #2115 "Make each ingester use its own key in the ring"
Using the same key for all ingesters is a huge bottleneck observed by us and others and makes CAS on Consul fail. See the hoops we had to jump through to make it scale: https://grafana.com/blog/2020/02/11/how-were-abusing-hashicorps-consul-at-grafana-labs/

[2020-02-12 02:35] Wing924 commented on #2053
workaround:
* change prometheus batch size from 10k to 2k
* chnage GOGC from 100 to 30
* add nginx as frontend and set `limit_req`

[2020-02-12 07:58] Wing924 opened #2118 "support many backends for storing configs"
## What

Let's support MySQL, consul, etcd and Object Storage for storing configs.

## Why

Now configs backend only support PostgreSQL and in memory.
Since in memory is only for testing, PostgreSQL is the only choice to run on the production.

The PostgreSQL is a very good DBRMS but it's overkill for storing configs because the configs data model is simple and don't have any relations. In additio

[2020-02-12 13:52] paulcostinean commented on #1731
This can probably be closed. The [docs](https://github.com/cortexproject/cortex/blob/master/docs/configuration/config-file-reference.md) are much better now.

[2020-02-12 14:07] #1731 closed

[2020-02-13 05:20] jtlisi commented on #2098
Did try querying cortex for data or just inspect dynamo? It will take some time for the ingesters to flush data to the backend.

[2020-02-13 10:25] codesome commented on #1904
Fixed by https://github.com/cortexproject/cortex/pull/1921

[2020-02-13 10:25] #1904 closed

[2020-02-13 10:27] codesome commented on #1903
Keepalive? Or does the handling of `LEAVING` state in https://github.com/cortexproject/cortex/pull/1921 is all that we need?
/cc @pstibrany

[2020-02-13 12:17] pracucci commented on #2115
Maybe it's a crazy idea, but given there's no strong requirement for ring data persistency (ie. you can run Consul in memory and if it's restarted no disaster occurs) have you ever considered using memcached (key with no TTL) for the ring as well?

[2020-02-13 14:50] pstibrany commented on #1903
Yes, I think #1921 helps here. Also #2127 should help – on shutdown, memberlist KV now waits a little to push out all messages.

We however still have different problem related to reusing same names. I'll make a new issue for it.

[2020-02-13 14:57] pstibrany opened #2130 "When using (experimental) memberlist KV, ingesters reusing same names may not be able to join memberlist cluster for some time"
Memberlist library uses two options to deal with nodes that don't reply back:

- GossipToTheDeadTime – this is interval (defaults to 30s) saying for how long should memberlist node try to gossip to node which doesn't reply (in a hope that node comes back). After this time expires and node is still dead, memberlist library removes the node from memory, and loses information about it.

- DeadNodeRec

[2020-02-13 14:57] pstibrany commented on #1903
Done: https://github.com/cortexproject/cortex/issues/2130

[2020-02-14 05:17] chris-ng-scmp commented on #1505
Me too, I have the same issue, any fix?

[2020-02-14 09:10] chris-ng-scmp opened #2133 "Can't use Redis as cache server"
HI, I am new to Cortex and working on a POC see how it work and suitable for my infrastructure,
while I am testing to config with Redis cache server I got the following errors when I do query.

[code]

I am using Cortex v0.6.1 and Redis server version 5

And this is the config file I am using.

[code]
[code]

[2020-02-14 10:14] bboreham opened #2134 "Background cache batching is too coarse"
PR #1011 changed `backgroundCache` from storing one key at a time with a queue of max size 10,000 to storing a batch at a time, but a single batch can have any number of keys in it.  For instance a query which loaded 100,000 chunks will create one batch of 100,000 keys.

This has the following downsides:
 * 100,000 keys will be processed serially while the other `backgroundCache` goroutines sit id

[2020-02-14 11:21] tomwilkie opened #2136 "Add integration test for the getting started guide"
Just discussed with @pracucci - an integration test that ensure docs/getting_started.md always works.

[2020-02-14 11:22] tomwilkie opened #2137 "Add integration tests for cassandra, bigtable and etcd"

[2020-02-14 14:54] hmfritz commented on #1505
@chris-ng-scmp The thing that fixed it for me was changing the resolver in nginx-config.yaml to kube-dns.kube-system. I'm using the helm chart.

[2020-02-14 19:04] #2062 closed

[2020-02-17 12:07] pracucci commented on #1512
I think the solution we've already started adopting is to pass `prometheus.Registerer` to services and register metrics on that, avoiding `promauto`.

[2020-02-17 14:19] pracucci commented on #2133
This issue may be caused when `RedisCache.Fetch()` is called with an empty list of `keys`. I'm wondering which is the code path leading to it.

[2020-02-17 14:21] #1842 closed

[2020-02-17 15:37] #2130 closed

[2020-02-17 17:37] #2107 closed

[2020-02-17 18:31] #2136 closed

[2020-02-18 07:16] pstibrany opened #2149 "Cannot run integration tests on macOS X with Docker Desktop version 2.2.0.3"
After removing `CORTEX_INTEGRATION_DIR` env variable and upgrading Docker Desktop to version 2.2.0.3, I can no longer run integration tests on macOS X.

I was advised to add `/var/folders` to the "File Sharing" directories, but I'm unable to do so, since Docker always resolves it to `/private/var/folders` instead, and I cannot edit this afterwards.

<img width="1152" alt="Screenshot 2020-02-18 at

[2020-02-18 07:18] pstibrany commented on #2045
Handled in PR #2088. Fortunately Prometheus devs also decided to actually remove `MaxConcurrency` field, so it was hard to miss.

[2020-02-18 07:19] pstibrany commented on #2003
Waiting for #2088 now.

[2020-02-18 07:24] pstibrany opened #2150 "Ingester got stuck in PENDING state during rollout"
We have observed this issue in our test environment recently.

- ingester has auto-join set to 30 seconds.
- when auto-join timer fires, we check if Ingester is in `PENDING` state, and if it is, we let it join the ring.
- If it isn't in PENDING state, we do nothing, not even restart the timer.

What happened is this: when the auto-join timer fired, ingester was in `JOINING` state, trying to accept

[2020-02-18 08:32] sun-iot opened #2151 "I don't know what the problem is mainly。So i need help"
This is the case. I configured the address of my own server on Prometheus, and the server can obtain Prometheus monitoring data normally.But when the server forwards the data to Cortex, it has this problem.

Here is the screenshot。
![error](http://www.source.sun-iot.xyz/image/cortex/error.png)

[2020-02-18 08:46] pracucci commented on #2151
What version of Prometheus are you running and can you show the remote write configuration (make sure to remove any sensitive data)?

[2020-02-18 11:08] #664 closed

[2020-02-18 11:08] #748 closed

[2020-02-18 11:08] #1094 closed

[2020-02-18 11:08] #1388 closed

[2020-02-18 11:08] #1820 closed

[2020-02-18 11:08] #1037 closed

[2020-02-18 11:08] #1846 closed

[2020-02-18 11:08] #1872 closed

[2020-02-18 11:08] #1880 closed

[2020-02-18 11:08] #1881 closed

[2020-02-18 12:53] #1598 closed

[2020-02-18 12:53] #1600 closed

[2020-02-18 12:53] #1643 closed

[2020-02-18 12:53] #1671 closed

[2020-02-18 12:53] #1696 closed

[2020-02-18 12:53] #1419 closed

[2020-02-18 12:53] #837 closed

[2020-02-18 12:53] #1707 closed

[2020-02-18 12:53] #1774 closed

[2020-02-18 12:53] #467 closed

[2020-02-18 12:53] #1791 closed

[2020-02-18 12:53] #475 closed

[2020-02-18 12:53] #619 closed

[2020-02-18 12:53] #635 closed

[2020-02-18 13:10] bwplotka commented on #1672
This would be still nice. (:

We are just about to start putting more work and design into this piece from Thanos perspective.

BTW how Query parallel/sharding is going?

cc @pracucci @metalmatze

[2020-02-18 13:49] weeco commented on #1758
/Remove stale

[2020-02-18 13:53] #1162 closed

[2020-02-18 13:53] #1192 closed

[2020-02-18 13:53] #1220 closed

[2020-02-18 13:53] #1209 closed

[2020-02-18 13:53] #1245 closed

[2020-02-18 13:53] #1058 closed

[2020-02-18 13:53] #1264 closed

[2020-02-18 13:53] #309 closed

[2020-02-18 13:53] #1294 closed

[2020-02-18 13:53] #1313 closed

[2020-02-18 13:53] #1317 closed

[2020-02-18 13:53] #1318 closed

[2020-02-18 13:53] #1352 closed

[2020-02-18 13:53] #1368 closed

[2020-02-18 13:53] #921 closed

[2020-02-18 13:53] #1467 closed

[2020-02-18 13:53] #1490 closed

[2020-02-18 13:53] #1494 closed

[2020-02-18 14:23] #332 closed

[2020-02-18 14:23] #331 closed

[2020-02-18 14:23] #604 closed

[2020-02-18 14:23] #974 closed

[2020-02-18 14:23] #528 closed

[2020-02-18 14:23] #1033 closed

[2020-02-18 14:23] #1023 closed

[2020-02-18 14:23] #1054 closed

[2020-02-18 14:23] #915 closed

[2020-02-18 14:23] #1110 closed

[2020-02-18 14:23] #1135 closed

[2020-02-18 17:12] bwplotka commented on #2045
Awesome. We will upgrade Prometheus deps, probably after this being done: https://github.com/prometheus/prometheus/pull/

Cheers! :beers:

[2020-02-18 18:16] #1884 closed

[2020-02-18 18:41] #2041 closed

[2020-02-18 21:16] #676 closed

[2020-02-18 21:16] #790 closed

[2020-02-19 10:17] bwplotka opened #2158 "e2e: Add Prometheus Service + cadvisor that will monitor all other docker's in the given e2e networks"
We have som [Prometheus service here](https://github.com/thanos-io/thanos/pull/2138/files#diff-7a14c855c0a7aae1590ad08ad769fb60R45) But would be nice to have specialized one for monitoring purposes, to track exact resources for our e2e runs (:

This would be super amazing for automated benchmarks run, defined in same e2e framework :heart:

cc @pracucci

[2020-02-20 13:48] brancz commented on #2003
I can't tell at a glance from your implementation, but wanted to share my thoughts: we're thinking about this on Thanos receive as well, and we're thinking about choosing a random, well-distributed value within the min block size for any TSDB instance, that way not only within one process handling multiple TSDBs has a well-distribution but also across processes.

[2020-02-20 13:53] pstibrany commented on #2003
@brancz My implementation is currently very simple... idea is to disable automatic compactions, because we don't have any control over those, and simply run compaction once every defined interval on all open TSDBs (we have one per tenant). This way we can run only limited number of compactions at once.

This is going to change a bit, to tie it to the shipping process – to compact and then ship. Ri

[2020-02-20 15:23] brancz commented on #2003
Yes we're thinking about exactly the same.

[2020-02-20 15:28] pracucci commented on #2003
What's the goal of spreading Head compactions across the time across different receiver replicas?

The use case we have on Cortex is different. In a multi-tenant system we end up compacting Head for multiple TSDB on the same ingester instance at the same time. We want to avoid 1K TSDB all compacting from head at the same time on the same node.

[2020-02-20 20:47] bboreham commented on #1290
Same issue hits when you have more than 3 ingesters, one is LEAVING, and another one goes bad.
Distributors will fail the entire request back to the sender with a 500 code because it can only find 2 ingesters for some subset of the series.

[2020-02-21 07:56] Wing924 opened #2170 "feat: support YAML format for config API"
### WHAT

Support posting YAML body to configs API: `/api/prom/configs/rules`.

### WHY

Current format example:
[code]

It's hard to read and write without some custom tool.

If we support YAML, the example become:
[code]

It's much easier for reading and writing.

### Backward Compatibility

Since YAML is superset for JSON, there is no backward compatibility problem.

[2020-02-21 09:05] Wing924 opened #2171 "[bug] /all_user_stats don't show correct Rule Ingest Rate"
### WHAT

/all_user_stats show Rule Ingest Rate `0` even if rules are defined.

### Version

cortex master-c63a4f2e
image: quay.io/cortexproject/cortex:master-c63a4f2e

### How to reproduce

* setup ruler
* check /all_user_stats

[2020-02-21 10:18] brancz commented on #2003
It's to spread the pressure on the network link, so that uploads which have very high bandwidth characteristics don't burst all at once when all head blocks are cut more or less simultaneously by all receivers.

[2020-02-21 10:31] pracucci commented on #2003
I would then argue that what you want is to coordinate the shipper, not head compactions. Am I wrong?

[2020-02-21 10:38] brancz commented on #2003
Yes you have a point, we've been looking at the block cutting and upload as one unit, but you're right that's indeed the part that I'm talking about.

[2020-02-21 10:43] pracucci commented on #2003
In Cortex we've de-coupled them. This issue is about the head block cutting, while for the shipping what we've done so far is introducing a per-ingester max concurrency limit. There's no coordination across different ingesters, but in each ingester we've limited the concurrency (it's a bit different than your use case, because we run 1 shipper for each tenant, so it's probably an issue you don't h

[2020-02-21 10:50] brancz commented on #2003
we're introducing this as well

That's precisely what I was saying.

[2020-02-22 16:00] jaybatra26 commented on #1359
Hi, I am a gsoc aspirant. Can I take this up?

[2020-02-22 16:05] jaybatra26 commented on #1886
Hi, I am a GSOC aspirant and could work on this as my project. Please let me know where I can start from?

[2020-02-22 16:55] pracucci commented on #1886
Thanks @jaybatra26 for your interest! This specific issue has been addressed in the PR #2165 but I would suggest you to look at other issues. Feel free to ping me on the CNCF Slack (I'm "Marco Pracucci") if you need guidance across PRs easy to start.

[2020-02-22 17:50] jaybatra26 commented on #1886
Thanks @pracucci. I have pinged you on slack.

[2020-02-23 05:31] #1894 closed

[2020-02-24 06:09] #1886 closed

[2020-02-24 06:14] pracucci opened #2173 "Remove "omitempty" from exported config options"
While reviewing the PR #2165 (which adds the `/config` API endpoint) I realized the `omitempty` we have across the config are hiding part of the config when exported by the `GET /config` endpoint.

I would suggest to get rid of all `omitempty` across the Cortex config structs except for deprecated fields.

[2020-02-24 06:17] pracucci opened #2174 "Expose Prometheus TSDB compaction metrics"
The following TSDB metrics are not exposed by Cortex (blocks storage) but are actually quite important to be able to graph at which point in time TSDB head compactions occur:

[code]

We should add them to the mapping in `pkg/ingester/metrics.go` and update unit tests accordingly.

[2020-02-24 06:27] pracucci commented on #2069
So, the plan could be:
1. Proposed a change to TSDB to pass entropy reader used to generate new block IDs (ULID)
2. Once 1 is done, update the vendored Prometheus and update Cortex to:
  a. Pass a custom entropy source
  b. Have a single per-querier instance of the in-memory cache

@pstibrany @codesome Makes sense to you?

[2020-02-24 08:12] pstibrany commented on #2174
I planned to include this in https://github.com/cortexproject/cortex/pull/2172, but forgot. As I'm going to do some changes in that PR, I will include it.

[2020-02-24 08:22] gouthamve commented on #2173
Wait, but why do we want to have `0`s and `""` in the exported config? Isn't it cleaner to omit the fields?

[2020-02-24 08:46] pstibrany commented on #2174
Do you think that it would be interesting to include `prometheus_tsdb_compactions_skipped_total` ("Total number of skipped compactions due to disabled auto compaction."), since we are disabling auto compaction now? I'm thinking that even when we run compaction manually, this value shouldn't get very high, otherwise settings are not correct.

[2020-02-24 08:47] pracucci commented on #2174
Why the value of the skipped will not go high? If we try the compact every
minute but the block range period is 2h, most of them will be skipped. Am I
missing something?

On Mon, Feb 24, 2020, 09:46 Peter Štibraný <notifications@github.com> wrote:

[2020-02-24 08:59] bwplotka commented on #2069
I was working with Prometheus like 4 years already and never seen clashing ID. I think what you are spending time on here is highly unlikely to happen.

Still, it depends on *time* AND random value based on seed generated on the ~start time of the process. This means `1.21e+24 unique ULIDs per millisecond` as per: https://github.com/ulid/spec

And again, what does Cortex do special for this to bec

[2020-02-24 09:01] pracucci commented on #2173
Very legit question.

Because the zero value is not necessarily the default value in our config (the default is registered along with the CLI flags).

If we keep omitempty for field whose default is not the zero value, then the exported config doesn't match the current config for all these field where the config sets the zero value. May look an edge case but it's quite common (ie. 0s to disable so

[2020-02-24 09:03] pstibrany commented on #2174
OK, looking at the code, I think misunderstood head compaction – TSDB code indeed looks like it tries to do it every minute (!?), or on appender's commit under certain conditions – so it would get high pretty quickly.

[2020-02-24 09:28] pstibrany commented on #2174
Turns out these are actually not very interesting. TSDB tries to "trigger" compaction all the time, but since autocompactions are disabled, nothing happens.

I think we should count these internally in Cortex, and increase them when we actually run compaction, and on failures.

[2020-02-24 10:31] pstibrany commented on #2174
This is what I did in #2172.

[2020-02-24 12:02] fkaleo commented on #1791
/reopen

[2020-02-24 12:31] pstibrany commented on #2069
I don't see this in the code. When two ULIDs are created in the same nanosecond, they will have same value. Calling time.Now() twice adds some jitter to the process.

You're right that the chance of that happening is miniscule. I'd still prefer to see `Reader` from `crypto/rand` package to be used as a source of randomness though. Better safe than sorry :)

(I don't think we need configurable rand

[2020-02-24 13:21] bwplotka commented on #2069
You are right @pstibrany I somehow thought we used global rand. Let's improve it.

[2020-02-24 13:54] #1912 closed

[2020-02-24 14:21] bboreham commented on #915
This change to the API would make the feature more useful: https://github.com/prometheus/prometheus/issues/6865

[2020-02-24 15:07] bwplotka opened #2178 "query-frontend: Response caching should work for subqueries and part queries."
AC:
* Subqueries should be split & cached.

I think that should not be that hard to implement, but we would need to finally parse the query and understand what is nested.

cc @brancz, @pracucci @tomwilkie

[2020-02-25 10:21] #2003 closed

[2020-02-25 10:47] pracucci commented on #2178
@owen-d This is your area of expertise. What's your take, especially considering the recently merged #1878 ?

[2020-02-25 10:51] bwplotka commented on #2178
We are happy to help in free time, but ideas/suggestions are very welcome.

Or if any work happened already for this (:

[2020-02-25 11:17] pracucci commented on #2069
Change ULID entropy generator in Prometheus:
https://github.com/prometheus/prometheus/pull/6867

[2020-02-25 12:45] weeco commented on #1852
@bboreham or @pracucci Could you please reopen this issue? Today using Cortex v0.6.1 this has happened again. Looking at the logs I do not necessarily believe that the memcache timeout is really causing it as this happens quite a couple times in the course of the day and hasn't caused issues for other ingesters.

@bboreham Have you seen these memory leaks on the ingester recently?
I am not sure wh

[2020-02-25 13:43] weeco commented on #1895
Today we ran into the same issue which caused an outage of the write path in our prod environment.

- At first the CPU usage of a single ingester jumped from an expected 25-40% CPU usage to 80-100%.
- At the same time the RAM usage ramped up to the point where the ingester eventually got OOM killed (under normal conditions the ingester takes 25% of the available RAM). It took just 5 minutes to exc

[2020-02-25 15:40] dcherman opened #2183 "DynamoDB: Make min usage for scaledown configurable"
Hi,

Right now, the minimum usage to trigger scaledown in DynamoDB is hard-coded to 100 units/sec

https://github.com/cortexproject/cortex/blob/5f7340c1fc487e455476fdc5ab65ef07894e823c/pkg/chunk/aws/metrics_autoscaling.go#L26

Can we consider making that configurable?  My use case is that I have multiple clusters that use this, some of them via Loki.  Especially for dev/ephemeral clusters, we don'

[2020-02-25 16:11] ericescalante commented on #1505
Same here, not using kubenertes at the moment and need to enable memcache (since redis is failing [as well](https://github.com/cortexproject/cortex/issues/2133))

[2020-02-25 17:13] bboreham commented on #1895
We could count the number of in-flight requests to ingesters and fail (response 5xx) the incoming request when that number goes over a threshold.  This would prevent OOM on the distributor.

[2020-02-26 05:11] jaybatra26 commented on #2173
I would like to take this up. Please assign it to me.

[2020-02-26 13:14] bboreham commented on #1895
Slightly more sophisticated:

Count the number of requests in-flight per ingester.  If one of them is over a threshold, treat that ingester as unhealthy and spill the samples to the next one. Thus we don’t 500 back to the caller unless nearly all ingesters are impacted.
Also we can expose the per-ingester counts as metrics.

[2020-02-27 18:49] tomwilkie opened #2191 "Add a prefix to chunk cache flags"
Its the only one without a prefix, and thats confusing.

[2020-02-27 21:08] jtlisi opened #2193 "Instrument Ruler Notifier"
One of the largest gaps in monitoring Cortex is the lack of instrumentation in Ruler Notifier code path. Currently no metrics registerer is passes to the Prometheus notifier leaving a gap in visibility as to whether alerts in the ruler are actually be sent to the target Alertmanager.

[2020-02-28 13:46] #2069 closed

[2020-02-28 16:00] #2134 closed

[2020-03-02 07:59] pracucci commented on #1739
_There's still a PR #1914 open but the PR looks stale too.

[2020-03-02 12:20] weeco commented on #2053
I observed the same behaviour. The memory usage is way higher after upgrading the distributors from v0.4.0 to v0.6.1. I've also seen a couple OOM kills after upgrading the distributors.

![Screenshot 2020-03-02 at 13 16 46](https://user-images.githubusercontent.com/23424570/75675820-3738d300-5c88-11ea-81b0-35603c178ebb.png)

You can divide this graph into 3 sections:

1. Distributor v0.4.0 using m

[2020-03-02 15:09] #1631 closed

[2020-03-02 16:14] dcherman commented on #2183
Any thoughts here?  Happy to make the contribution, just want to make sure it's something that'd be accepted/considered.

[2020-03-03 16:03] tomwilkie opened #2202 "RFC: Make BigChunk the default encoding"
WDYT?

https://github.com/cortexproject/cortex/blob/master/pkg/chunk/encoding/factory.go#L18

[2020-03-03 16:03] tomwilkie commented on #2077
Would love to be able to do this from the config file - any ideas?

[2020-03-03 18:20] pracucci opened #2204 "Enforce all metrics to be registered to a registry"
While doing code reviews I've realized a common mistake is to create metrics but not register them to the registry. Functions like `promauto.NewXXX()` are now discouraged due to #1512 and this makes even easier to forget.

In order to overcome this problem, Prometheus client `1.5.0` has introduced a new factory `promauth.With(registerer).NewXXX()` ([713](https://github.com/prometheus/client_golang

[2020-03-04 07:54] #2170 closed

[2020-03-04 08:14] pracucci opened #2206 "Document getting started with blocks storage"
We should add a new guide "Getting Started - Blocks storage" setting up Cortex single binary configured with GCP/S3.

[2020-03-04 12:06] #1928 closed

[2020-03-04 15:16] gouthamve opened #2208 "Remove the schema config from flags and use only config file"
Right now for setting the schema config, there are a ton of flags like:

`dynamodb.daily-buckets-from`, `dynamodb.base64-buckets-from`, `dynamodb.v4-schema-from`,....... `dynamodb.use-periodic-tables`, `dynamodb.periodic-table.from`, etc.

This is confusing and can be better served by the config file which is cleaner and clearer:
[code]

Further, you can set more things via the config file than fl

[2020-03-04 15:19] bboreham commented on #2208
Might be a good time to support `1w` as an alternative to `168h`

[2020-03-04 16:06] #1930 closed

[2020-03-04 17:45] Eraac commented on #1950
The issue is still here

[2020-03-05 13:25] pracucci opened #2217 "Allow 3rd party projects to customise the metrics namespace"
Loki is vendoring Cortex for some components and Cortex metrics are registered with the `cortex_` namespace. We should allow such external projects to customise the metrics namespace.

The idea to define `var util.MetricNamespace` set to `cortex` and replace `Namespace: "cortex"` with `Namespace: util.MetricNamespace` everywhere in the Cortex codebase. Then Loki (or other projects) can use linker

[2020-03-05 13:29] pstibrany commented on #2217
Also split `Name: "cortex_..."` metrics names to use `Namespace`.

[2020-03-06 07:35] #1824 closed

[2020-03-09 07:53] pracucci commented on #1949
@gotjosh Are you willing to pick up this issue?

[2020-03-09 14:07] #2202 closed

[2020-03-09 14:43] #2208 closed

[2020-03-09 20:26] ybnelson opened #2237 "Running Cortex with Cassandra"
Trying to start the cortex process with cassandra only as documented here:
https://cortexmetrics.io/docs/guides/cassandra/

results in following errors output from docker logs <id> -f
level=error ts=2020-03-09T20:12:31.75034073Z caller=table_manager.go:188 msg="error syncing tables" err="Undefined Column. Column doesn't exist\n\n\t\tSELECT\n\t\t\tfunction_name,\n\t\t\targument_types,\n\t\t\targume

[2020-03-10 10:01] gotjosh commented on #1949
Yes @pracucci, assign it to me.

[2020-03-10 10:07] pracucci commented on #1949
Thanks @gotjosh !

[2020-03-10 10:08] pracucci commented on #1647
@jtlisi Has #2125 fixed this, or this issue should be kept open?

[2020-03-10 11:32] VineethReddy02 commented on #2237
Hi @ybnelson Can you share configuration i.e ```--config.file```?

[2020-03-10 16:21] jtlisi commented on #1647
#2125 fixed this

[2020-03-10 16:21] #1647 closed

[2020-03-11 09:39] tomwilkie opened #2247 "Document compatibility guarantees for v1"
- Config files fields
- Flags
- Whats experimental & whats not.

[2020-03-11 16:31] Andrewpk opened #2253 "Move/Clarify cache prefix documentation"
Many of us don't read the entire doc when reading docs. Manpages have spoiled us, and we go right to the relevant chunk and then leave. Discovering the relevant chunk for `-<prefix>` on the [Caching in Cortex documentation](https://cortexmetrics.io/docs/guides/caching/) requires that you read until the end.

This issue is to propose that a small paragraph be added before the config options to quic

[2020-03-11 16:41] gouthamve opened #2254 "Cleanup remaining dynamodb flags"
Though this cleaned up most of the flags: https://github.com/cortexproject/cortex/pull/2221 there are still some dynamodb flags in table-manager that are used in bigtable, cassandra as well. We need to clean those up as well.

[2020-03-11 23:12] dmitsh opened #2258 "FIFO cache does not report number of entries and memory in use"
FIFO cache has multiple useful metrics, but it lacks metrics for the current number of entries and used memory.

[2020-03-11 23:12] dmitsh commented on #2258
I will send a PR

[2020-03-12 02:23] papovyr opened #2261 "Query all tenants"
Hi,
I have multiple projects and they have their own tenants
So each team can see all their own metrics
But as operations team we need to be able to query all tenants and build overview dashboard

Is there a specific value that i can set for X-Scope-OrgID to query all tenants or any advices on this ?

[2020-03-12 02:38] jtlisi opened #2262 "Migrate object storage clients to use thanos objstore.Bucket implementations"
Currently we have generic `ObjectClient` interface defined here:
https://github.com/cortexproject/cortex/blob/58c081a8eab77b70ce4d9f425fd2400d1155eee8/pkg/chunk/storage_client.go#L64-L71

This interface is used by the `pkg/chunk/objectclient` to store chunks. It will also be used by @sandeepsukhani works on delete. I also utilize this interface for my rules/alerts branches. These clients are prett

[2020-03-12 03:15] jtlisi commented on #2261
There is currently no way to do this.

[2020-03-12 09:10] pracucci commented on #2262
Unless we have a good argument to not use the Thanos objstore I would use it. We're already using it for the blocks storage anyway, so it's already vendored.

[2020-03-12 10:38] #2206 closed

[2020-03-12 13:51] csmarchbanks commented on #2261
There is an open issue for this (https://github.com/cortexproject/cortex/issues/923), but someone will have to do the actual work.

Closing this as a duplicate of the linked issue.

[2020-03-12 13:51] #2261 closed

[2020-03-12 15:05] jtlisi commented on #2262
@pracucci  I agree. I added some tags to signal to anyone who wants to take up this issue.

[2020-03-12 17:08] gouthamve commented on #1939
Closing this in favour of #923

[2020-03-12 17:08] #1939 closed

[2020-03-12 18:35] bboreham commented on #1722
This seems to be the season for breaking changes: party on.

[2020-03-12 22:35] ybnelson commented on #2237
Config file is here: [https://github.com/yugabyte/cortex/blob/master/yb-demo/single-process-config.yaml](https://github.com/yugabyte/cortex/blob/master/yb-demo/single-process-config.yaml)

[2020-03-13 11:30] #2258 closed

[2020-03-15 07:02] jaybatra26 commented on #2262
@jtlisi and @pracucci Can I take this up as my next work item?

[2020-03-16 01:32] jtlisi commented on #2262
Go for it!

[2020-03-16 06:26] jaybatra26 commented on #2262
Thanks @jtlisi . I am assuming that I would have to write something like this [code snippet](https://github.com/cortexproject/cortex/blob/82eae45bc7f71e89c8fcf5a4551683b842b3e6bb/pkg/storage/tsdb/backend/gcs/bucket_client.go#L13-L17) for each of the object store i.e(s3/gcs/azure etc).
Also, looks like local file system is in testing mode.
![image](https://user-images.githubusercontent.com/24604293

[2020-03-16 13:18] pracucci commented on #1992
This has been solved by #2222

[2020-03-16 13:18] #1992 closed

[2020-03-16 15:17] jtlisi commented on #2262
@jaybatra26 In this case you should be able to reuse that snippet and update the `pkg/chunk/objectclient` code to utilize the `objstore.Bucket` interface. You will also have to update anything that utilizes the `chunk.ObjectClient` interface to use the `objstore.Bucket` interface instead. This includes the code in `pkg/chunk/purger` and probably the `pkg/ruler/rules/objectclient` implementation if

[2020-03-16 17:53] pracucci commented on #2262
It makes sense to me. However, I would advocate for incremental PRs. A first PR may be which package move, then we may have a PR for the object store client interface refactoring and then a PR for each object store client replacement?

[2020-03-17 04:54] jaybatra26 commented on #2262
Thanks @jtlisi and @pracucci. As @pracucci suggested, I will create incremental PR's.

[2020-03-17 15:54] pracucci commented on #1710
_There's a PR open for it_

[2020-03-17 19:25] brancz opened #2283 "Query frontend closes connections after 30s"
I may very well be misconfiguring something, but I haven't found that config if so.

I run cortex with these flags:

[code]

And this config:

[code]

Then I have a go server:

[code]

Then curl upstream directly:

[code]

And curl the cortex query frontend:

[code]

Interestingly, since I have debug logs on this is still printed:

[code]

Presumably that 200 is the what the upstream responded, as

[2020-03-17 20:31] brancz commented on #2283
My suspicion is the use of the `http.DefaultTransport`, here: https://github.com/cortexproject/cortex/blob/4913017a67fb54c34102c6b75d58f77b842cff94/pkg/querier/frontend/frontend.go#L114.

[2020-03-17 21:12] jtlisi opened #2284 "Better server route metrics labels and trace operation names"
I recently read https://www.robustperception.io/prometheus-middleware-for-gorilla-mux and noticed the usage of the actual url path was used with forward slashes in the label. I may be alone in this but I think having labels with the actual URL and using the actual url for operation name in a trace is more ergonomic than the underscore.

For example:

`HTTP GET - api_prom_api_v1_query_range`
vs
`HT

[2020-03-18 08:15] brancz commented on #2283
I tried creating a new `http.RoundTripper` with higher timeouts, but that doesn't seem to have solved it.

[2020-03-18 08:38] mizeng opened #2286 "Zookeeper for Ring KV Store?"
I'm wondering if anyone tried use zookeepr for Ring KV Store? Is there any thing forbid to do this way?

[2020-03-18 08:42] brancz commented on #2283
Side note, all `cortex_cache_request_duration_seconds` metrics also only report `200`s.

[2020-03-18 08:43] brancz commented on #2283
Just got note that @owen-d might know what's happening.

[2020-03-18 09:06] bboreham commented on #2286
I wouldn't say it is forbidden but we don't really want to have every KV, NoSQL and SQL database as dependencies of the project, and the cross-product of all of them as a testing matrix.

If you have a really good rationale that might make a difference.

[2020-03-18 09:13] bboreham opened #2287 "Add a counter for chunks removed from the flush queue but not flushed"
If a chunk is idle and added to the flush queue, then gets new samples shortly before it is dequeued, it will no longer be idle so simply ignored.

It seems like a nice property to be able to add up all reasons why chunks are added to the queue and all reasons they are removed and have them total the same number.

Specifically in the current code, the total `cortex_ingester_flush_reasons` does not

[2020-03-18 10:17] bboreham opened #2288 "Feature: 'top K series over time'"
This is something which has been requested upstream https://github.com/prometheus/prometheus/issues/586, https://github.com/prometheus/prometheus/issues/5656, but will likely never be implemented there.

The Cortex query frontend is well-placed to do it; it should be done after reassembly of sharded queries.

What I'd really like is a way to return the top N plus one more series "other" that aggre

[2020-03-18 10:53] brancz commented on #2283
It appears that the `-server.http-write-timeout` flag actually solved this. This doesn't seem right. Is this maybe because the instant query endpoint is just proxied through to the upstream and we can't know whether it's a read or write request?

[2020-03-18 11:09] brancz commented on #2283
Nevermind it makes sense now. It's the timeout until when writing of the response must be finished. Sorry for the noise.

[2020-03-18 11:09] #2283 closed

[2020-03-18 12:35] owen-d commented on #2283
Oh man, I was curious why I was tagged here, didn't see anything weird in the issue and eventually looked up that `server.http-write-timeout` defaults to 30s... then I noticed that there was a 33s sleep :D

[2020-03-18 12:39] brancz commented on #2283
I get why the responses returned 200s now because essentially the idea is that that's not a valid user request, but I think that should rather return some 4xx code, and or should have separate metrics to be tracked no? From what I can tell there are no metrics about these timeouts, but I might have missed them.

[2020-03-18 14:26] brancz commented on #2283
Should I open another issue for that or should we reopen this one to track that?

[2020-03-18 14:41] gouthamve commented on #2283
Lets open an new one? Or edit the title and description of this one? Either
works.

On Wed, Mar 18, 2020 at 2:26 PM Frederic Branczyk <notifications@github.com>
wrote:

[2020-03-18 15:35] Andrewpk commented on #923
This would be awesome

[2020-03-18 21:29] jtlisi opened #2291 "Generalize Module Service"
Cortex initializes using a series of modules which are an abstraction on top of the util.services package. A log of this log could be abstracted into a dedicated package for modules.

This would also allow any projects to reuse the modules logic if they want to. For instance, Loki copied over most of the module code.

[2020-03-19 05:12] josnidhin opened #2292 "Distributor Ring KVStore config from file not honored"
Cortex version: v0.7.0

I am trying to run a distributor service with Consul as the KVStore for both Ring and HA Tracker. The following is the yaml config file I had created.

[code]

This is how I start the distributor
[code]

I get the following error logs
[code]

As you can see from the logs it is looking for consul at `localhost:8500`

I updated the config file to the following
[code]

changed

[2020-03-19 07:49] #2173 closed

[2020-03-19 08:05] pracucci commented on #2292
I think there's a misunderstanding on the ring config. The distributor's ring is used to build a ring of distributors, which is required only if you enable the global rate limits (not enabled in the config you posted).

In your setup, the following config should be moved to the `ingester`:

[code]

[2020-03-19 10:01] josnidhin commented on #2292
Thank you for the quick reply.

I am trying to build a test system and this is my first step after the single process setup so I might still not have a good understanding of the system.

Are you saying I need to add an ingester ring config section in my `distributor.yaml` file so that the distributor can start properly?

[2020-03-19 10:23] cmsxbc opened #2294 "[Feature Request]Add support of tls in etcd backended"
It would be good to add a config options to make etcd client use tls...

[2020-03-19 13:34] pracucci commented on #2292
Correct. The ingester ring config is required both by the ingester and distributors.

[2020-03-19 14:44] brancz opened #2297 "Metrics for read and write timeouts"
In https://github.com/cortexproject/cortex/issues/2283 I described how I hit the body-write timeout, but those requests were still showing up as 200s in the http metrics, which I understand the reasoning for, however, it is currently impossible to know _that_ a request is indeed timing out with this (or the read timeout for that fact). I think it would be great to add metrics for these situations.

[2020-03-19 14:44] brancz commented on #2283
done https://github.com/cortexproject/cortex/issues/2297

[2020-03-19 15:05] josnidhin commented on #2292
Thank you for clarifying my doubt, I will now close this issue.

[2020-03-19 15:05] #2292 closed

[2020-03-19 15:05] khaines commented on #2009
mitigated by https://github.com/cortexproject/cortex/pull/2054, as other Data services already had retry mechanisms.

[2020-03-19 15:05] #2009 closed

[2020-03-19 15:26] khaines commented on #612
going to revive this issue and do some investigating

[2020-03-19 16:27] #1951 closed

[2020-03-19 17:36] #1505 closed

[2020-03-19 18:50] bboreham opened #2302 "Crash on startup with duplicate metrics collector registration"
As of commit 59bbc46c, in ingester, querier and ruler.
Beginning of log:

[code]

I guess we need integration tests that include memcached.

[2020-03-20 00:12] hemathkumar opened #2304 "Experiencing more writes per sec when using Cassandra as backend"
As per the documentation chunks will be pushed the storage once in 12 hours (default configuration). I am using Cassandra as back end storage. When I check the write operations on Cassandra it was more than 50K per sec almost equal to my ingestion rate. Ideally, it should keep the data in memory and write to Cassandra only every 12 hours.

Below is the configuration for the ingester I have used.

[2020-03-20 10:35] gouthamve commented on #2302
Yes, this wasn't caught before because none of the integration tests add 2 memcache instances. I've added the fix and tests in #2303

[2020-03-20 13:52] bboreham commented on #2302
Still crashing, albeit slightly different place:

[code]

[2020-03-20 14:12] jaybatra26 commented on #2262
@pracucci, by refactoring object store client interface, you mean deleting it, right? We would no longer require this piece of code, right?

[2020-03-20 14:42] bboreham commented on #2068
Hi @Syn3rman, sorry we missed your message here.
If you're still interested the best way is to start with one or two small issues in the Cortex repo, and come on the Cortex channel in the CNCF Slack.

[2020-03-20 15:07] Syn3rman commented on #2068
Hey @bboreham,
Can I pm you on slack?

[2020-03-20 15:51] jtlisi commented on #2262
@jaybatra26 Yes

[2020-03-20 16:28] bboreham commented on #2068
If you like, however GSoC is all about Open Source and doing things in the open, so let's try to use the public channel where possible.

[2020-03-20 18:21] #2302 closed

[2020-03-20 18:55] owen-d opened #2313 "Series API impl + index support"
## What

This issue describes the current problems facing an efficient implementation of the Prometheus Series API and a possible path towards mitigating them.

/cc @gouthamve @cyriltovena

## Background

Currently Prometheus supports a [Series API](https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers) which basically has the type `Matchers -> [LabelsSet]`.

[2020-03-21 12:16] #1955 closed

[2020-03-23 07:38] pracucci commented on #2313
I guess you mean "it only queries ingesters". We query the series in the ingesters memory. The fact we're going through the distributors (running within the queriers) is a tech debt we have since the past and we should get rid of (that code should be moved to queriers and queriers should not run distributors internally).

[2020-03-23 07:46] pracucci commented on #2313
I'm not sure about exporting these functions, instead of adding a single higher level function to `chunk.Store` like `GetSeries(ctx context.Context, userID string, from, through model.Time, matchers ...*labels.Matcher)`. Then it's the underlying implementation that can use ` lookupSeriesByMetricNameMatchers` and `lookupChunksBySeries` if required. In this scenario, `Get()` could be renamed to `Get

[2020-03-23 09:47] weeco commented on #670
I do see this as well. I just noticed that Distributors reported hundreds of "sample out of orders" after one or two ingesters were consuming signifcantly more CPU than usual. Sometimes I also observe this behaviour during rolling updates of ingesters.

<img width="680" alt="Screenshot 2020-03-23 at 10 45 52" src="https://user-images.githubusercontent.com/23424570/77303607-86a47900-6cf3-11ea-8f6b-

[2020-03-23 10:20] bboreham commented on #670
@weeco do you have the othe conditions described?
Does the error message give two timestamps close to one scrape interval apart?
Does your sending Prometheus have a lot of data queued up?

[2020-03-23 12:46] owen-d commented on #2313
Eh yeah, that's a bit embarrassing. I meant ingesters 😱

[2020-03-23 14:00] pracucci commented on #2313
This issue so far is covering the chunks storage. I'm very interested into extending the discussion to the blocks storage too, where we could contribute with the implementation.

[2020-03-23 14:01] pracucci commented on #2313
How does this proposal play with the interval splitting done by the `query-frontend`? I guess no interval splitting will be done and the query will be executed by 1 single querier. Is it correct?

[2020-03-23 16:19] dmitsh opened #2316 "FIFO cache is limited by the number of entries, but not by their total size"
FIFO cache limits number of entries, regardless of their size. I would suggest using the total memory size of the cache as the threshold to trigger eviction. That way we will have better control over memory usage, and it will be easier to configure k8s resource requests/limits.
I can put together a PR, if this proposal will be accepted.

[2020-03-23 16:46] pracucci commented on #2316
It makes sense to me. Fine-tuning a cache based on the max number of items instead of the total cache size looks complicated to me too.

[2020-03-23 16:47] dmitsh commented on #2316
Thanks Marco, I will start working on that.

[2020-03-24 01:02] tamalsaha opened #2318 "GPL license dependency"
Hi,
This project depends on https://github.com/rafaeljusto/redigomock which uses GPL2 license. This is a problem for us, as we have a transitive dependency via the prometheus-operator.

github.com/coreos/prometheus-operator > github.com/thanos-io/thanos > github.com/cortexproject/cortex > redigomock

Can this be fixed?

[2020-03-24 02:29] sangfei commented on #1852
Today using Cortex v0.7.0 rc this has happened again.

[2020-03-24 06:49] vacheli opened #2320 "gocql: dns error:"
Deployment config following as:
[code]
Pod log
[code]

[2020-03-24 15:44] pracucci commented on #2318
The `redigomock` project is only used in a test file in Cortex ([`redis_cache_test.go`](https://github.com/cortexproject/cortex/blob/master/pkg/chunk/cache/redis_cache_test.go)) and it shouldn't be vendored by Thanos (being a Cortex test file) so I'm not sure how this could have an impact on the `prometheus-operator` license. Do you have any further detail to share?

[2020-03-24 16:01] tamalsaha commented on #2318
I am using fossa.com to run license scans for our projects and this was discovered as a transitive dependency. I don't see a link to share.
![kubedb-operator - Projects   FOSSA](https://user-images.githubusercontent.com/94814/77448263-ccbe1300-6dad-11ea-8cd9-3a1831f54faf.png)

![kubedb-operator - Projects   FOSSA 2](https://user-images.githubusercontent.com/94814/77448435-07c04680-6dae-11ea-83cc-8

[2020-03-24 16:03] tamalsaha commented on #2318
IANAL, but I don't think it matters from license pov whether some project is only used for testing purposes.

Fossa is doing transitive dependency check even if it was pruned by go mod - it seems.

[2020-03-24 16:57] jtlisi opened #2325 "More descriptive config file errors"
We should look into making the errors triggered when a bad cortex config file is provided more informative. Currently they all look as follows:

[code]

The v3 of the yaml library we use should make something like this more feasible.

[2020-03-24 17:53] #2191 closed

[2020-03-24 17:53] #553 closed

[2020-03-24 17:54] pracucci commented on #1783
@gouthamve Should we consider this done?

[2020-03-24 18:03] gouthamve commented on #1783
https://cortexmetrics.io/docs/configuration/schema-configuration/ I'd say yes

[2020-03-24 18:03] #1783 closed

[2020-03-25 09:17] bboreham commented on #2316
Can we have another really good look around the Go ecosystem and try to use a cache someone else has already tuned?

[2020-03-25 15:48] vitovitolo opened #2331 "Can't use cortex as remote-read for a prometheus instance"
I'm trying to setup a Prometheus 2.16.0 instance in front of a Cortex cluster 0.6.0 to use Prometheus UI without success. I tried query-frontend and querier as destination in remote-read URL:
[code]

Prometheus UI throws this error:
![image](https://user-images.githubusercontent.com/2746047/77555785-f3687080-6eb7-11ea-907d-c41961f73966.png)
[code]
and query-frontend:
[code]

When I use querier as

[2020-03-25 16:19] jtlisi commented on #953
#1999 and  #2269 added significant test coverage to the ruler.

[2020-03-25 16:19] #953 closed

[2020-03-25 17:19] dmitsh commented on #2316
I actually looked up for existing LRU implementations before posting PR. Hashicorp has one, but they use patented algorithm. The are a few others, but they assume the cache items have equal size, so essentially their eviction approach is count based.

[2020-03-26 18:47] jtlisi opened #2337 "UserState metrics are not updated if a transfer fails"
If a transfer fails the userState struct is discarded. None of the metrics it reports are updated to reflect this. Most notably the following:

[code]

[2020-03-27 11:42] gouthamve opened #2340 "Moving to Github Actions from Circle CI"
The amount of PRs to Cortex has seen a significant uptick in the past months and with the addition of integration tests, the CI usage has increased. But because we're on the free plan I've regularly found myself waiting 30mins for tests to start running. We've reached out to CNCF regarding bumping the plan and they suggested we move to Github action as they have tons of credits there.

I think its

[2020-03-27 17:53] KYannick opened #2345 "frequent memcached i/o timeout errors"
I'm running a cortex v0.7.0 cluster with 4 memcached clusters to do the caching for the different components (chunks, query-results, index-read and index-write). Now I'm seeing a lot of memcache errors in all the different components (ingester, querier, query-frontend), all similar to:

`level=error ts=2020-03-26T16:10:24.434908677Z caller=memcached.go:164 msg="Failed to get keys from memcached" e

[2020-03-28 12:15] tomwilkie opened #2347 "Docs: Mention end /ready handler"
See https://github.com/cortexproject/cortex/pull/2218#discussion_r388758119

[2020-03-28 12:17] tomwilkie opened #2348 "Docs: clarify the schema handling"
See https://github.com/cortexproject/cortex/pull/2218#discussion_r388759271:

Not sure it's worth to mention CLI flags here. You can't configure any schema config option via CLI flag and we're about to remove them (#2208). Maybe explaining the config file is better.

[2020-03-28 16:30] gouthamve commented on #2348
Does this work? https://cortexmetrics.io/docs/configuration/schema-configuration/

[2020-03-28 17:00] tomwilkie commented on #2247
Proposal (brain dump for now, could have missed things):

# Flags, Config and minor version upgrades.

Upgrading cortex from one minor to the next should "just work"; that being said, we don't want to bump the major version every time we remove a flag, so we will will keep deprecated flags around for 2 minor release.  There is a metric you can alert on to find out if you're using a deprecated  fla

[2020-03-29 11:45] vishnubraj commented on #2050
Yes, I am still confused if i can use cortex without Docker or not, and if yes how do i do that and where can i find the binary for the same.

[2020-03-29 19:27] #612 closed

[2020-03-29 19:32] jtlisi opened #2350 "Support TLS"
Cortex as a project does not have many mechanisms in place to secure its messages. As things stand,  no security mechanisms exist with cortex and that responsibility is off-loaded to the system that proxies requests to Cortex. As a distributed system with significant traffic between services, I think we should consider adding support for TLS within Cortex. Initially this support could be focuses o

[2020-03-30 07:40] pracucci commented on #2050
Yes, you can run Cortex without Docker / Kubernetes, even if probably most of users run Cortex services in containers.

In the [releases page](https://github.com/cortexproject/cortex/releases) you can scroll down to the "Assets" section of each recent release to find the binaries.

[2020-03-30 07:46] weeco opened #2351 "Zone awareness: Support less zones than replication factor"
**Usecase**
@khaines recently added zone awareness (https://github.com/cortexproject/cortex/pull/2317/files) which has the limitation that you must run Cortex in at least n different availability zones where n is the replication factor (default 3).

I don't want to run 3 AZ (availability zones) because that means even more interzone traffic compared to running it in just 2 AZ. Additionally I have

[2020-03-30 08:15] #1425 closed

[2020-03-30 08:18] gouthamve opened #2352 "Metric for deprecated config options set"
Now that https://github.com/cortexproject/cortex/pull/2341 is merged, we need to do the same for deprecated options set using YAML.

[2020-03-30 08:18] pracucci commented on #2247
As of today, the labels API endpoints are not 100% compatible, considering Cortex only queries data in the ingesters.

Other experimental features we have:

- Gossip memberlist
- User subring
- Ruler API
- Memcached client DNS-based service discovery (https://cortexmetrics.io/docs/configuration/arguments/#dns-service-discovery)
- Delete series
- FIFO and Redis cache (according to https://cortexmet

[2020-03-30 08:20] pracucci commented on #2348
The comment mentioned there was mine. I think https://cortexmetrics.io/docs/configuration/schema-configuration/ still lacks of a basic explanation of what it is (I remember that the "periodic table" concept was one of the most difficult things to understand to me, when I addressed Cortex for the first time) and I believe the following description in Loki better addresses it:
https://github.com/gra

[2020-03-30 09:20] pracucci commented on #2137
Cassandra has been added in https://github.com/cortexproject/cortex/pull/2275 while BigTable in https://github.com/cortexproject/cortex/pull/2249. Etcd is still missing.

[2020-03-30 10:01] bboreham opened #2353 "Metric for chunks stored should take acount of de-duplication"
Currently `cortex_ingester_chunks_stored_total` reports all chunks that were sent to the store; below that level the store may avoid the write and return success, but this isn't visible.

Similarly `cortex_ingester_chunk_stored_bytes_total`

(Note these metrics were renamed in April 2020)

(Note that even when the Cortex code doesn't detect duplication the underlying store may do so; there isn't m

[2020-03-30 13:22] #1379 closed

[2020-03-30 13:24] gouthamve opened #2355 "Add test for tablemanager when no scaling is enabled"
https://github.com/cortexproject/cortex/pull/2328

In the above PR I removed the tests for the AWS based scaler but that also includes tests that have autoscaling disabled. Adding that test seemed non-trivial but should be added back.

[2020-03-30 13:55] owen-d commented on #2313
I don't think it should be aversely affected by splitting in the `query-frontend`. We could split it in the query frontend and recombine them or distribute it to one querier. It may be easier to start on one querier and then refactor to fan-out if needed.

[2020-03-30 14:06] bboreham opened #2356 "Completely broken after #2317"
Following the deployment of #2317 into my staging environment, distributors, queriers and ruler all started erroring like this:

time="2020-03-29T22:43:33Z" level=warning msg="POST /api/prom/push (500) 2.254634ms Response: \"at least 2 live replicas required, could only find 1\\n\" ws: false; Content-Encoding: snappy; Content-Length: 16461; Content-Type: application/x-protobuf; User-Agent: Prometh

[2020-03-30 16:36] #2356 closed

[2020-03-30 19:36] #2247 closed

[2020-03-30 21:23] gouthamve commented on #784
Closed in #2166

[2020-03-30 21:23] #784 closed

[2020-03-31 08:03] #2254 closed

[2020-03-31 09:19] #2337 closed

[2020-03-31 09:28] pracucci opened #2366 "Blocks storage unable to ingest samples older than 1h after an outage"
TSDB doesn't allow to append samples whose timestamp is older than the last block cut from the head. Given a block is cut from the head up until -50% of the max timestamp within the head and given the default block range period is 2h, this means that the blocks storage doesn't allow to append a sample whose timestamp is older than 1h compared to the most recent timestamp in the head.

Let's consid

[2020-03-31 09:29] pracucci commented on #2366
@codesome Given we have vertical compaction in TSDB and we can have overlapping blocks, what would be the implications to allow to write samples "out of bounds" in the TSDB head?

[2020-03-31 09:46] pstibrany commented on #2366
Noting other possible options (not necessarily good options):
- extend block range (would lead to higher ingester memory usage, and longer WAL replays)
- change the cutting formula

[2020-03-31 11:40] bwplotka commented on #2366
Really? Can we find code path in Prometheus which does it?

[2020-03-31 11:41] bwplotka commented on #2366
Also, clock skew can cause it.

[2020-03-31 11:44] pstibrany commented on #2366
New block is cut from the head, when head (in-memory data) covers more than 1.5x of the block range. For 2 hours block range, it means that head needs to have 3h of data to cut a block. Block "start time" is always the minimum sample time in the head, while block "end time" is aligned on block range boundary. New block always covers single "block range" period. Data stored into a block is then rem

[2020-03-31 12:17] bwplotka commented on #2366
Thanks for the explanation. I think we are getting into the backfilling area.

I think opening a side block and use vertical compaction would solve it.

[2020-03-31 12:19] bwplotka commented on #2366
We could start Prometheus discussion for it as well to enable that behavior if vertical compaction is enabled for TSDB itself.

[2020-03-31 12:22] pracucci commented on #2366
It depends. How long time ago is considered backfilling? From the Cortex (or Thanos receive) perspective, I think the issue we're describing here is not considered backfilling. At the current stage, we can't tolerate an outage longer than about 1h or we'll lose data.

[2020-03-31 12:25] brancz commented on #2366
Maybe it means that remote write is not good enough. You only have up to 2 hours to even still have that WAL around in this scenario, at which point it would be cut to a block. Maybe we need to discuss back-filling with blocks as a remote write extension. Just thinking out loud.

[2020-03-31 12:31] bwplotka commented on #2366
Where is the boundary?

[2020-03-31 12:32] pracucci commented on #2366
From the pure UX side, if it's about a Prometheus server catching up after an outage then I wouldn't consider it backfilling.

[2020-03-31 12:33] bwplotka commented on #2366
I guess the boundary is then 1.5x block size (once we exceed WAL (3h))?

[2020-03-31 12:34] bwplotka commented on #2366
Actually user can change that, so we can make even 2 years WAL. If some one will not upload things for 2y and suddenly want to put 2y old sample, would that be still not backfill :thinking: ?

[2020-03-31 12:54] brancz commented on #2366
Sounds like concretely for this, we need a way to cut a head block safely that doesn't have the 1.5x time requirement/heuristic.

[2020-03-31 13:24] bwplotka commented on #2366
What do you mean? When would you cut then? You don't know upfront what writes you expect to see but don't know, no?

[2020-03-31 16:32] brancz commented on #2366
The heuristic of allowing inserts up to 0.5x timespan of head blocks is based on the assumption that we can safely and correctly cut blocks at that time, I'm wondering what other strategies there might be. Clearly other databases do different things and time-based things are actually kind of weird in the first place. What I'm trying to say is, if we remove that requirement, then we might be able t

[2020-03-31 19:28] csmarchbanks commented on #2366
I think I have some code sitting around somewhere that does this (I was using it to populate datasets from Prometheus into various backends that supported remote write). If there is interested I'd be happy to dig it up again.

Yes, that would be great. There were some ideas around this when we were discussing how to limit Prometheus memory usage weren't there? I remember at least something around

[2020-04-01 00:42] Wing924 opened #2373 "Make config file cleaner"
Current config file format is not user friendly.
* It's hard to know a mapping between flags and config without reading docs.
* It's hard to know which component use which config section.

Let's make config file format cleaner.

* `query_range` is used by query-frontend => move to under `frontend`
* `frontend_worker` is used by querier => move to `querier`

* if a flag named `-querier.frontend-cli

[2020-04-01 09:43] gouthamve commented on #2373
We've thought about this, while in general we agree, we decided that its a massive breaking change that would force users to redo their config file from scratch.

We decided against the change and instead decided to make sure that any future config options follow the above system.

[2020-04-01 09:48] Wing924 commented on #2373
but in v1.0-rc0 we’ve made a huge breaking change, right?

[2020-04-01 12:33] #1995 closed

[2020-04-01 13:55] gouthamve opened #2380 "Make all the caching components use snappy"
We have an easy way to add [snappy](https://en.wikipedia.org/wiki/Snappy_(compression)) compression to caches, and [we do it for the index-read-cache](https://github.com/cortexproject/cortex/blob/master/pkg/chunk/storage/caching_index_client.go#L58). But we should add it to other caches, specially the frontend-results cache.

We had it in the frontend-cache, but we lost it in this refactoring by m

[2020-04-01 16:18] rfratto opened #2382 "Add ability to list and delete keys in `pkg/ring/kv`"
I'm planning on using `pkg/ring/kv` to implement an API for [grafana/agent](https://github.com/grafana/agent). Two of the things I need to do that currently aren't covered by the `kv.Client` interface are:

- List keys: The list of stored objects will be available through the API, so I need to retrieve the list of keys under a given prefix.
- Delete key: Users will be able to delete stored objects

[2020-04-01 16:36] pracucci commented on #2382
@pstibrany Could this be a problem given this interface is also implemented by the Gossip memberlist client? I haven't checked in details, but you may already know.

[2020-04-01 16:42] pracucci commented on #2382
Instead of adding functions to `kv.Client` interface, I'm wondering if we could keep a cleaner design having a dedicated interface

[2020-04-01 17:52] VineethReddy02 opened #2385 "Links in README.md doesn't work"
Hi!

Under Documentation:
**A guide to running Cortex
Steps to run Cortex with Cassandra**

I see links pointing to https://cortexmetrics.io/docs/guides/production/ are resulting in 404.

[2020-04-02 00:03] #2373 closed

[2020-04-02 06:24] pracucci commented on #2385
Thanks for noticing it! May you submit a PR to fix it, please? The correct link is https://cortexmetrics.io/docs/production/

[2020-04-02 07:22] #1769 closed

[2020-04-02 08:50] kubicgruenfeld opened #2387 "Querier is reporting failure at synchronizing new blocks for not existent deletion-marks"
I may have found a small bug. We have failures reported every 5 minutes when querier is looking for new blocks in object storage in the metric `cortex_querier_thanos_objstore_bucket_operation_failures_total ` . I just tcpdumped it and the queriers are looking for the deletion-mark.json which are not there for all blocks and so are reporting 404 not found.
Queriers are also not reporting any error

[2020-04-02 09:45] vishnubraj commented on #665
The ingester keeps consuming memory and stops without any error message. There has to be a flag to set the memory limit for the ingester or by default it has to restrict it self to use max 80% of system memory..  Please reopen this ticket

![image](https://user-images.githubusercontent.com/11851188/78234448-c853d180-74f4-11ea-80af-ff51a136252b.png)

[2020-04-02 10:26] gotjosh opened #2389 "Improve Remote API documentation: `api/v1/prom/push`"
Based on a conversation from https://github.com/cortexproject/cortex/pull/2383

At the moment, it is not clear what is the lifecycle of a `WriteRequest` when pushed to `api/v1/prom/push`:

- Which errors are reported; Assuming ~~#2383 is merged~~ (got merged 😄), we only send back the first error we encounter when processing samples.
- How sample distribution/ingestion works; Samples are validated

[2020-04-02 10:34] pracucci commented on #2389
I would also explain the returned error is a 400, so that Prometheus does not resend the request but still Cortex signals back to Prometheus that some series have not been successfully ingested.

This is briefly explained in the architecture page (but not in details). We also reference some validation config options in `arguments.md`.

[2020-04-02 11:00] vishnubraj commented on #2050
Thanks @pracucci  if i have to run separate ingester, distributor, querier etc in linux.
do i have to download the linux package and run it only with that specific service config? or i have to build from source ?

[2020-04-02 11:00] pstibrany commented on #2387
We need to fix this in Thanos first. Created https://github.com/thanos-io/thanos/pull/2365.

[2020-04-02 11:04] pstibrany commented on #2387
@kubicgruenfeld Thank you for reporting and investigation! Much appreciated!

[2020-04-02 13:22] pstibrany commented on #2382
LGTM.

I think explicit `Delete` method will be nicer, `kv.ErrDeleteKey` looks weird – it's not an error.

If you need CAS semantics, I would suggest something like `Delete(context.Context, key string, fn func(value) (delete, repeat bool, err error)) error`, where function decides whether to delete the value or not, and if not, if it should be retried, and Delete will only proceed if value hasn't

[2020-04-02 13:43] rfratto commented on #2382
Oof, that's more complexity than I have time for right now. If possible, I'd like to do the easy clients first (etcd, Consul) and leave it as unsupported in the memberlist client until I can dedicate more time to implementing it there.

[2020-04-02 13:45] pracucci commented on #2382
Then I would suggest to not add the new functions to the `kv.Client` interface. You can add the functions to the specific etcd/consul clients and create your own interface (in `grafana/agent`) for that.

[2020-04-02 13:59] rfratto commented on #2382
I don't mind doing this, but I'd have to copy some of the existing code from the `kv` package (metrics, config, etc). I'd like for this to eventually make its way into the upstream interface, which means I'm going to try to keep the config schemas compatible for the upstream migration path to be smooth.

I'll defer to what you'd prefer for the package; let me know and I'll do it.

[2020-04-02 14:04] pracucci commented on #2382
Definitely don't want you to copy code. Can the code be refactored to avoid copying?

_Thinking loudly: looks just weird have a common interface between different backend implementations and then some implementations not implementing some features (which maybe it's a thing done in the past, but wouldn't advocate it's a good practice)._

[2020-04-02 14:05] #2385 closed

[2020-04-02 14:31] pracucci commented on #2382
We discussed offline. I initially did consider only the factory (which is few lines, and still OK to copy IMO), but I didn't consider [`metrics`](https://github.com/cortexproject/cortex/blob/master/pkg/ring/kv/metrics.go) and [`prefixedKVClient`](https://github.com/cortexproject/cortex/blob/master/pkg/ring/kv/prefix.go) for which I don't have a brilliant idea to avoid code duplication. For this re

[2020-04-02 14:44] pracucci commented on #2050
do i have to download the linux package and run it only with that specific service config?

@vishnubraj Cortex always compiles as a single binary, so there's no need to build it from source. To run Cortex in microservices mode (where a single instance runs only a specific service) you've just to pass the CLI flag `-target=NAME` where `NAME` is the service name (ie. `distributor`). Alternatively, y

[2020-04-02 16:34] caniszczyk opened #2395 "Add SECURITY.md and create a security disclosure process"
https://github.com/cortexproject/cortex/security

[2020-04-02 17:20] AndreZiviani opened #2396 "Query error after upgrade to 1.0.0"
Hi, I was using Cortex 0.7.0 with TSDB engine storing in AWS S3 Bucket without problems.

After upgrading to version 1.0.0 I got the error `cannot iterate chunk for series` when querying for values older than 1h, when I refresh the dashboard the error moves to another panel:
![image](https://user-images.githubusercontent.com/7469258/78278581-9fc7d980-74ec-11ea-8747-a12c4d152283.png)
![image](https

[2020-04-02 17:27] AndreZiviani commented on #2396
More info that could be usefull
![image](https://user-images.githubusercontent.com/7469258/78279430-dfdb8c00-74ed-11ea-953a-029f8efd4220.png)
![image](https://user-images.githubusercontent.com/7469258/78279512-039ed200-74ee-11ea-82eb-bb5a69c54ced.png)

[2020-04-02 17:51] kubicgruenfeld commented on #2396
I am not 100 % sure, but maybe we have the same issue, we are not using AWS S3 but a "compatible reimplementation of S3" from Quobyte.

The queriers are logging these for failed queries:

[code]

I did some tcpdumping and saw some GET Requests with Range Headers failing with HTTP Statuscode 416.

[code]

Since, we had at first issues because of our S3-compatible-implementation was rate-limiting, m

[2020-04-02 18:13] kubicgruenfeld opened #2397 "Failing get requests from S3-Storage with Block-Storage enabled"
We are not using AWS S3 but a "compatible reimplementation of S3" from Quobyte and with more than a few parallel queries from larger dashboards we are getting errors in the frontend:

[code]

The queriers are logging these for failed queries:

[code]

I did some tcpdumping and saw some GET Requests with Range Headers failing with HTTP Statuscode 416.

[code]

Since, we had at first issues because

[2020-04-03 06:56] #2316 closed

[2020-04-03 08:00] pracucci commented on #2396
Thanks for reporting it. I can reproduce it as well and I confirm it's a bug (even if I haven't found the root cause). I'm working on it as top priority.

As a side note, the GET error rate may be unrelated and actually be a false positive (not an error) caused by a bug in the metrics tracking we're trying to fix [here](https://github.com/thanos-io/thanos/pull/2365) and/or [here](https://github.co

[2020-04-03 08:26] pracucci commented on #2396
The issue looks to be introduced by my change in the PR #2324 and is caused by the fact that chunks slices are reused in Thanos and we just keep references in Cortex instead of copying them. Sorry for that!

_I'm working on a fix._

[2020-04-03 09:45] #2396 closed

[2020-04-03 11:10] pracucci opened #2401 "Cortex 1.0.0 ingesters rollout breaks zone set in the ring"
While upgrading to Cortex 1.0.0 and doing a rolling update of ingesters, I've noticed only the last rolled out ingester has a zone set in the ring, while all previous one (already rolled out) haven't.

The issue is caused by the co-existence of old and new ingesters. Old ingesters don't know the zone in the ring data structure so when they do deserialise the ring, the zone is lost. This issue disa

[2020-04-03 11:28] RajatVaryani commented on #2380
@gouthamve Can I work on this?

[2020-04-03 12:04] pracucci commented on #2401
A manual hack to fix it is forgetting all ingesters without a zone once the rolling update is completed.

[2020-04-03 12:07] kubicgruenfeld commented on #2397
Fixed by https://github.com/cortexproject/cortex/pull/2400

[2020-04-03 12:28] AndreZiviani commented on #2396
Thanks for the quick fix! It worked!

[2020-04-03 16:09] #2007 closed

[2020-04-04 00:44] khaines commented on #2351
This seems like an anti-pattern IMO and it should be something avoided with the AZ aware writes.

AZ aware writes make the strong guarantee that it will not put more than 1 replica in a given zone. This makes it so you can lose 1-N nodes in a single AZ without interruption. Prior to this with 3 replicas you could just have 1 node go offline without possible interruption. Once there were 2 nodes of

[2020-04-04 03:29] khaines commented on #2401
Thanks, @pracucci! I'll do some reproduction of this and think about a solution.

[2020-04-04 03:48] khaines commented on #2401
I think I see the bug  here : https://github.com/cortexproject/cortex/blob/master/pkg/ring/lifecycler.go#L667

This is the block that the ingesters (or other ring clients) use to update their ring record on the heartbeat timer. It writes out all the data but the zone, so if a pre-1.0 overwrote a blank entry here, the ingester would not correct it on the following heartbeat cycle. The manual fix of

[2020-04-04 10:23] kubicgruenfeld commented on #2397
Sorry to say, but i just rechecked and can see still these HTTP Status 416 "Range not satisfiable" Errors with tcpdump.

[2020-04-05 11:06] weeco commented on #2351
@khaines Can you explain why writes would fail if 2 of 3 the ingester replicas are offline?

[2020-04-05 12:38] vishnubraj opened #2405 "etcd config not working"
i configured etcd config as below and cortexfialed to load with below error. Please confirm if the config format is correct or not

[code]

[2020-04-05 12:42] codesome commented on #2405
Just looking at the error, can you try `endpoints: ["10.3.0.206"]`?

[2020-04-05 12:53] vishnubraj commented on #2405
@codesome config taken, but throughing below alert continuously, i dont see any requests comming to my etcd server..

[code]

[2020-04-05 12:59] vishnubraj commented on #2405
tried the below config and looks to be working.. will updated here.

[code]

[2020-04-05 13:07] vishnubraj opened #2406 "Single process high memory usage"
I am using single process cortex with 246k seried in 32GB ram system. The initial cortex usage is 11GB and slowly it consumes all the 32Gb and dies without any error.  I chnaged the max_chunk_age  from 12h to 1h still the same happens. Can you please help on this..

https://files.slack.com/files-pri/T08PSQ7BQ-F0115L6A0D9/image.png

[code]

[2020-04-05 13:36] vishnubraj commented on #2406
seems to be an issue with the kvstore inmemory.. I just configured etcd as a kvstore..  will update the ticket if it fixes the issue..

[2020-04-05 15:52] khaines commented on #2351
Cortex requires that a majority quorum of ingesters for a particular token are available in order for a write (or query) to succeed.  The particular logic involved can be found in [replication_strategy.go](https://github.com/cortexproject/cortex/blob/master/pkg/ring/replication_strategy.go#L14), but in summary, there needs to be (replication_factor/2)+1 ingesters available for an operation to be a

[2020-04-05 20:29] weeco commented on #2351
Thanks for the explanation. Agreed, this would be an antipattern then.

[2020-04-05 20:29] #2351 closed

[2020-04-06 06:34] codesome commented on #2366
Catching up with emails now :) looks like I missed some discussions

While "out of bound" in TSDB would work fine, it needs some more discussion if it has to be upstream. Also, talking w.r.t. cortex, you will have an unexpected rise in memory consumption because Head block gets bigger than expected. (Additionally, vertical queries and compactions are a tad bit more expensive in terms of CPU and Me

[2020-04-06 06:39] codesome commented on #2366
I would as much try to avoid adding samples older than Head mint and bring vertical compaction into play in the upstream Prometheus, because (1) Code is already complex enough (is that a valid argument? :P) (2) If not used it correctly, users will silently lose/corrupt data. (3) Unexpected spikes in CPU/Memory (maybe this should be expected?)

If this could be an optional flag (just like for overl

[2020-04-06 07:02] pracucci commented on #2084
@codesome This has been done, right? Or am I missing something?

[2020-04-06 07:03] codesome commented on #2084
Fixed in https://github.com/cortexproject/cortex/pull/2105

[2020-04-06 07:03] #2084 closed

[2020-04-06 07:14] pracucci commented on #2366
Is this true even after the m-mapping work is complete?

Yes, we should be able to immediately query back samples pushed to the ingesters, like it's working for the chunks storage (this issue affects only the blocks storage).

I was thinking about an optional flag (like overlapping data).

[2020-04-06 07:30] pracucci commented on #2405
_Closing the issue cause looks to be solved. Feel free to re-open it otherwise._

[2020-04-06 07:30] #2405 closed

[2020-04-06 07:31] vishnubraj commented on #2050
Thanks @pracucci

[2020-04-06 07:38] vishnubraj opened #2407 "rpc error: code = Unimplemented desc = unknown service cortex.Ingester"
I am getting below error continuously, it was working when i initialy started with kv store, and after stop and stop of cortex its not working. If i move the config to inmemory kv store it works fine again.
Can you please check this.
[code]

[code]

[2020-04-06 08:34] codesome commented on #2380
@RajatVaryani sure go ahead!

[2020-04-06 10:16] #2407 closed

[2020-04-06 10:17] vishnubraj commented on #2407
Closing this.. seems to be an issue with etcd server config..

[2020-04-06 10:23] vishnubraj commented on #2406
issue not resolved.. still seeing a high memory usage..  @bboreham  suggested to upload the heap file. Please find the attached file..
Please note, File is intentionally renamed as gz to upload
[heap.gz](https://github.com/cortexproject/cortex/files/4437696/heap.gz)

[2020-04-06 11:45] valentyntu opened #2409 "Series search sometimes returns empty response"
Hi! We are using cortex 0.7.0 as Prometheus data source for our Grafana. We were trying to get all label values for a certain metric. According to the [docs](https://grafana.com/docs/grafana/v6.3/features/datasources/prometheus/#query-variable), we can use functions in variables which works fine. E.g. `label_values(metric, label)` results in a query:
`https://<our data source url>/api/v1/series?ma

[2020-04-06 16:21] jtlisi opened #2411 "Server path prefix flag is harmful"
Currently the weaveworks/common server has the option for a `-server.path-prefix` flag. Setting this flag in Cortex will cause all requests routed to the prometheus API struct to fail with a 404.

Prometheus registers routes with a hardcoded `/api/prom/api/v1/` prefixed route. When requests are routed from the weaveworks server to the Prometheus API `promRouter` they are expected to have the `/api

[2020-04-07 12:13] codesome opened #2417 "Delete old WAL in ingester when checkpointing is disabled"
Currently, the old WAL in ingesters is not truncated if checkpointing is disabled. We need a mechanism to delete exactly the WAL which is already flushed.

[2020-04-07 13:41] #2025 closed

[2020-04-07 14:40] snypez opened #2420 "Specific prometheus scrape config required for autoscaling"
This should use a different label than the Prometheus job name. Deploying Prometheus via helm defaults this value to kubernetes-pods which breaks table-manager in a not very obvious way.
https://github.com/cortexproject/cortex/blob/6684bff2e458a1622abba935c605baec539073d6/pkg/chunk/aws/metrics_autoscaling.go#L30

[2020-04-07 14:48] snypez opened #2422 "Changelog dead link"
[CHANGE] AWS based autoscaling has been removed. You can only use metrics based autoscaling now. -applicationautoscaling.url has been removed. See https://cortexmetrics.io/docs/guides/aws/#dynamodb-capacity-provisioning on how to migrate. #2328

https://cortexmetrics.io/docs/guides/aws/#dynamodb-capacity-provisioning gives a 404

[2020-04-07 15:37] pracucci commented on #2422
The correct link is:
https://cortexmetrics.io/docs/production/aws/#dynamodb-capacity-provisioning

Could you submit a PR to fix it, please?

[2020-04-07 22:24] Konpon96 opened #2424 "New production-grade Helm Chart for Cortex"
Since 1.0 version of Cortex was released, I've planned to deploy Cortex to our Kubernetes on-prem clusters in order to collect and store Prometheus metrics in the same fashion we collect and store logs in Cassandra with Grafana Loki & Promtail. However, the chart from the other cortexproject repo (https://github.com/cortexproject/cortex-helm-chart) looks more like a proof of concept than flexible

[2020-04-08 06:03] codesome opened #2426 "Ingester WAL records need a type header"
Currently, the records are written directly to the WAL without any headers this makes it difficult to change the record safely for any future extensions.

I propose to add a single byte header to the records to determine it's type just like Prometheus (before we remove the experimental tag on the WAL). This could be a breaking change, but we can try to support header + no header for 2 releases and

[2020-04-08 06:50] codesome opened #2427 "Replace currently WAL records with Prometheus WAL records"
This depends on https://github.com/cortexproject/cortex/issues/2426 being resolved

Benefits of changing the records:

1. In the experiments, we found that the current WAL records are 30-50% bigger than using Prometheus WAL records (with ~460B avg record size). Another plus point: the records are exactly the same as what we have custom-defined! (except the `[]LabelAdapter` -> `labels.Labels`)
2. W

[2020-04-08 11:32] annanay25 commented on #2350
I'd like to pick this up!

To do this, we can add support for bidirectional (client and server) auth. The supported TLS version could be synced with the prometheus [node_exporter https package](https://github.com/prometheus/node_exporter/blob/master/https/README.md).

#### Tracking steps
- [ ] Add HTTPS support to `weaveworks/common/server` by adding `TLSConfig` options.
- [ ] Add HTTPS support to

[2020-04-08 12:10] #2401 closed

[2020-04-08 15:18] #2382 closed

[2020-04-08 16:50] bboreham commented on #2350
Ping me if you make a PR in `weaveworks/common` - I don't always catch the notification.

[2020-04-08 18:10] #1723 closed

[2020-04-08 18:29] #2411 closed

[2020-04-08 18:33] joe-elliott commented on #1883
I would like to take this issue on.  I propose:

in the [watchDNSLoop](https://github.com/cortexproject/cortex/blob/226adc6c633fce5138a2ceac11c14155355ecc56/pkg/querier/frontend/worker.go#L94) after a query frontend is added or removed:

- if total query frontends > `worker-parallelism`
  - create one worker for each query frontend
- else
  - randomize the order of the query frontends and assign o

[2020-04-08 18:40] joe-elliott opened #2431 "Query Frontend should use Round Robin to Choose the Next Tenant to Service"
Currently the query frontend randomly chooses a tenant queue and returns it when a querier requests a new query.  This can cause exaggerated long tail latency if a tenant is simply repeatedly not chosen.

I propose updating the query frontend to use a simple round robin algorithm to choose the next tenant to increase fairness and eliminate the chance of an "unlucky" tenant.

[2020-04-08 19:22] owen-d commented on #2313
Note, we were able to improve the implementation in loki by using the chunk fingerprints to partition `(series,chunks)` groupings in https://github.com/grafana/loki/pull/1914. This is likely a reusable approach for cortex.

[2020-04-08 20:29] 42wim commented on #1521
I'm having the same issue with a rolling update, but on nomad.

A bug in the new code means hand-over from old to new fails.
Terminating ingester starts to flush all data, but can't flush quickly enough and runs out of time.
Kubernetes terminates the first ingester and removes its pod entry.

What if you let the ingester remove itself from the ring when it exits correctly?

[2020-04-09 00:21] jtlisi commented on #2340
That seems a bit excessive. Maybe when we migrate to GitHub actions we can create a workflow that stops if one step fails.

A PR that is failing to build shouldn’t run tests for instance.

[2020-04-09 09:13] #2395 closed

[2020-04-09 11:43] codesome commented on #2426
One of the ideas for backward compatible, with some assumptions:

**Assumption:** (yet to verify)

If `bytes = protoStruct.Marshall()` and `bytesWithType = append([]byte{typeByte}, bytes...)`
Then, `proto.Unmarshal(bytesWithType)` will give an error.

**Changes:**

Ingestion:

Currently, we are writing `bytes` from the above. Instead, start writing `bytesWithType` from now.

Replay:
1. First, try

[2020-04-09 11:54] codesome commented on #2426
Just confirmed from the code, it will error out, specifically at this place https://github.com/cortexproject/cortex/blob/32ddd447a20f4d0690fcc177b1dc58a0561323ee/pkg/ingester/wal.pb.go#L915-L917

Assuming we will have `1` as the data type for it (or anything upto 7), `fieldNum` is going to be `0` in the above code.

[2020-04-09 13:48] ThePants999 commented on #2090
Not stale

[2020-04-10 11:31] pracucci commented on #1883
The proposed solution LGTM. In the doc should just make clear the case "if total query frontends > worker-parallelism" because we'll effectively overprovision the worker, but looks the safest approach to me.

The query-frontend is considered stable so we have to honor our [stability guarantees](https://cortexmetrics.io/docs/configuration/v1guarantees/) without introducing any breaking change (but

[2020-04-11 22:45] coelho opened #2453 "Cassandra CompactionStrategy"
The compaction strategy of the tables created for Cassandra should be configurable. Currently it defaults to the Cassanda default: "SizeTieredCompactionStrategy".

Some users may want to experiment with other compaction strategies, like "TimeWindowCompactionStrategy", which is not currently possible since Cortex creates tables on its own.

EDIT: Other table settings, like "default_time_to_live", w

[2020-04-12 02:58] halcyondude commented on #2350
Has the approach of relying on a service mesh (e.g. linkerd, or something else) to enable mTLS between services been explored?  This might be simpler than baking it into the project itself, and might integrate more cohesively with existing k8s fleets.

[2020-04-13 07:54] annanay25 commented on #2350
@halcyondude - I have answered on the PR.

[2020-04-13 10:10] Wing924 opened #2455 "[bug] -distributor.ring.consul.* not working"
# BUG Report

I found `-distributor.ring.consul.*` flags is not working while old `-consul.*` is working.

# Reproduce

[code]

# Reason

The distributor module depends on ring module.

distributor register `-distributor.ring.consul.*` first
https://github.com/cortexproject/cortex/blob/master/pkg/distributor/distributor_ring.go#L36

then ring overwrite those flags to `-consul.*`
https://github.com

[2020-04-14 03:31] Wing924 commented on #2171
It also happen on v1.0.0
After I debugging for a while, I found:
* ruler & distributor send `source` with correct value
* `Ingester.Push` can't get `source` value and default to `0`
* `0` equals `client.API`

[2020-04-14 03:43] #1956 closed

[2020-04-14 07:57] pracucci commented on #2455
The `-distributor.ring.consul.*` and `-consul.*` flags configure two different things:

- `-distributor.ring.consul.*`: a ring of distributors, used by the global ingestion rate limiter (required only if you set `-distributor.ingestion-rate-limit-strategy=global`)
- `-consul.*`: the ring of ingesters, used by distributors to shard and replicate series among the ingesters

[2020-04-14 13:49] gouthamve commented on #2455
Can we have better documentation around this somehow?

[2020-04-14 16:57] bwplotka commented on #1672
Ok, we ultimately bumped into a bit unexpected issue which is "confusion" (: TL;DR: From Thanos user side it's quite hard to deploy Cortex frontend, as it's a bit inconsistent vs what we have for Thanos (for example configuration), so it's quite confusing for community. Still, we want to use Cortex code for it so we decided to create a new Thanos component called `frontend` which would really impo

[2020-04-14 16:58] #1672 closed

[2020-04-14 17:00] bwplotka commented on #2178
Any update on this? :hugs:

Any pointers for contributors, e.g if we would want to tackle it?

[2020-04-14 18:09] VineethReddy02 opened #2460 "If make lint fails locally no explanation in failure"
If make lint fails locally. I never know why is it failing.
[code]

I am only able to fix the issue after I push it to PR when CI  pin points it:

[code]

@pracucci @gouthamve

[2020-04-14 19:18] owen-d commented on #2178
I'm not sure if this will be straightforward to implement. We currently sequence a set of middlewares in the query frontend, of which a caching middleware is one. This makes it hard to pull out part of a query without dealing with the promql Engine, which is what we did in the sharding work (https://github.com/cortexproject/cortex/pull/1878). This could be another reason to support a refactoring o

[2020-04-14 20:44] ThePants999 opened #2462 "Multi-cluster queries"
Feature request arising from Slack discussion.

It would be nice to be able to execute a single PromQL query against the data from multiple Cortex clusters, e.g. if we have clusters in multiple regions and want to display a global dashboard.

A pure-Cortex solution might involve:
 - allowing a Querier to be configured with downstream targets, instead of finding them from the hash ring
 - having th

[2020-04-14 21:44] bwplotka commented on #2178
Yes, definitely worth to look closer in to different design then. I would
say initial promql parse might be necessary...

On Tue, 14 Apr 2020, 20:19 Owen Diehl, <notifications@github.com> wrote:

[2020-04-15 06:06] #1684 closed

[2020-04-15 07:58] bboreham commented on #1709
Also it would be good to add the version to metric `cortex_build_info`

[2020-04-15 08:53] pracucci commented on #2460
The error you got when running it locally is:

[code]

I think you have a very old version of the build image. Please rebuild it with `make ./build-image/.uptodate` and then try `make lint` again.

[2020-04-15 15:39] pstibrany commented on #2387
Closed by #2467

[2020-04-15 15:39] #2387 closed

[2020-04-15 17:36] VineethReddy02 commented on #2460
Performing
[code]

Fixed the issue. make is using cache to build the docker file and it was causing the issue.

[2020-04-16 05:41] #2460 closed

[2020-04-16 07:00] #2345 closed

[2020-04-16 07:22] #2171 closed

[2020-04-16 15:29] tomwilkie opened #2474 "Make query-frontend backoff configurable"
https://github.com/cortexproject/cortex/blob/master/pkg/querier/frontend/worker.go#L26

It spams the logs aggressively otherwise.

[2020-04-17 01:36] papovyr opened #2476 "failed to write chunk"
Im running cortex v1 on EKS with following backend storage setup
AWS DynamoDB and AWS S3
I checked I have double write capacity for dynamo db
Files get added to S3 and dynamoDB table get new record so its not permission problem

However i receive this message in `ingester`s pod
level=error ts=2020-04-17T01:25:43.09152441Z caller=flush.go:207 org_id=main msg="failed to flush user" err="failed to wr

[2020-04-17 03:41] jtlisi commented on #2476
Your ingesters are failing to flush all of their chunks before timing out. There are a number of config options that could help alleviate this. Would you mind sharing the config you are currently using for your ingesters and table manager?

[2020-04-17 09:28] #1993 closed

[2020-04-17 09:58] #1709 closed

[2020-04-17 11:49] garo commented on #670
I have what looks to be a similar situation. I have three prometheus clusters (all with just one replica) sending data to the same cortex (all share the same tenant/orgid) but just one of them is seeing "sample out of order" errors. This prometheus has in total 133157 series but its seeing errors from just a handful metrics: scrape_duration_seconds, scrape_samples_post_metric_relabeling, scrape_sa

[2020-04-17 11:51] tomwilkie opened #2478 "Unify metrics for object stores"
We're missing any metrics for the azure client[1], and we have different metrics for S3[2] and GCS[3].  We should rationalise this into some sort of middleware for the object store interface that makes this more consistent.

[1] https://github.com/cortexproject/cortex/blob/master/pkg/chunk/azure/blob_storage_client.go
[2] https://github.com/cortexproject/cortex/blob/master/pkg/chunk/aws/s3_storage

[2020-04-17 11:55] bwplotka commented on #1672
Context: https://github.com/thanos-io/thanos/issues/2454

[2020-04-17 12:03] garo commented on #670
I am actually also seeing `sample with repeated timestamp but different value` from another tenant. This error also comes from the same file https://github.com/cortexproject/cortex/blob/master/pkg/ingester/series.go#L71 than the `sample timestamp out of order` error.

[2020-04-17 16:12] pracucci commented on #670
@garo This should be unrelated. The most common cause is when a tenant is remote writing clashing series. This could happen when you have relabelling rules in Prometheus which remove some labels from series, which would lead to clashing series (ie. `series_1{a="1",b="2}` and `series_1{a="1",b="3"}`, then you've a relabelling rule to remove the label `b` and you end up with the clashing series `ser

[2020-04-17 17:23] dmitsh opened #2482 "QueryFrontend sets incorrect status code on HTTP timeout"
QueryFrontend does not check for the error from io.Copy, and sets incorrect status code if the error occurred.

[2020-04-17 17:29] papovyr commented on #2476
Thank you,

If it's DynamoDB why it says chunk vs index ?
As chunk is going to s3 and index to dynamoDB?

table-manager config
[code]

ingester config
[code]

An other question argument   `- -ingester.max-chunk-age=12h` is for chunk(s3) or index(dynamoDB) max age,
I want to understand impact if i set this to 1h It will be too many reads from s3 or dynamoDB ?

Im trying so setup cortex as stateless

[2020-04-18 16:38] #636 closed

[2020-04-19 07:14] bwplotka commented on #2045
We won't forget - it creates build errro I think.

Stil we are waiting for chunk iter to be merged to update Prom deps on Thanos. Also there tons of memory leaks and issues - so kind of good update is delayed ;p

[2020-04-19 15:32] tomwilkie opened #2484 "Need a way to differentiate between KV metrics for different rings and dudupers in single binary mode."
Current its all in one histogram - `cortex_kv_request_duration_seconds_count`.  Need to add a name label or something.

[2020-04-19 16:55] bwplotka commented on #2158
Still nice to have (:

[2020-04-20 07:49] #2482 closed

[2020-04-20 09:18] #2033 closed

[2020-04-20 10:18] #1369 closed

[2020-04-20 11:01] pracucci commented on #2045
Fixed in #2088.

[2020-04-20 11:01] #2045 closed

[2020-04-20 11:05] pracucci commented on #2149
Fixed in #2143.

[2020-04-20 11:05] #2149 closed

[2020-04-20 12:13] #1812 closed

[2020-04-20 13:27] till commented on #923
What about `X-Scope-OrgId: tenant1,tenant2,tenant3`?

We'd also like to be able to query across multiple.

[2020-04-20 21:10] tehlers320 opened #2490 "configs api does not allow functions in notification templates"
While running in multi-tenant mode (i haven't tried another mode). None of the functions in Alertmanager for notification templates are taken.

https://github.com/prometheus/alertmanager/blob/v0.20.0/template/template.go#L133

While pointing at "configs" host:
`curl -XPOST -H 'X-Scope-OrgID: 0' http://localhost:8080/api/prom/configs/templates -d@mynotification.json`

How to reproduce:
add a templa

[2020-04-21 11:31] #2085 closed

[2020-04-21 13:05] pracucci commented on #2490
@jtlisi Are you aware of any issue with that?

[2020-04-21 14:01] tomwilkie opened #2495 "Update remote read to the new streaming interface."
@bwplotka introduced a new streaming remote read in Prometheus, we should add the same to Cortex for people who point Prometheus and Thanos at Cortex.

[2020-04-21 23:43] Wing924 commented on #2490
this API is documented but not implemented as it looks.
https://github.com/cortexproject/cortex/blob/master/pkg/configs/api/api.go#L94

[2020-04-22 09:46] garo opened #2498 "Support Prometheus style stats=1 query argument for PromQL requests"
Prometheus supports adding a stats=1 argument to any PromQL request. This will result in a "stats" structure in the JSON response. Here's an example what a native Prometheus query can give out.

[code]

Cortex should implement (or extend) this with additional Cortex specific information, such as:
- Was the query splitted into multiple querier instances?
- Cache hit rate (separated for chunks, indi

[2020-04-22 10:31] pracucci opened #2499 "Experimental feature in use logged even if unused"
I've just seen the following logs in clusters not using Cassandra neither Azure blob storage. These logs are erroneously logged even if the experimental feature is not used:

[code]

[2020-04-22 11:18] bboreham opened #2501 "Idea: parallelise serialisation and compression of streaming gRPC"
A new (experimental) gRPC API is described here: https://github.com/grpc/grpc-go/issues/2432

Might be useful in the ingester-to-ingester transfer code, or for streaming queries.

[2020-04-22 12:07] pracucci opened #2504 "Gaps when querying ingesters with replication factor = 3 and 2 healthy ingesters in the cluster"
Yesterday I've noticed that, in a Cortex cluster with 3 ingesters and a replication factor of 3, during the ingesters rollout there are gaps in queried series (for the series not flushed to storage yet). My gut feeling is that this is a bug in the ring replication strategy, but further investigation needs to be done.

[2020-04-22 13:39] gouthamve commented on #2353
`chunk_store_stored_chunks_total` and `cortex_chunk_store_stored_chunk_bytes_total` now report per user metric. And this is after deduping :)

See: #2463

[2020-04-22 15:41] bboreham commented on #2353
I see nothing in the description or CHANGELOG for #2463 about deduping.

[2020-04-22 21:00] #2504 closed

[2020-04-22 21:36] jtlisi opened #2507 "Querier HTTP metrics are not working with query frontend"
After #2437, the querier no longer passes requests from the worker to the weaveworks/common server. This means none of the instrumentation/logging middleware is used on the request.

https://github.com/cortexproject/cortex/blob/fa0fc64235063d770d6aac223b11e016cf64fcf2/pkg/cortex/modules.go#L213

The two possible solutions I see are as follows:

1. Update the weaveworks common server to allow for m

[2020-04-23 02:52] chriswue commented on #2462
The other option would be to make Cortex region aware so that you can have a single geo-distributed cluster where regional data gets stored in region but you can still run queries globally

[2020-04-23 08:34] bboreham opened #2508 "Ingester rollout broken on restart in JOINING state"
Our staging system was having a lot of trouble at the time; an ingester restarted in the middle of chunk transfer, and the new one came up like this:

[code]

It never came out of that state.

I think it should have gone to PENDING.

This is the previous log of the same pod:

[code]

[2020-04-23 09:05] bboreham opened #2509 "DB capacity metrics inconsistently named"
Capacity provisioned is reported in `cortex_table_capacity_units`.
Capacity consumed is reported in `cortex_dynamo_consumed_capacity_total`.

Discussed at #2307 ; now it is merged it's obviously wrong.

[2020-04-23 09:13] bboreham opened #2510 "memcached batchsize>0 and parallelism==0 should be rejected"
If you set it this way it silently hangs.

Although we can detect this particular issue at setup time, there could be other reasons for the workers to stall; I think `fetchKeysBatched()` should time out too.

[2020-04-23 09:17] pracucci commented on #2507
I'm experimenting exposing the HTTP middlewares created by the weaveworks common server and I've done a quick test running Cortex both in microservices and single-binary mode. Looks working. I will open a PR so we can discuss about this solution.

[2020-04-23 10:10] bboreham commented on #2504
Duplicate of #1290 ?

[2020-04-23 13:43] ThePants999 commented on #2462
Agreed - though this is effectively one way of achieving exactly that!

[2020-04-24 07:41] #2507 closed

[2020-04-24 11:33] #2426 closed

[2020-04-24 14:59] #1883 closed

[2020-04-24 15:18] pstibrany commented on #2174
This was fixed by #2172

[2020-04-24 15:18] #2174 closed

[2020-04-24 15:19] pstibrany commented on #2174
[code]

[2020-04-25 01:03] patrickdevivo opened #2529 "Add TODOs Badge to README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `TODO` comments are in this codebase:

[![TODOs](https://badgen.net/https/api.tickgit.com/badgen/github.com/cortexproject/cortex)](https://www.tickgit.com/browse?repo=github.com/cortexproject/cortex)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO comments in public

[2020-04-25 13:44] #2094 closed

[2020-04-26 11:31] #2110 closed

[2020-04-27 09:45] #2118 closed

[2020-04-27 13:47] jgehrcke opened #2530 "cortex_ingester_chunk_size_bytes: why 8k boundary for last bucket?"
The highest non-inf upper inclusive bound (`le`) value for the histogram metric `cortex_ingester_chunk_size_bytes` is currently set to 8000:

https://github.com/cortexproject/cortex/blob/55a4fcfbc07903fd722e9c72659fd8ff9a873f84/pkg/ingester/metrics.go#L177

What's the rationale for that?

Not knowing much about Cortex internals when I look at the following graph I'd love to have more resolution _w

[2020-04-27 14:32] jtlisi commented on #2476
When an Ingester flushes a chunk to S3, it also creates an index entry for that chunk in DynamoDB.

[2020-04-27 14:34] #2476 closed

[2020-04-27 14:35] jtlisi commented on #2529
This looks cool to me, feel free to open a PR that adds it.

[2020-04-27 16:45] cyriltovena commented on #2431
I read your proposals in #2528 and I think we should go ahead with this simple change, this something that we will benefits right now in Loki where parallelism is higher.

👍

[2020-04-27 16:50] pracucci commented on #2431
I also see this an improvement over the current random-based algorithm 👍

[2020-04-27 17:34] joe-elliott commented on #2431
I will address this next.  Thank you for the feedback.

[2020-04-27 21:19] patrickdevivo commented on #2529
Opened! https://github.com/cortexproject/cortex/pull/2533

[2020-04-28 06:29] #2098 closed

[2020-04-28 12:45] nextus opened #2538 "frontend: no tracing propagation when downstream_url has been specified"
Hi! There are cases when query-frontend is used along with other services like Thanos. The problem with this use-case is in loosing span context in Jaeger.
It happens due to lack of trace initialization in this inline-function: https://github.com/cortexproject/cortex/blob/master/pkg/querier/frontend/frontend.go#L113

[2020-04-28 13:53] #2529 closed

[2020-04-28 14:15] pracucci commented on #2530
I think it's reasonable add 2 more buckets (16K, 32K). Could you open a PR about it, please?

[2020-04-28 14:21] jgehrcke commented on #2530
Will do!

Thanks for the quick feedback.

[2020-04-28 14:35] #2538 closed

[2020-04-28 15:42] gotjosh commented on #923
Following.

[2020-04-28 16:29] #1903 closed

[2020-04-29 06:45] pracucci opened #2541 "Flaky store-gateway integration test"
[code]

Full details here:
https://circleci.com/gh/cortexproject/cortex/28394

[2020-04-30 11:16] bboreham opened #2548 "Ingester startup failed: JOINING -> JOINING is disallowed"
It seems Consul was having trouble for a bit, but the ingester should go back to the beginning and retry.
Similar to #2508

[code]

[2020-05-01 16:54] dcherman commented on #2183
Still would be useful :)

[2020-05-03 08:18] #2150 closed

[2020-05-03 10:18] #2151 closed

[2020-05-03 22:02] chriswue commented on #2462
This way has the advantage that it's based on composition of existing components which is generally good and fits the Unix philosophy however one downside is that all queries generally have to hit all regions since you don't know where the data is located.

If region awareness is built directly into Cortex then that info will be know to the queriers via the index (would most like require replicati

[2020-05-03 22:05] ThePants999 commented on #2462
Queries have to hit all regions if you submit the PromQL query at the top level, yes. However, if you as the user know that the data is all within a certain region, you can submit the query directly to that region's Querier(s) instead. (We'd plan to make use of that to have both global and per-region dashboards in Grafana, each using a different data source.)

[2020-05-04 06:31] pracucci commented on #2204
_It's a very low priority on-going work I continue every while and then._

[2020-05-04 12:24] weeco commented on #2053
Don't mark as stale, still a present issue and reproducible. In the cortex slack there was a third user reporting the same issue.

[2020-05-05 15:58] tharun208 commented on #1582
I like to work on this @gouthamve

[2020-05-05 17:06] tomwilkie opened #2561 "Cassandra: allow HostSelectionPolicy to be set to TokenAwarePolicy"
We should allow the HostSelectionPolicy to be configured.  https://godoc.org/github.com/gocql/gocql#PoolConfig

The TokenAwarePolicy will yield the best performance.

[2020-05-05 20:39] hairyhenderson commented on #2424
(see also https://github.com/cortexproject/cortex-helm-chart/issues/22 and https://github.com/cortexproject/cortex-helm-chart/issues/25)

[2020-05-06 07:12] samitpal opened #2563 "Output logs should indicate that the 'querier' module is getting initialized when explicitly targeted"
When I target the querier in order to run that microservice, I do not see the querier module getting initialized in the logs. Goutham indicated that this is not a bug. The logs should explicitly indicate the querier module loading  in order to avoid confusion.

[code]

[2020-05-06 16:53] bwplotka commented on #2178
Something to add as well : https://github.com/thanos-io/thanos/issues/2569

[2020-05-06 16:55] stvnwrgs commented on #1452
@rverma-nikiai can you tell what the problem is besides the wrong naming of the config variable?

[2020-05-07 14:35] gouthamve commented on #157
One solution: We have healthcheck / heartbeats in the distributors to the ingesters. if consul is down, use the healthcheck info to coast until it is back up.

[2020-05-07 14:40] gouthamve commented on #446
This is an issue when your tables started with tags, but if you set it to empty tags, it returns an error. We should handle the untagging (or setting the tags to blank) much more gracefully.

[2020-05-07 14:45] gouthamve commented on #665
The update here after a brief discussion in our bug scrub is use the suggestion to inspect memory via https://github.com/cortexproject/cortex/issues/665#issuecomment-396923000 and then stop creating new series / chunks.

[2020-05-07 14:49] gouthamve commented on #680
this is most likely fixed by the change to upstream Prometheus based scalable ruler. You can scale out now if your rules can't be evaluated in time.

[2020-05-07 14:49] #680 closed

[2020-05-07 14:52] gouthamve commented on #684
Closing this as this not so much of an issue nowadays with dynamo updates and schema changes.

[2020-05-07 14:52] #684 closed

[2020-05-07 14:56] gouthamve commented on #724
related #684

[2020-05-07 14:59] gouthamve commented on #731
One possible fix is to use `shard-by-all-labels`, but even with that, if you're having 3 ingesters, and 2 ingesters go down and come back, we can ignore a (we only wait for 2 replys) different ingester in different queries, hence will have unstable queries.

[2020-05-07 15:43] aengusrooneygrafana commented on #1449
Updating with the latest design doc (reference above is out of date - the doc now marked as 'old') - the Cortex team are working on the latest design doc [here](https://docs.google.com/document/d/1PeKwP3aGo3xVrR-2qJdoFdzTJxT8FcAbLm2ew_6UQyQ/edit#heading=h.7tz1d625ev0c)

[2020-05-10 11:43] GiedriusS opened #2574 "Add ability to output structured logs in JSON"
#### Description

Add the ability to switch between log formats. I propose adding a new option `-log.format` that could either be `logfmt` (default and the current format) or `json`. These two options are what Thanos has and that model works well so I think Cortex could have a similar thing.

The new option would be passed down to https://github.com/cortexproject/cortex/blob/master/pkg/util/log.go

[2020-05-11 07:04] pracucci commented on #2574
We're all in to add json support. We have a stale PR https://github.com/cortexproject/cortex/pull/2386. Could you take a look at the discussion there, please?

[2020-05-11 12:41] pstibrany commented on #2563
If querier was initialized, it would have been logged. Instead I see `msg=initialising module=distributor` message in the log.

What Cortex version are you running?

[2020-05-11 13:16] #403 closed

[2020-05-11 14:12] pstibrany opened #2578 "I was able to push to master despite branch protection being place"
While merging `release-1.0` branch (with latest 1.0.1), I pushed to `master` branch on GitHub expecting to see an error due to branch protection rules in place. However, it "just" worked...

[code]

Here is a screenshot of current branch protection:
![Screenshot 2020-05-11 at 16 11 49](https://user-images.githubusercontent.com/895919/81571403-31efb700-93a2-11ea-81e9-7ffc5feead00.png)

![Screenshot

[2020-05-11 14:18] codesome commented on #2578
Talking about branch protection, release branch also requires similar protection as master (I am just echoing what is done in Prometheus as it was planned to have similar release process in Cortex)

[2020-05-11 20:45] cyriltovena opened #2582 "Possible improvement in ObjectClient"
Before diving into this improvement I figured I'd ask the team.

I've realized in Loki and this is most probably true in Cortex too, that we get a `ReadCloser` and most of the time we do a `ioutil.ReadAll`. This is widely inefficient specially that most of the time we know how much data there is to read. see https://github.com/cortexproject/cortex/blob/master/pkg/chunk/objectclient/client.go#L101

[2020-05-12 05:01] samitpal commented on #2563
When I set the query-frontend address flag with the querier it logs appropriately. Without that the querier output log doesn't show the querier module getting initialized.

I'm using version 1.0.1

[2020-05-12 13:09] pracucci commented on #2582
Looks a nice improvement and I'm OK with that. My personal preference would be the option #1 because the interface would be cleaner, but I wouldn't use `0` as "unknown" because some object stores allows zero-sized objects: we could have the interface `Size() (uint64, error)` and return a const error (ie. `ErrUnsupported`) when not available.

[2020-05-12 14:07] gouthamve commented on #2582
+1 to the idea and what @pracucci said!

[2020-05-12 20:45] williansvi opened #2588 "Doesn't create chunks/indexes tables properly in Cassandra"
Having this in logs repeatedly:

`level=error ts=2020-05-12T14:24:01.772755202Z caller=flush.go:207 org_id=fake msg="failed to flush user" err="unconfigured table stage_chunks_18394"`

And in Cassandra no table (indexes / chunks) is created...

Cortex version: v1.0.1
Cassandra: 3.11

Config:

[code]

Cassandra setup following: https://cortexmetrics.io/docs/production/cassandra/#setup-a-locally-run

[2020-05-13 08:32] pracucci commented on #1722
@jtlisi Is this still valid?

[2020-05-13 11:45] pstibrany commented on #2353
I added this in https://github.com/cortexproject/cortex/pull/2579, which will eventually be merged into master.

[2020-05-13 13:11] pracucci opened #2591 "Performances degrade on compaction/checkpointing right after ingester startup"
While doing a rolling update of ingesters (blocks storage), an ingester is terminated and then restarted: once restarted it replays the WAL and, once done, is becomes ACTIVE in the ring and start receiving series.

As soon as the ingester start receiving samples, the max time in the TSDB head gets updated and this could trigger a compaction/checkpointing. We've observed that, for a yet unknown rea

[2020-05-13 13:14] pracucci commented on #2591
Generally speaking, could be a good idea to make sure that after the WAL replay, if TSDB head is compactable, we trigger the compaction before switching the ingester ACTIVE. However, TSDB has no notion of "time now" and everything is based on min/max samples timestamp, so it's very likely that after the WAL replay TSDB is not compactable yet but as soon as the next sample is appended it becomes co

[2020-05-13 15:18] pstibrany commented on #2582
Instead of adding `Sizer` to ReadCloser, can we add `ObjectSize` method to `ObjectClient`? That should be enough to make client use single allocation, if it so desires. WDYT?

[2020-05-13 15:25] pstibrany commented on #2582
Another alternative: write new ReadAll method that pools bytes buffers.

[2020-05-13 15:31] cyriltovena commented on #2582
Usually the size is given for free when you ask the object. Adding a new method to the ObjectClient could increase the API calls to the underlying storage.

It could be a good start, but without the size you still have to pay the growing price. But I'll for sure give it a go.

[2020-05-13 15:32] pstibrany commented on #2582
I see. What about making it explicit then? (Using negative value as unknown)

`func GetObject(ctx context.Context, objectKey string) (ReadCloser, int64, error)`

[2020-05-13 22:20] jtlisi commented on #1722
This is still valid but there is no longer any blockers or breaking changes required to accomplish this.

[2020-05-14 05:34] #2350 closed

[2020-05-14 14:38] #2431 closed

[2020-05-14 16:00] #2058 closed

[2020-05-14 17:32] vlinden-cs opened #2594 "Lacking real examples on AWS configs (Schema and Strorage)"
Hi,

I am setting up cortex on an aws server and I want to test DynamoDB for index and S3 bucket for chunks.

I feel there are "live" examples of configs missing from documentation.

I am using:

schema:
  configs:
    - from: "2020-03-01"
  store: aws-dynamo
  object_store: s3
  schema: v9
  index:
    prefix: "cortex_index_"
    period: 168h

storage:
  engine: "chunks"
    aws:
      dynamodb:

[2020-05-15 11:25] #2291 closed

[2020-05-15 11:30] pstibrany opened #2596 "Make it possible to mark module as "visible" for users"
Not all modules should be selectable as "targets", only user-visible ones. For example, selecting "api" or "memberlist-kv" as targets makes no sense (and actually selecting "memberlist-kv" leads to panic, since this module doesn't depend on anything, but Cortex.Run method still tries to register some routes to API -- which is not initialized).

Once we have ability to set some modules as user-visi

[2020-05-15 11:34] pstibrany opened #2597 "Server module stops last"
`Server` module currently waits until all other modules finish, before stopping HTTP server. It does that by using `ServiceMap` from Cortex, which is hacky -- and it is also the only reason why ServiceMap is stored to Cortex struct.

`ModuleManager` could support a special option for modules, to make module stop last, even if not all other modules depend on it. (If there are multiple modules using

[2020-05-15 12:21] #2508 closed

[2020-05-16 10:21] #1739 closed

[2020-05-16 18:59] dcherman commented on #2183
Can this be reopened?  Not sure why it was closed since I had commented on this previously.

[2020-05-18 07:49] pracucci commented on #1710
_Still open_

[2020-05-18 14:51] jtlisi commented on #2294
@annanay25 Can this be closed?

[2020-05-18 16:28] tomwilkie commented on #2588
Can you attach the full logs when you Run Cortex? You should see logs saying which tables were created / synced and why.

[2020-05-18 16:31] tomwilkie commented on #2588
I'll note that `stage_chunks_18394` should have been created on the 12th, which was when you created this issue.  Does this identifier appear anywhere in the logs?

[2020-05-18 16:35] #2530 closed

[2020-05-18 17:53] #2253 closed

[2020-05-18 18:19] #1950 closed

[2020-05-19 08:10] pstibrany opened #2603 "runtime error: integer divide by zero"
Found in logs while investigating customer query error:

[code]

[2020-05-19 08:41] pstibrany commented on #2603
Turning off query-sharding avoids the bug.

[2020-05-19 13:00] kwSeo opened #2607 "Cassandra read and write consistency levels"
We are using the Apache Cassandra as the Cortex storage.
Cortex provides an option for setting the consistency level but it can not use read and write consistency levels separately.
We want to configure read and write consistency levels differently.
(https://docs.datastax.com/en/cassandra-oss/3.0/cassandra/dml/dmlConfigConsistency.html)

How about providing the configuration options as below?

[co

[2020-05-20 11:17] kubicgruenfeld opened #2612 "Unexpected behaviour if using nested variables in grafana templates with block storage"
We are using the experimental block storage and have an issue with nested variables in Grafana.

If using template variables in Grafana like `label_values(node_load1{hardwarenode='$hardwarenode'}, instance)` and try to query data which is not present in the ingesters anymore, there are no labels found.

If templates are using no nested variables like `label_values(node_load1, instance)`, there is

[2020-05-20 12:26] owen-d commented on #2603
This is because we don't call `promql.SetDefaultEvaluationInterval(cfg.Querier.DefaultEvaluationInterval)`, which mutates a package level variable in the promql package and is eventually used in division.

We currently do this in the querier:
https://github.com/cortexproject/cortex/blob/master/pkg/querier/querier.go#L134

[2020-05-20 15:00] snc29590 opened #2615 "How to configure minimum resolution/step for metrics?"
Cortex details:
running in: k8s
version: 1.0.0
backend: cassandra
schema: v10
ingestion-rate: 90k-100k samples/sec

We have single prometheus (no HA) per k8s cluster scraping metrics from services/pods at a 15s interval and sending it to Cortex.

While querying each cluster's Prometheus directly, we are able to display metrics at 15s resolution in Grafana; however, while querying same metrics from

[2020-05-20 15:04] snc29590 commented on #2615
Oops, just found out this is was a Grafana config issue at our end. We had incorrectly set the scrape interval to 1m in the datasource configuration.
![image](https://user-images.githubusercontent.com/16399189/82462517-4dad3880-9ad9-11ea-8498-2649b750e4fe.png)

Setting it to 15s solved the issue!

[2020-05-20 15:04] #2615 closed

[2020-05-21 08:17] pracucci commented on #2612
Thanks for reporting it. Looks an issue. I'm investigating it.

[2020-05-21 08:25] #2603 closed

[2020-05-21 09:44] pstibrany commented on #2578
Tried to do the same today, but got error (as expected, and unlike last time):

[code]

[2020-05-21 11:27] cyriltovena commented on #2582
I thought about this too. @pracucci has some concern using 0 or negative has unknown.

May be:

`func GetObject(ctx context.Context, objectKey string) (ReadCloser, *int64, error)`

and nil if unknown ?

[2020-05-21 11:54] pracucci commented on #2582
In Thanos we recently introduced the `ObjectAttributes` struct, which holds size and last modified timestamp. Have you considered something like this?

[code]

[2020-05-21 12:08] pstibrany commented on #2582
I'm fine with Marco's suggestion.

[2020-05-21 12:09] pstibrany commented on #2582
(It doesn't solve the problem of other attributes being available, but not size, but let's solve that when we get there :))

[2020-05-21 12:26] #2612 closed

[2020-05-21 12:51] cyriltovena commented on #2582
Yeah I like this ! Specially because we need that timestamp for another features.

[2020-05-21 20:35] jtlisi opened #2619 "Remote Reads are Broken"
Prometheus remote-read requests require a POST method with an encoded `prompb.ReadRequest`. See [here for more context](https://github.com/prometheus/prometheus/blob/1c99adb9fdc79446534e55edba35c676d5e89d57/storage/remote/client.go#L149)

Cortex currently only registers the read endpoint for `GET` requests

[2020-05-22 05:59] storyicon opened #2622 "How to configure distributor.replication-factor"
Hello, I started to contact cortex last week. I may not know enough about the project, so have some doubts:
How to configure `distributor.replication-factor`? should this parameter be equal to the number of real replica number of ingester?

[2020-05-22 09:15] pracucci commented on #2622
👋  @storyicon

The replication factor is the number of different ingesters to which a single received series should be replicated. It's should *not* be set to the number of total ingester replicas, but to the number of ingester replicas to which a single series should be replicated to.

In the real world there are mainly two settings:
- Replication factor = `1`: no replication. If an ingester is l

[2020-05-22 10:21] vitovitolo opened #2624 "Ruler: recording rules evaluated have gaps"
## Setup info

- cortex:

version 1.1.0
runtime: google kubernetes engine
schema: v10
index storage: bigtable
chunks storage: bigtable-hashed
multitenancy and auth disabled: `auth.enabled=false`
ha tracker: disabled
hash ring: consul
ingester wal: disabled
cache: memcached

I upload recording rules via configs API. Ruler uses Configs DB (postgresl) as storage type.

I'm running prometheus Alertman

[2020-05-23 09:08] #2422 closed

[2020-05-25 00:45] mizunos opened #2625 "Cannot connect to configs-db from configs pods"
I am running Cortex on k8s. Upgraded to 1.0.1 from 0.4.0. -  Configs pods went into the running state then restarted constantly because it could not connect to the configs-db.

here are the errors encountered :
[code]
or
[code]
Here is the deployment yaml for configs-db

[code]
and here is the configs deployment yaml
[code]
I checked the secret and it returned the correct value.  I went into the c

[2020-05-25 06:47] pracucci commented on #2331
Could be related to https://github.com/cortexproject/cortex/pull/2620 ?

[2020-05-25 15:03] #2619 closed

[2020-05-26 08:41] ajayanaj opened #2631 "How to integrate ruler with cortex"
Hello,

I'm looking for some documents to configure ruler with cortex, but I couldn't find much documentation for the ruler configuration. Is there any documentation for the ruler configuration?

Also, I would like to know how this ruler works? is it the same way Prometheus evaluates rules from a particular directory? (In prometheus we can configure the alert rules read from a particular directory

[2020-05-26 12:08] storyicon commented on #2622
I'm pleasantly surprised that you made such a detailed answer for a beginner like me, thank you very much @pracucci
Recently I have spent more time researching Cortex, this is a great project, I hope I will be able to make some contributions to it later, at the same time I am preparing to promote it in our company.

[2020-05-26 12:08] #2622 closed

[2020-05-26 14:22] gutorc92 commented on #1256
@mjsjinsu, could you resolve this issue?

[2020-05-26 15:35] gotjosh commented on #2631
Hi @ajayanaj!

Thank you for expressing your interest in the ruler.

Some documentation exists in [the official Cortex website](https://cortexmetrics.io/docs/apis/#ruler) but I could see a world where there might missing pieces. After going through those, can you let me know what's missing?

It's fairly similar. You'll see in the documentation that instead of providing the file directly from the f

[2020-05-26 19:42] mattmendick opened #2638 "Clean up gossip and remove `experimental` flag from gossiped ring method in docs and config"
Gossiped Ring works well, and so we should remove the `experimental` flag from the docs and config comments. In addition, we should do a few polishing steps:

* investigate error messages about being unable to ping, but tcp working. They seem harmless. Document their harmlessness or silence them if possible.
* Randomize node names used in gossip. This fixes problems with stateful sets reusing node

[2020-05-26 19:43] mattmendick commented on #2638
cc @pstibrany

[2020-05-26 23:26] #2237 closed

[2020-05-27 12:19] jah-jh opened #2641 "Question about data structure in Cassandra"
Hi all!

This is not an issue but a question about data structure in case of using Cassandra

I am new in cortex and Cassandra and trying to understand next:

About chunks:
A chunk consists of 3 columns: hash, range,  value

The **hash**, for example, looks like this `0/dded239cb02b50e6:172419b94f2:172442e4dc2:6e84c184` - it is splited colon. So what does each part mean?

**range** - for the test

[2020-05-27 18:15] gutorc92 commented on #1256
I am getting the same error:

<img width="1436" alt="error_ingester" src="https://user-images.githubusercontent.com/2671806/83056797-61522500-a02c-11ea-8e6b-022036f43a94.png">

<img width="615" alt="ingester_config" src="https://user-images.githubusercontent.com/2671806/83056829-6ca55080-a02c-11ea-8422-2c283b516599.png">

I was reading the code and get the line on first image:

https://github.com/

[2020-05-27 18:16] gutorc92 commented on #1256
@mjsjinsu can you reopen this issue?

[2020-05-28 03:31] storyicon commented on #2641
@jah-jh Hello, after reading the code, I have done some PPT for these contents, which may help you, but the following content is unofficial:
![image](https://user-images.githubusercontent.com/29772821/83094726-e0029d00-a0d4-11ea-8ba3-fd53038cf072.png)
![image](https://user-images.githubusercontent.com/29772821/83095759-9adf6a80-a0d6-11ea-9edf-5492acaa9660.png)
![image](https://user-images.githubus

[2020-05-28 04:26] mjsjinsu commented on #1256
No Thanks, It was very helpful

[2020-05-28 07:17] ajayanaj commented on #2631
hey @gotjosh thanks for your reply!
I was going through the the shared documentation and I came to know that the alerts are managing via API only.
I just tried to setup a single instance cortex (using https://cortexmetrics.io/docs/getting-started/getting-started-chunks-storage/) to create some alerts, but i'm not sure how I push the alerts.
Like I'm stuck at this "namespace" and "groupname". I bel

[2020-05-28 12:02] Sayrus opened #2643 "Clarification on http-prefix ending with a trailing slash"
Hello,

Today I upgraded from Cortex 0.7 where I used `http.prefix=/`. While testing things, I understood that the behavior of `http.prometheus-http-prefix` (and `http.alertmanager-http-prefix`) is different from what `http.prefix` used to do.

Using the value `/` or `/something/` will lead to 404 errors that are hard to spot.

I understand that Cortex is doing strict matching so it might not make

[2020-05-28 12:27] gouthamve commented on #2643
This looks like a bug that needs to be fixed. Will send a fix for it soon!

[2020-05-28 13:16] storyicon opened #2644 "cachingIndexClient brings negative optimization"
Hello, the maintainer of Cortex, when I tested Cortex, I found:
[code]
The above query took me up to 12.56s. I printed the log of the CQL statement executed by Querier and found that the query statement of Cortex Querier was like this:
[code]
It took me 12.111s and returned 1,610,998 records.

I think the query here should like this:
[code]
It takes less time(I execute it in cassandra and it only

[2020-05-28 14:40] gouthamve commented on #706
We've looked at this issue in our bug scrub and decided to close this as the hack is likely removed and it didn't cause any pain in the meantime either.

[2020-05-28 14:40] #706 closed

[2020-05-28 14:48] gouthamve commented on #775
This is much less of an issue when using the WAL (statefulset) because there is no handover.

[2020-05-28 14:50] gouthamve commented on #778
We looked at this in our bug scrub and decided that it was closed by #1896

[2020-05-28 14:53] gouthamve commented on #822
We should also look for other places where having data in the future causes issues. This is a bug nevertheless.

[2020-05-28 14:57] gouthamve commented on #858
We have gone through this issue during our bugscrub and decided to close this as we haven't see it in recent times. Will re-open if we spot it again, but likely fixed.

[2020-05-28 14:57] #858 closed

[2020-05-28 14:58] gouthamve commented on #865
Maybe we can extract the end of https://docs.google.com/document/d/1mCS5C9wQxEyFQrknaY4nFvgWR34ZKUgFH7I2osMhbIY/edit and put it onto the website.

[2020-05-28 14:59] gouthamve commented on #874
We are closing this as this is not an issue in BigChunk which is the default encoding for Cortex now.

[2020-05-28 14:59] #874 closed

[2020-05-28 15:04] gouthamve commented on #881
We've looked at this in our bug scrub and decided to close it because of the complexity it adds to the code. The speed up is for smaller datasets which are fast enough anyways. We will revisit this if required.

[2020-05-28 15:04] #881 closed

[2020-05-28 15:11] gouthamve commented on #973
We looked at this bug in our bug scrub and decided to close this as we haven't seen this in a long time and have fixed similar (and likely also this bug) in the code path since.

[2020-05-28 15:11] #973 closed

[2020-05-28 15:16] gouthamve commented on #1019
We now have this https://github.com/cortexproject/cortex/security

[2020-05-28 15:16] #1019 closed

[2020-05-28 15:16] pstibrany commented on #996
I've tried to introduce this [optimization in Prometheus](https://github.com/prometheus/prometheus/pull/6996), but it turns out it's not valid, because there are values that ".*" regex doesn't match, specifically values that include newline character.

[2020-05-28 15:18] gouthamve commented on #1066
Lot of time passed, but from my recollection, we tried this but didn't make any difference hence scrapped this.

[2020-05-28 15:18] #1066 closed

[2020-05-28 15:19] gouthamve commented on #1084
This is not a big issue if you're running the WAL (statefulset)

[2020-05-28 15:24] pracucci commented on #1150
We have an accepted proposal here https://github.com/cortexproject/cortex/pull/2528.

[2020-05-28 15:25] gouthamve commented on #1163
Closing this as we now use BigChunk as the default and it isn't a problem here anymore.

[2020-05-28 15:30] #996 closed

[2020-05-28 15:41] pracucci commented on #1152
@bboreham In the PR #2452 you mentioned it partially fixes this issue. What's left out?

[2020-05-28 19:39] jtlisi opened #2649 "Adjust log level while running"
It is very common when debugging/operating cortex to deploy it with the log level set to `debug`. However, most of the time this is far too verbose. The ability to dynamically change the log level of Cortex would great improve the ability to debug a production system.

[2020-05-29 03:01] jtlisi opened #2650 "Reuse ring memberlist client in Alertmanager"
In order to run the alertmanager in a single binary the user will have to run two separate gossip ports. One for the alertmanager and another for the ring kv client. We should explore reusing the the ring memberlist implementation in place of the alertmanager cluster implementation.

[2020-05-29 05:44] pracucci commented on #2650
@pstibrany Isn't reusing the ring client something we already did for other components?

[2020-05-29 07:52] pracucci opened #2652 "Inefficient blocks storage index lookup when running query-frontend due to Prometheus lookback"
Given a "large" time range query (even "Last 24h"), the query-frontend split queries by day and then the querier receives a query whose time interval interval is [00:00:00, 23:59:59].

The problem is that the PromQL engine does a 5m lookback (by default) so the query we end up executing is actually [prev day 23:55:00, 23:59:59].

In the blocks storage, we do have daily blocks, so we have to query

[2020-05-29 08:11] Jamlee opened #2653 "how to delete old metric data and export metirc from Ingester ?"
i have deploy single node and scale up to 3 replication.
is there any to delete old metric data in single node with localstorage?
is there any to export metric data in single node to other back storage like cassandra?

[2020-05-29 10:44] bboreham commented on #1152
I believe all of `pkg/chunk/aws/dynamodb_table_client.go` could be changed from the loop in `backoffAndRetry()` to the `retryer` added in #2452.

`BatchWrite()` and `getDynamoDBChunks()` also implement their own retry loops, but these have complicated interactions with throttling so I suspect will have to stay.

[2020-05-29 10:44] pstibrany commented on #2650
My understanding of this issue is different. Our existing work in Cortex allowed to use single memberlist-based between different components.

What I believe Jacob describes here is that AlertManager itself uses memberlist library to setup a cluster (with AM nodes). I think Jacob proposes to use Ring for AlertManagers instead, which would allow it to use our memberlist-based Ring implementation as

[2020-05-29 10:46] bboreham commented on #1163
The problem remains as stated.  A reasonable step would be to remove this feature entirely.

[2020-05-29 13:41] pracucci commented on #2137
Still valid. Etcd integration tests missing.

[2020-05-29 13:44] pracucci commented on #2653
👋 @Jamlee

Could you give more details about what you would like to delete, specifically?

Could you share more details about your use case here, please?

[2020-05-29 14:21] #1681 closed

[2020-05-29 14:22] pracucci commented on #2355
_Still valid._

[2020-05-29 17:36] storyicon opened #2662 "How to treat "sample timestamp out of order"?"
My remote write has a large number of stacks, and cortex's distributor prints a large number of "sample timestamp out of order". Should such samples be discarded?
When distributor finds out of order sample, it will return 400. Does this trigger the retry mechanism of Prometheus and cause the sample to Ping Ping Ping Pong continuously? (It looks like this, but I did n’t delve into it)

[2020-05-29 18:54] VineethReddy02 opened #2664 "Add docs for Experimental gRPC store"
Add configuration details needed for the cortex config file and steps to integrate the third-party database for index & chunk store.

[2020-05-29 18:54] VineethReddy02 commented on #2664
I will work on this.

[2020-05-31 09:35] storyicon opened #2665 "About the memory of ingester"
Hello, I have a serious memory problem when using Cortex. Cortex is always killed by OOM after running for 30 minutes.

![image](https://user-images.githubusercontent.com/29772821/83348531-1acc3580-a360-11ea-878b-d0b9bf06aab4.png)
After I stopped remote write for more than `10 hours`, the memory of ingester did not drop, and it still holds 98G of memory. At this time, I can see through /metrics th

[2020-05-31 16:21] Jamlee commented on #2653
@pracucci
Could you give more details about what you would like to delete, specifically?
some data whom is a month ago.

is there any to export metric data in single node to other back storage like cassandra?
3 single node cluster is  deployed in my production with local storage. could i migrate it to  cassandra without data loss ?

[2020-06-01 07:33] pracucci commented on #2077
_Still valid_

[2020-06-01 09:07] #2286 closed

[2020-06-01 17:19] jtlisi opened #2672 "Separate Integration Test Suites"
The integration tests on this repo are exceedingly large. I think we should consider adding multiple build tag parameters to organize the tests into separate groups.

A well thought out set of [build constraints](https://golang.org/pkg/go/build/#hdr-Build_Constraints) should allow related groups of tests to be grouped together and still preserve the option to run all integration tests in a row at

[2020-06-02 05:01] ashikjm commented on #1145
Hello @gouthamve, I have submitted a PR for this #2671 . Please review.

[2020-06-02 06:30] ajayanaj commented on #2631
@gotjosh  I just setup a single instance cortex using https://cortexmetrics.io/docs/getting-started/getting-started-blocks-storage/ but I'm unable to enable ruler/alertmanager on top of it. When I access localhost:9009 I could see a big config, but not sure how do I use it.

It would be helpful if you can share how to set up ruler and alertmanager with cortex.
Thanks in advance

[2020-06-02 09:50] gouthamve opened #2675 "Flake in etcd tests"
See: https://app.circleci.com/pipelines/github/cortexproject/cortex/6096/workflows/ece7d739-9533-4a12-92a0-cfc4289d6d47/jobs/31080

[code]

[2020-06-02 17:57] Xorso opened #2680 "Using Netdata remote_write to go directly to Cortex"
##### Question summary
Based on the documentation from Netdata on [remote_write](https://learn.netdata.cloud/docs/agent/exporting/prometheus/remote_write) and based on the netdata link [Storage Providers](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage) I thought it was possible to do a remote write directly to Cortex. I wanted to accomplish this so that I did not h