[2020-06-02 19:09] #2297 closed

[2020-06-02 19:51] lostmimic opened #2681 "Labels and series lookups only query ingesters"
https://github.com/cortexproject/cortex/blob/master/pkg/ingester/ingester.go#L833-L834

This breaks away from the Prometheus API standard for /api/v1/series (https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers) which causes problems with things like Grafana generating variable values from labels (https://grafana.com/docs/grafana/latest/features/datasources/p

[2020-06-03 11:51] kwSeo commented on #2607
This feature is not useful...
Because read and write are separated to Ingester and Querier respectively.😅
I will close this issue myself.
Pease skip this issue.

[2020-06-03 11:51] #2607 closed

[2020-06-03 15:15] #1145 closed

[2020-06-04 07:01] #2484 closed

[2020-06-04 07:18] pracucci commented on #2662
Given a single remote write request (which contains multiple samples), Cortex discards all samples whose timestamp is out of order, while successfully ingest other ones. Then Cortex returns a 400 response status code to signal that at least 1 sample was discarded.

No, it doesn't. Prometheus does **not** retry to send the remote write request on 4xx, while it does retry on 5xx or network error (ie

[2020-06-04 07:30] pracucci commented on #2653
The local chunks storage is not meant for production usage and doesn't support retention.

We currently don't provide a tool to migrate data between two backend storages. You would need to build it yourself (we can give inputs, if needed).

[2020-06-04 08:50] Jamlee commented on #2653
@pracucci, thanks, buddy. got it!

[2020-06-04 08:50] #2653 closed

[2020-06-04 10:50] pracucci commented on #1710
Re-opening cause #2679 doesn't affect unit tests running CI, so it's partially fixed.

[2020-06-04 12:19] #2644 closed

[2020-06-04 12:21] storyicon commented on #2662
Thanks, very valuable response. @pracucci

We have a panel to monitor `Prometheus Remote Write lag time`:
[code]
When this value is very high, the warning for `sample timestamp out of order` will appear in large numbers. I will track prometheus to find the source of the problem.

[2020-06-04 12:21] #2662 closed

[2020-06-04 13:54] pracucci commented on #2672
I agree on the strategy, but the problem is that we don't have enough workers/cores in CircleCI. This is the reason why last friday I started experimenting with GitHub actions (CNCF would sponsor some extra capacity there).

[2020-06-04 19:31] mattmendick opened #2694 "Re-add Querier Metrics/Logging in Single Binary"
A previous change (https://github.com/cortexproject/cortex/pull/2437) removed logging and metrics in single binary mode for the querier. We should restore this functionality to have better visibility into the querier.

[2020-06-05 08:05] pracucci commented on #2366
_This is still valid. @codesome has some ideas he wanna experiment._

[2020-06-05 09:31] bwplotka commented on #2366
Can you share those ideas Ganesh?

On Fri, 5 Jun 2020 at 09:05, Marco Pracucci <notifications@github.com>
wrote:

[2020-06-05 09:39] codesome commented on #2366
It was one of my TODO for today :) I will share with you all once I have written it down.

[2020-06-05 14:02] codesome commented on #2366
This is an idea from the top of my head, needs more thought

**The root problem**

These 2 checks, [this](https://github.com/prometheus/prometheus/blob/6ff4814a492ae6f9e3f5cf7b022a823b631b7a95/tsdb/head.go#L1084-L1087) and [this](https://github.com/prometheus/prometheus/blob/6ff4814a492ae6f9e3f5cf7b022a823b631b7a95/tsdb/head.go#L1114-L1117)

**Solution**

Enable vertical compaction and querier and

[2020-06-07 03:06] jgraettinger commented on #1521
Hi -- FYI I've found this `/ready` behavior plays badly with StatefulSets using an "Ordered" [Pod Management Policy](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#pod-management-policy) (the default). I believe the fix is easy -- use a "Parallel" policy -- but documenting the problematic scenario:

Suppose you have 3 SS replicas with "Ordered" policy:
  - pod-0, pod

[2020-06-07 03:29] #1852 closed

[2020-06-07 07:56] codesome commented on #2427
This is done

[2020-06-07 07:56] #2427 closed

[2020-06-07 12:17] kwSeo commented on #2133
@pracucci
This issue may be related to querier configs below.
(cache: Redis, storage: Cassandra)

[code]

In our use case, if `querier.query_store_after` is zero or short duration, this error occurs frequently.
Default values of `query_ingesters_within` and `query_store_after` are `0s`.
But those configs require the duration value more than `0s` to avoid this error.
I expect the timing issue relat

[2020-06-07 16:38] jtlisi commented on #2133
@chris-ng-scmp Can you set the log level of your Cortex to debug and replicate the issue? It would help us narrow down which code path is triggering the issue.

[2020-06-07 16:39] jtlisi commented on #2320
Marking this as not stale since it's still an issue as far as I'm aware.

[2020-06-07 16:45] jtlisi commented on #2406
@vishnubraj Are you using the ruler or running a consistent query load against your Cortex cluster? Also are you seeing any issues in your logs?

[2020-06-07 16:50] #2318 closed

[2020-06-07 18:50] #2325 closed

[2020-06-08 06:30] pracucci commented on #2340
Still valid. I started an experiment at https://github.com/cortexproject/cortex/pull/2661 but haven't had the time to further explore it yet.

[2020-06-08 06:32] pracucci commented on #2417
@codesome Is this still relevant?

[2020-06-08 06:37] codesome commented on #2417
As per the latest guidelines set, checkpointing should be always enabled when using WAL in production. Disabling checkpoints is only for development purpose. So, not relevant anymore.

[2020-06-08 06:37] #2417 closed

[2020-06-08 06:39] pracucci commented on #1521
Why is pod-0 marked as unhealthy? I can't understand this.

[2020-06-08 06:56] pracucci commented on #2366
Thanks @codesome for sharing your idea!

As you stated, a downside of this approach is that you may end up with a single large block which will impact the compaction. This is a solvable problem, replacing TSDB compactor planner with a custom one (ie. we could exclude those not-aligned blocks from compaction or compact them together without impacting correctly-aligned blocks).

The longer the time

[2020-06-08 07:05] bwplotka commented on #2366
Sorry I am missing what is the solution here...

Can we elaborate?

Is this essentially what we proposed for backfilling? Start another TSDB for each out of band request (and keep it for some time until cut)? That's would be quite neat. I don't get how it can produce large blocks - it's exactly the same as you would have in total with all out band data included :thinking:

[2020-06-08 13:57] kwSeo commented on #2133
@jtlisi @pracucci
PromQL below is one of queries to cause this error.

[code]

I'm using this query in Node Exporter Full Dashboard imported from Grafana Marketplace.
And I'm not sure `querier` configs mentioned above is the cause.
The following logs are debug logs to appear when the error occurred.
(Sensitive informations were obscured, such as IP.)

[code]

[2020-06-08 16:42] #2453 closed

[2020-06-08 21:08] ninjaslothx opened #2698 "Calrification on -distributor.replication-factor"
Hey,
I was just looking for some clarity on the -distributor.replication-factor option.
In the docs it says "The number of ingesters to write to and read from."
Does this mean this value should always be matched to the amount of running ingesters?
Or is it a parallelism setting and this can be set lower than the total ingester count?

Thanks in advanced!

[2020-06-09 06:21] pracucci commented on #2698
👋  @ninjaslothx. This question was recently asked in another issue. Please see this reply https://github.com/cortexproject/cortex/issues/2622#issuecomment-632588878. If you have further questions you can reply to #2622.

[2020-06-09 06:21] #2698 closed

[2020-06-09 06:50] pracucci commented on #2133
Thanks @kwSeo for the debug log. It has been very useful. The bug is triggered when the `SeriesStore.GetChunkRefs()` returns `[][]Chunk{[]Chunk{}}`.

_I'm looking for the right way to fix it._

[2020-06-09 07:03] pracucci commented on #2133
@kwSeo Would you be able to compile Cortex from https://github.com/cortexproject/cortex/pull/2700 branch and test if it fixes your issue please?

[2020-06-09 11:29] kwSeo commented on #2133
Thanks @pracucci !
The `mget` error logs disappeared in `chunksredis` since using your codes.
But another error logs remain.
Similar errors were occurring in `index-cache-read`.
The errors in `index-cache-read` seem to occur rarely.

[code]

**debug logs**
[code]

[2020-06-09 20:20] drequena commented on #1732
@mizeng , I'm facing the exactly same error. What parameter did you configure in order to stop that problem? :)
Best Regards.

[2020-06-09 23:53] ninjaslothx commented on #2698
Apologies I failed to search thoroughly!

[2020-06-10 06:22] pracucci commented on #2698
No problem at all! I just wanted to move the discussion to #2622 so that we can keep further conversations in a single place. Thanks!

[2020-06-10 06:29] codesome commented on #2366
Here the "check" is checking of min valid time for the samples - where we discard samples before 1h. When I say make that check optional, we remove that particular check in Cortex/Thanos and allow any timestamp as long as it is not out-of-order within the same series. Later in the comment, I suggested having configurable min valid time instead of removing the check completely.

So it is not the sa

[2020-06-10 06:35] codesome commented on #2366
Starting another TSDB on the side for non-backfilling purposes is a lot of complexity for the normal ingestion path. So I suggest we have a separate API itself for backfilling which will explicitly start another TSDB and merge with the main TSDB later. And in case of lagging samples for the usual ingestion, I suggest the above solution. WDYT?

[2020-06-10 06:55] pracucci commented on #2366
I agree to do an experiment on @codesome proposal. I also agree that opening parallel TSDBs adds complexity which I would like to avoid if possible. I think we're fine being able to ingest samples only up to X hours ago for this use case; if the solution doesn't come with exceeded complexity, than it would significantly relax the issue with a low effort.

As I mentioned previously, we'll probably

[2020-06-10 07:24] pracucci opened #2703 "Store-gateway broken GCS connection does not recover"
We had a malfunctioning store-gateway instance logging `write: broken pipe` each time it tried to fetch chunks from GCS. I looks like the issue has started with a broken TCP connection (which is OK) but then didn't recover closing it and opening a new one. Restarting the store-gateway fixed the issue, but we should fix the root cause.

This kind of logs were continuously repeated:
[code]

[2020-06-10 08:41] bwplotka commented on #2366
Thanks for this explanation, now it makes total sense. Actually this proposal has the same effect as running TSDB in parallel (minus the ability to backfill series already existing in the head), just without that complexity, so amazing!

I guess with some work we could make sure the same TSDB handle out of order samples as well (with some limits), so this sounds quite nice!

In both cases with hav

[2020-06-10 08:43] pracucci commented on #2366
Agree, but we've already experimented with a custom compactor planner and it's doable. I think the logic to handle this won't be much complicated.

[2020-06-10 09:20] squat commented on #2366
That's a nice workaround. If we go with @codesome's modified proposal of having a configurable min valid time, then one UX thing that we'll need to document well in order to not confuse users is that you may be able to ingest things _older_ than the threshold, e.g.when setting the threshold to X hours, you may be able to ingest data _up to_ X+2 hours old.

[2020-06-10 09:50] samitpal opened #2704 "Alertmanager segfaults if I don't pass the -alertmanager.web.external-url flag"
Not sure if it is an issue. But when I look at the documentation for alertmanager, it doesn't seem to me that `-alertmanager.web.external-url` flag is a required flag. Here is what happens when I don't pass that flag. It works fine with that flag though.

[code]

[2020-06-10 10:30] jah-jh commented on #2641
Thank you.
This is more than I expected

[2020-06-10 16:43] jtlisi opened #2707 "Querier API Metrics are not reported when running in Single-Binary mode"
The querier registers a separate router when running in a single binary. This router is not currently instrumented with metrics.

[2020-06-11 00:40] alvinlin123 opened #2710 "Document for the `-target` parameter does not align with the ALL target defined in module manager"
Currently the command line document for `-target` it says applicable values are `all, distributor, ingester, querier, query-frontend, table-manager, ruler, alertmanager, configs`.

However, reading [coretex/modules.go](https://github.com/cortexproject/cortex/blob/master/pkg/cortex/modules.go#L554) it looks like there are more possible values for `-target`; take `data-purger` for example.

I am won

[2020-06-11 03:53] Andrewpk commented on #2710
It should also be noted that the cli option prefix is `purger`, while the module is named `data-purger`.

It also appears to depend on various other configured options that are undocumented, such as those relating to the `data-purger` dependency, `store`.

[2020-06-11 04:13] Andrewpk commented on #2710
I've been looking through the docs, code, and tests (`purger_test.go` was some help) at all of the options needed to get `data-purger` target to start as a standalone module successfully.

[2020-06-11 07:27] pracucci commented on #2710
Some modules are just internal dependencies and shouldn't be used as a target. However, you're right that the CLI flag documentation is missing: flusher, compactor, store-gateway, data-purger. Could you open a PR to fix it, please?

True. @sandeepsukhani Given series deletion is still marked as experimental, what do you think if we rename the module from `data-purger` to `purger`?

[2020-06-11 07:49] pracucci commented on #2704
Thanks @samitpal for reporting it! This is definitely a bug we should fix. @jtlisi would you mind taking a look, please?

[2020-06-11 08:07] pracucci commented on #2133
Thanks @kwSeo for your quick feedback! I've pushed another commit to #2700 which should fix the other case you reported. May you try it again, please?

[2020-06-11 08:47] sandeepsukhani commented on #2710
Sounds good. Will open a PR soon.

[2020-06-11 09:12] bboreham commented on #2284
Note that it isn't _exactly_ the url, since it can have placeholders.
I don't know why `/` is replaced by `_`.  It feels unusual to have `/` in a Prometheus label, but there is no rule against it (or in OpenTracing, as far as I can see).

[2020-06-11 09:24] zhuyanxi opened #2714 "Memcached related: "malformed: key is too long or contains invalid characters"."
I am using Cortex to deal with some metrics, but the Cortex Ingester component has the following errors:
level=error ts=2020-06-11T08:58:55.71876902Z caller=memcached.go:164 msg="Failed to get keys from memcached" err="malformed: key is too long or contains invalid characters"
level=error ts=2020-06-11T08:58:55.91751264Z caller=memcached.go:237 msg="failed to put to memcached" name=chunks err="mal

[2020-06-11 15:13] Andrewpk commented on #2710
@pracucci I still have been unable to get data-purger starting as a standalone service, otherwise I would have. I'm currently using Cassandra as the storage backend for chunks and index and running into the following error on v1.1.0:
[code]

Once I'm able to get data-purger running I can submit a PR with knowledge gained from the successful config though!

Also, thank you @sandeepsukhani for worki

[2020-06-11 15:19] pracucci commented on #2710
@sandeepsukhani Are you aware of this issue?

[2020-06-11 15:27] sandeepsukhani commented on #2710
@Andrewpk can you please share all the logs?

[2020-06-11 15:56] Andrewpk opened #2718 "Configuring data-purger with Cassandra causes "no viable alternative at input" error"
Key Error:
`level=error ts=2020-06-11T04:32:03.920695643Z caller=cortex.go:348 msg="module failed" module=data-purger error="invalid service state: Failed, expected: Running, failure: line 1:56 no viable alternative at input 'value' (...FROM delete_requests WHERE hash = [?] value...)"`

Logs:
[code]

Configuration arguments:
[code]

[2020-06-11 15:57] Andrewpk commented on #2710
@sandeepsukhani I wasn't sure this was the right avenue for the logs, so I submitted a new issue here - https://github.com/cortexproject/cortex/issues/2718

[2020-06-11 17:23] sandeepsukhani commented on #2718
It seems the problem was with the building of query in Cassandra client which was fixed after 1.1.0 release [here](https://github.com/cortexproject/cortex/commit/c3b0724f24264c24e188e61fc8c312703d0daf91).
Also please use the latest master build or any build which contains [this](https://github.com/cortexproject/cortex/commit/85f93ff4abd7af81a5eeeae0e07379dd6ff2071d) commit which does the table pro

[2020-06-12 05:24] kwSeo commented on #2133
@pracucci
There are no `mget` error logs in `index-cache-read` and `chunkredis` after you fixed it.
Thank you!

[2020-06-12 05:28] samitpal opened #2719 "Table manager creates chunks tables when my schema is configured for s3"
I setup dynamodb for index and s3 for chunks. But table-manager creates chunks tables in addition to the index tables. I guess i need to remove the chunks related config which perhaps will fix the issue? Here is my schema file.
[code]

Looking at the table-manager [code](https://github.com/cortexproject/cortex/blob/85f93ff4abd7af81a5eeeae0e07379dd6ff2071d/pkg/chunk/table_manager.go#L414) it seems

[2020-06-12 08:07] pstibrany commented on #2638
Error message says: `Was able to connect to %s but other probes failed, network may be misconfigured`. "Was able to connect to" refers to direct TCP connection, while "other probes" are direct (in our case via TCP connection) or indirect probes (via other memberlist nodes).

I cannot reproduce it now, although I've seen it previously even when running integration tests. Note that we have recently

[2020-06-12 14:58] pracucci commented on #2719
Thanks @samitpal for submitting your issue. Have you tried removing the chunks prefix from the config, as you mentioned? Would be a feasible solution to you?

[2020-06-12 15:04] pracucci commented on #2714
👋  @zhuyanxi. We do already use an hash for the chunk, but the tenant/user ID is not hashed. Could you check if the tenant IDs used in your system are very long?

[2020-06-13 01:21] alvinlin123 commented on #2710
I will work on this this or next weekend (hopefully this )

[2020-06-14 02:42] harry671003 commented on #731
@gouthamve Was this issues fixed only for blocks store?

[2020-06-14 05:54] samitpal commented on #2719
We removed the chunks config and table-manager stopped creating the chunks dynamo tables. This is a feasible solution for us.

When I wrote the schema file my knowledge was much more limited and for some reason I assumed that ingesters would write periodic folders under the given s3 bucket like index tables.

[2020-06-14 08:43] bboreham commented on #731
The WAL can be used for chunks, but I think Goutham’s subsequent comment is saying it isn’t fixed.

[2020-06-15 07:16] #2133 closed

[2020-06-15 07:39] alvinlin123 opened #2723 "Rename the word "ingesters" in the "ring" package"
It seems like the ring package was originally written to be used by ingester only, so the word "ingester" is used in a lot of places which is quite confusing for new comer like me. I was reading [the ruler code], and wondered why ruler talks to ingester to get all sharded rules :)

It's going to be a big refactor (hence risky), but maybe we can break it into smaller steps? For example we can start

[2020-06-15 09:28] codesome commented on #2366
Opened an issue in Prometheus with this proposal https://github.com/prometheus/prometheus/issues/7396

PS: I haven't tested it yet but it will work as far as I understand.

[2020-06-15 17:59] gotjosh commented on #404
We should also consider specifying whenever the global external labels should be applied to alerts or rules or both.

[2020-06-15 18:28] pracucci commented on #2474
_Still valid_

[2020-06-15 18:36] pracucci commented on #2455
_Still valid_

[2020-06-15 18:36] pracucci commented on #2348
_Still valid_

[2020-06-15 19:16] jtlisi commented on #404
@gotjosh I think it would make sense for the external label to be directly associated with the rule group.

[2020-06-15 22:35] jgraettinger commented on #1521
I'm not sure. Looking at the code, the `/ready` state is supposed to latch. My observations in a couple runs of the above were that it didn't, or could become unlatched somehow.

[2020-06-16 04:46] zhfg opened #2727 "Deploy Failed With S3 local in kubernetes"
I deployed cortex in kubernetes but ingester is not working.
Ingester log as below:

[code]

[2020-06-16 06:02] pracucci commented on #1521
I'm asking because we also run ingesters as statefulsets (in several clusters) and we've never experienced the issue you're describing, so I'm trying to understand how we could reproduce such scenario. Once an ingester switches to ready it should never get back to not-ready, unless a critical issue occurs. Do you see any valuable information in the logs of the ingester switching from ready to not-

[2020-06-16 06:04] pracucci commented on #2723
Yes, we should do it. I also agree on doing it as incremental steps. Are you willing to give it a try?

[2020-06-16 08:09] bboreham commented on #1521
The container could have restarted.

[2020-06-16 08:15] alvinlin123 commented on #2723
Yea I am welling to :)

[2020-06-16 09:42] pracucci commented on #2727
👋  @zhfg. Thanks for reporting your issue.

Could you share your config (redacting any sensitive data)? I think this could happen if the S3 URL is not correctly configured.

[2020-06-16 11:21] #2389 closed

[2020-06-16 11:22] pracucci commented on #2389
_Still valid_

[2020-06-16 13:08] #2638 closed

[2020-06-16 16:23] jaybatra26 opened #2731 "Missing chunks and index config causing silent failure"
**If the following configuration is missing, Cortex fails silently without a proper explanation.
In my opinion, this should be validated when Cortex loads the config file.**
For chunks
[code]

For Index
[code]

[2020-06-16 17:04] bboreham commented on #2731
I think the context for this issue was taking the example config and editing it to work with DynamoDB.  So the whole file that creates the issue is:

[code]

run with `cortex -config-file foo.yaml`

[2020-06-17 00:59] Wing924 opened #2734 "[bug] cortex_ingester_memory_chunks become negative after ingester OOM"
### What I Did

* start failure test against cortex cluster by sending 4M active series metrics
* cortex can't sand so many metrics and ingesters repeatedly OOM and restarted by k8s

### What I Got

* `cortex_ingester_memory_chunks` become negative after OOM a few times

### What I Expected

* `cortex_ingester_memory_chunks` should be always `>=0`

### Versions

* cortex v1.1.0
* ingesters with WA

[2020-06-17 07:40] pracucci commented on #2734
@codesome Has this issue been fixed after Cortex 1.1.0 or am I mistaken?

[2020-06-17 07:55] codesome commented on #2734
I don't remember exactly regarding the fix, I will take a look.

[2020-06-17 09:47] #2707 closed

[2020-06-17 12:22] storyicon opened #2737 "Some doubts about the range comparison of blobs in the index query"
Hello, I have some doubts when I try to do some query optimization on cortex. When I checked the Cassandra CQL executed by Cortex, I found the following execution statement：

[code]

I don’t quite understand the logic of `range >= ?`, because the range value I retrieved in the query condition is just the hash of the value：

https://github.com/cortexproject/cortex/blob/b4b3ebcd6d3c127884ede8eb70cfb

[2020-06-18 00:50] amckinley commented on #2727
I ran into this also. This is broken (I'm pretty sure) because of switching to minio in #2671, which doesn't automatically create buckets on demand. Here's some magic via a helm chart that creates minio buckets post-install: https://github.com/helm/charts/blob/master/stable/minio/templates/post-install-create-bucket-job.yaml

But I haven't found a simple way to modify `s3-dep.yaml` to create bucke

[2020-06-18 01:12] amckinley commented on #2727
Oh, and by default the minio docker image starts listening on port 9000, not 4569, so that part of the config is broken too.

[2020-06-18 01:15] amckinley commented on #2727
I'd suggest reverting #2671 until someone actually tests the resulting k8s environment.

Oh, one more problem I ran into: minio doesn't accept secret keys shorter than 8 characters, so setting `MINIO_SECRET_KEY` to "123" doesn't work either. Pretty clear this was never tested.

[2020-06-18 01:45] alvinlin123 opened #2740 "Propagate GOPROXY value to build-image docker build"
My company's network disallow connection to the default Go Proxy; I had to set GOPROXY to `direct`, but my configured value is not propagated when building `build-image`, which caused the build to fail.

[2020-06-18 06:06] pstibrany commented on #2727
We rely on community contributions when it comes to Helm charts, as we don't use them. Would you be willing to send a PR with required fixes?

[2020-06-18 07:26] itatabitovski opened #2742 "Cortex Prometheus Frontend changed behaviour in 1.1.0"
With Cortex 1.0.0 it was possible to access the prometheus/thanos-query interface of `-frontend.downstream-url` by accessing `http://<cortex>:9091/graph` in your browser. This was convenient for quick queries and general access (Alerts,Rules,Configuration,Targets, Discovery, Stores, ...) to the backend.

In Cortex 1.1.0 this does not work any more and cortex returns `404 page not found`.

[2020-06-18 07:31] pstibrany commented on #2742
Thanks for creating issue from [this Slack discussion](https://cloud-native.slack.com/archives/CCYDASBLP/p1592413285065700).

[2020-06-18 08:31] pstibrany opened #2743 "Panic while flushing chunks"
This panic happened while calling `/flush` endpoint on ingester in internal cluster. Ingester was running `grafana/cortex-cortex:r92-a0674c0c2` (https://github.com/grafana/cortex/commits/a0674c0c2f528f8aa5297768604e17ca7ebb047f)

[code]

[2020-06-18 08:35] pstibrany opened #2744 "/flush handler doesn't wait for flush to finish"
When `/flush` handler on ingester is called, it triggers flush of all chunks. It logs following lines:

[code]

But this is misleading. Chunks flush is not complete at this point, all unflushed chunks are only enqueued for flushing, and are waiting in the queue when this log message is written and handler returns.

We should make `/flush` handler to wait for flush queues to be empty, if possible.

[2020-06-18 08:40] pstibrany commented on #2744
On the other hand, waiting for empty queues can take a long time. We already have `cortex_ingester_flush_queue_length` metric to monitor queue lengths, so maybe we should just fix the logged message, and write something like "123456 chunks enqueued for flushing" to the HTTP response (right now response is empty).

[2020-06-18 09:04] pracucci commented on #2742
@jtlisi This may be related to the API refactoring we did?

[2020-06-18 09:12] pstibrany commented on #2742
As discussed on that Slack thread, I don't think we ever wanted to proxy all paths to downstream Prometheus. So the question is: should we add that and make it a stable feature?

I'm fine with doing it under some specific path, e.g. `/downstream/*` would be forwarded to Prometheus (removing `/downstream/` first). But then Prometheus needs to be configured with this option.

Having access to `/grap

[2020-06-18 09:21] robx opened #2746 "Rules endpoint 500 without auth header (patched single process mode)"
Talking to single-process cortex that's been [patched](https://github.com/hoenn/cortex/commit/9eec635af23a71aa36dfe607afe599cd4cf45a8b) to include the ruler, I see a 500 error when GETting `/api/prom/api/v1/rules`:

[code]

It seems this would better be a 401 (or maybe 400).

The log output:

[code]

If the `X-Scope-OrgId` header is passed, the request works fine:

[code]

so I'm hoping the setup

[2020-06-18 11:00] #2397 closed

[2020-06-18 12:09] pracucci opened #2748 "Race condition in the compactor can leave blocks with just the deletion mark file"
There's a race condition in the Cortex compactor due to the fact that the blocks cleaner and the blocks compactor have been fully decoupled in Cortex (contrary to Thanos). This change has been introduced in the PR #2623.

The race condition occurs when the blocks cleaner and the compactor's garbage collection start nearly at the same time. We've observed happening it few times, always with the sam

[2020-06-19 07:46] #2748 closed

[2020-06-19 11:23] #2740 closed

[2020-06-19 13:22] pracucci commented on #2727
_I'm working on a fix._

[2020-06-19 14:56] pracucci opened #2755 "Get rid of pkg/configs/legacy_promql"
We should stop using `pkg/configs/legacy_promql` because it cause troubles each time we upgrade Prometheus and some interfaces have changed.

[2020-06-19 14:56] pracucci commented on #2755
@jtlisi Could you give me some context about why we need `pkg/configs/legacy_promql` and how we can do to get rid of it, please?

[2020-06-19 18:46] harry671003 opened #2757 "Block store: S3 uploads doesn’t scale linearly with number of tenants"
## Issue

Cortex, with block store backend, distributes one tenant’s time-series across all ingesters. With the current architecture, the number of S3 uploads doesn’t scale linearly with number of tenants. Right now, it is not cost efficient to deploy large cortex clusters with block store backend due to high S3 costs.

This would be more evident if we look at two Cortex clusters consisting of dif

[2020-06-20 09:29] #2050 closed

[2020-06-20 12:40] #2409 closed

[2020-06-21 06:22] pracucci commented on #2490
_Should still be valid_

[2020-06-21 15:14] pstibrany commented on #2737
Idea behind https://github.com/cortexproject/cortex/blob/b4b3ebcd6d3c127884ede8eb70cfbadcabe7e37a/pkg/chunk/schema.go#L853 is to find all index seriesIDs for specific metric name, label name and label value.

For example, if you have two series:
- metric{l1=“a”, l2=“b”}
- metric{l1=“a”, l2=“c”}

Then both will have (among other entries) also following entry (generated here: https://github.com/cort

[2020-06-21 15:29] #2420 closed

[2020-06-22 06:49] pracucci commented on #2499
_Still valid_

[2020-06-22 07:13] pracucci commented on #2757
👋  Hello! Thanks for opening this issue.

The issue you describe is real and it's something we're brainstorming on since some time. As an experiment, we've introduced the "subring" which is a basic version of the shuffle sharding.

The subring can be enabled via the CLI flag `-experimental.distributor.user-subring-size` (there's also a config file enytry) and it's the number of ingesters across wh

[2020-06-22 08:20] #2727 closed

[2020-06-22 12:14] storyicon commented on #2737
Thank you @pstibrany, if my understanding is correct, you should mean that RangeValue can be used to distinguish the type of index, like this:
https://github.com/cortexproject/cortex/blob/b4b3ebcd6d3c127884ede8eb70cfbadcabe7e37a/pkg/chunk/schema.go#L20-L34
Because I'm thinking about doing some specific query optimization, I wonder if there are other possible meanings for comparing ranges on RangeV

[2020-06-22 14:57] joe-elliott opened #2763 "Query Frontend occasionally panics: "concurrent map iteration and map write""
Query-frontend occasionally panics with the following message:

`fatal error: concurrent map iteration and map write`

This appears to be beneath query sharding:

[code]

[2020-06-22 15:00] joe-elliott commented on #2763
Full dump attached

[out.txt](https://github.com/cortexproject/cortex/files/4813962/out.txt)

[2020-06-22 16:55] #1163 closed

[2020-06-22 18:20] jtlisi commented on #2641
@storyicon Thanks for the great answer! I think we can close this now.

[2020-06-22 18:20] #2641 closed

[2020-06-22 20:30] #2313 closed

[2020-06-22 20:50] joe-elliott opened #2765 "Timestamp Skew Across -querier.query-ingesters-within"
Queries across the `-querier.query-ingesters-within` boundary don't come back with regular intervals.

With this value

`-querier.query-ingesters-within=12h`

And these `query_range` parameters:
[code]

These results are retrieved:
[code]

Note the transition from ts `1592812800` => `1592814998.564`.  These are the only consecutive timestamps that don't match the requested step of `3600`.  Also no

[2020-06-22 20:54] owen-d commented on #2765
Thanks for writing this up @joe-elliott. We should be able to circumvent this problem by not trying to be clever via splitting across the `-querier.query-ingesters-within` boundary.

Instead, we should split as normally dictated by the `split_by_interval` middleware and disable the sharding optimizations for partitions that touch the ingester side of that boundary.

[2020-06-23 03:50] zhuyanxi commented on #2714
@pracucci Thanks very much for your suggestion.
I changed some code in `pkg\chunk\cache\memcached.go` to print out more logs about keys. And I found this:

[code]

So the key is combined with my tenant ID and S3 object ID, `Basic Zm9vMTpxd2U=` is the tenant ID and it contain a whitespace which `memcached` not allowed . So I  changed `X-Scope-OrgID` from `$http_authorization` to `$remote_user` in m

[2020-06-23 14:29] #2763 closed

[2020-06-23 14:38] pracucci commented on #2714
Thanks @zhuyanxi for the details. You're right, whitespaces are not allowed, which subsequently limits the tenant ID to not have a whitespace too.

_Let's keep the issue open to further discuss how we could fix it._

[2020-06-23 18:33] replay opened #2770 "Make label name validation optional"
Currently the distributor validates all label names on ingested data, to enforce the Prometheus label requirements as [described here](https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels)

In our use case of Cortex it would be very useful if there was a way to disable this validation, to allow a wider range of characters in the label names.

The distributor [calls the validatio

[2020-06-24 06:37] pstibrany opened #2772 "Panics when using Purger with Cassandra"
[code]

Config options:

[code]

[2020-06-24 06:38] pstibrany commented on #2772
Using Cortex 333c2c768c33cd2b99a3bc40aa6ca795c22469c7

[2020-06-24 07:33] pracucci commented on #2770
Sure, I'm OK to introduce an option to disable it. However, have you tried to run your system commenting out that validation to make sure everything else work?

[2020-06-24 07:53] pstibrany commented on #2770
Feel free to send PR with proposed change. I'm bit worried that it may break stuff elsewhere, but since Cortex won't use it (let's not make it visible to the users), it's fine with me.

[2020-06-24 10:13] bboreham opened #2776 "Flake in TestPurger_Metrics()"
[code]

Failed at https://circleci.com/gh/cortexproject/cortex/33030
Passed at https://circleci.com/gh/cortexproject/cortex/33041

[2020-06-24 10:22] pracucci commented on #2776
@sandeepsukhani Could you look at it, please?

[2020-06-24 11:24] sandeepsukhani commented on #2776
The problem was that the test was chasing a moving target.
Opened a PR to fix it https://github.com/cortexproject/cortex/pull/2777

[2020-06-24 13:51] pstibrany commented on #2744
`cortex_ingester_flush_queue_length` alone is not enough -- there are still ongoing flushes even when `cortex_ingester_flush_queue_length` is 0. PR #2778 introduces new `cortex_ingester_flush_series_in_progress` metric that can help to monitor that. Only when `cortex_ingester_flush_queue_length + cortex_ingester_flush_series_in_progress`  reaches 0, all flushes are done.

[2020-06-24 16:59] gotjosh opened #2782 "Ruler: Add an API endpoint to known which Alertmanagers you have discovered"
Prometheus [has an API](https://prometheus.io/docs/prometheus/latest/querying/api/#alertmanagers) to let you know which Alertmanagers you have discovered. The ruler should have something similar given we support some form of service discovery as you can see here:

https://github.com/cortexproject/cortex/blob/173bb1c1939211e7115278663a05cffd2ebdec3b/pkg/ruler/notifier.go#L83-L108

cc: @cstyan

[2020-06-24 18:06] bboreham opened #2785 "Update to stop using deprecated `grpc/naming` package"
It is gone from the latest gRPC release 1.30.

I found a notice announcing this: https://github.com/grpc/grpc-go/issues/3180

Also interesting: why didn't the deprecated package raise a lint warning?

[2020-06-24 20:06] replay commented on #2770
Yes, I've used the latest commit in my PR (1f58646639c7c14ab32e8ac7cc3c111ec96f3d53) and ingested a bunch of metrics with chinese characters in label names & values, I was able to query them back without any issues.

[2020-06-25 06:59] #2776 closed

[2020-06-25 10:23] codesome commented on #2366
The above idea was discarded for now because of 1 annoying issue: https://github.com/prometheus/prometheus/issues/7396#issuecomment-648670168

[2020-06-25 14:17] codesome opened #2793 "Remove deprecated record from chunks WAL after v1.2.0"
New WAL records were introduced in v1.1.0, so with the v1 guarantees, we need to support the old records for up to 2 releases. As the old record was introduced in v1.0.0, it is supported till v1.2.0, hence can be removed for v1.3.0 and get rid of lot of grpc code + complexity in WAL replay.

I will pick this up in future unless someone does it before me :)

[2020-06-25 14:18] codesome commented on #2793
Some pointers: https://github.com/cortexproject/cortex/blob/0ea2318b0174d98b4b85590fdd10e7d4568505ae/pkg/ingester/wal.go#L1183-L1185

(It's the `*Record` returned by this method that needs to be removed)

[2020-06-25 15:19] harry671003 commented on #2757
Based on our tests, the ingester subring did reduce the requests to S3 by a lot. But metadata sync from queriers and store-gateway still doesn't scale well in large clusters.

- Will the new TSDB metadata cache address this issue?
- Or should shuffle sharding be implemented in these components as well? I saw this [issue](https://github.com/cortexproject/cortex/issues/961) that mentions shuffle-sha

[2020-06-25 15:41] pracucci commented on #2757
Yes. We're running it with the metadata cache and improve things a lot. We've also introduced jitters to the querier and store-gateway scan frequency to help cacheabilty. Could give it a try and let me know, please?

[2020-06-25 16:08] pracucci opened #2795 "Consider to support fgprof alongside pprof"
[fgprof](https://github.com/felixge/fgprof) is a profiler which can also include I/O time. It can be integrated alongside pprof (ie. under `/debug/fgprof` path) and we may consider adding to have more sources to debug production issues.

[2020-06-25 20:21] #2770 closed

[2020-06-26 09:31] pstibrany commented on #2287
`cortex_ingester_flush_reasons` counts series, while `cortex_ingester_chunks_stored_total` and `cortex_ingester_dropped_chunks_total` count chunks, so they cannot be compared. We could add new metric or modify `cortex_ingester_flush_reasons` to `cortex_ingester_chunks_flush_reasons`.

We can fix `cortex_ingester_flush_reasons` by moving that increment from where it is now (just after series has be

[2020-06-26 10:09] codesome commented on #2366
Here is a design doc to solve this using multiple TSDBs: https://docs.google.com/document/d/1Cw0P-GQpzY70wMkp-S5xTdCArJQv88qKMzci_rv_ZTs/edit?usp=sharing
cc @bwplotka

[2020-06-26 10:30] #2193 closed

[2020-06-26 14:03] vitovitolo commented on #2624
I think I made it work 🎉

I had to change ruler storage to GCS and submit rules via Ruler experimental API instead of Configs API.

I'll paste my whole config and details next Monday.

[2020-06-26 14:30] gotjosh commented on #2624
Glad you were able to solve this! I'd be super curious to know more about your findings

[2020-06-26 15:47] #2765 closed

[2020-06-26 17:59] nicolai86 commented on #2785
I'd like to pick this up. Any objections?

[2020-06-29 14:00] kwSeo opened #2807 "Failure to add metrics of multi KV store on startup with release-1.2"
I have tried to run Cortex with release-1.2 branch.
But I found the error when starting Cortex with configurations below.

**Configs**

[code]

**Error logs**

[code]

[2020-06-29 16:56] jtlisi opened #2808 "Remote Write GRPC Endpoint"
In some cases it would make sense to add a dedicated Proto service to the distributor to allow for remote writes. This will allow for all of the benefits of the GRPC ecosystem. This is currently accomplished using the `httpgrpc` library. However, a dedicated endpoint would allow for more explicit handling.

[2020-06-29 18:18] jtlisi opened #2810 "Chunks cache named without dot separator"
Currently the chunk cache will be named without a `.` character between `chunk` and the backend. For instance `chunksmemcache` is the name of the chunk cache in metrics labels if you are using memcache. This is not very clean formatting and the other caches are named with a `.` character between the cache type and backend.

[2020-06-29 19:00] bboreham commented on #2287
I don't agree this should be fixed simply by not recording why series are added to the queue.

Good point that some metrics count chunks and some count series.

[2020-06-29 20:16] jtlisi commented on #2755
The use of this library predates me working on the Ruler. I'm not sure why it is needed

[2020-06-30 07:26] #2710 closed

[2020-06-30 07:33] pracucci commented on #2755
@bboreham Just [confirmed on Slack](https://cloud-native.slack.com/archives/CCYDASBLP/p1593502386275700?thread_ts=1593502197.275300&cid=CCYDASBLP) they still need it.

[2020-06-30 07:34] pracucci commented on #2755
_I'm going to close it for now. We'll reconsider it if requirements will change._

[2020-06-30 07:34] #2755 closed

[2020-06-30 10:00] gouthamve commented on #404
We also need `alert_relabel_rules` as part of the global config.

[2020-06-30 10:04] gotjosh commented on #404
The stanza described by Goutham is: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alert_relabel_configs

[2020-06-30 10:52] storyicon opened #2816 "RFC: Solve the extra time cost of IndexCacheClient for queries"
I mentioned this question at https://github.com/cortexproject/cortex/issues/2644:
https://github.com/cortexproject/cortex/blob/8cfa79c9265492fbd78a3d89d29e526d35e3db9b/pkg/chunk/storage/caching_index_client.go#L118-L121
When cacheIndexClient is working, it will remove some query conditions of the user in order to be able to obtain data that can be cached：
https://github.com/cortexproject/cortex/bl

[2020-06-30 12:36] bboreham commented on #1753
Closed by #2344 (though #1195 is still a big efficiency hit)

[2020-06-30 12:36] #1753 closed

[2020-06-30 21:37] harry671003 commented on #2757
I noticed an issue with time-series allocation after enabling `-experimental.distributor.user-subring-size = 3` and `-distributor.replication-factor=3`.  In a cluster with 12 ingesters and 13 tenants, only 5 ingesters store any time-series. The remaining 7 ingesters have 0 active time-series.

![Screen Shot 2020-06-30 at 2 30 46 PM](https://user-images.githubusercontent.com/842522/86179317-dfe42b8

[2020-07-01 11:28] pracucci commented on #2757
It's unexpected and could be a bug, unless the 13 tenant names are so unlucky to have their hash falling into the same shard. Have you tried increasing the number of ring tokens per ingester? The `-ingester.num-tokens` default is `128` but in our clusters we use `512` to have a better spread.

[2020-07-01 14:07] pracucci opened #2823 "Store-gateway blocks resharding during rollout"
When running the blocks storage, store-gateways reshard blocks whenever the ring topology changes. This means that during a rollout of the store-gateways (ie. deploy a config change or version upgrade) blocks are resharded across instances.

This is highly inefficient in a cluster with a large number of tenants or few very large tenants. Ideally, no blocks resharding should occur during a rollout

[2020-07-01 14:11] thorfour commented on #2757
SubringSize is apart of the Limits struct and can actually be customized per tenant. Though you are correct in that it doesn't dynamically size itself.

[2020-07-01 14:13] pracucci commented on #2591
_Closing because we've seen it anymore recently. Will reopen if the issue will arise again._

[2020-07-01 14:13] #2591 closed

[2020-07-01 18:19] #2743 closed

[2020-07-01 18:19] #2744 closed

[2020-07-02 07:56] pracucci opened #2825 "Flaky TestSweepImmediateDropsSamples"
While running the CI ([see here](https://app.circleci.com/pipelines/github/cortexproject/cortex/6799/workflows/0857eac0-d9df-49b2-a173-959c6d536702/jobs/34219/steps)) for a PR doing changes unrelated to flushing, I've noticed that `TestSweepImmediateDropsSamples` is flaky.

The test has been recently introduced in https://github.com/cortexproject/cortex/pull/2778.

[2020-07-02 10:53] pracucci opened #2827 "Wait stable store-gateway ring state before running the initial blocks sync"
In the event of a cluster cold start or scale up of 2+ store-gateway instances at the same time we may end up in a situation where each new store-gateway instance starts at a slightly different time and thus each one syncs blocks based on a different state of the ring.

## Example of the issue

Consider this cold start scenario (SG = store-gateway):
- T1: SG1 starts
- T2: SG2 starts
- T3: SG1 begi

[2020-07-02 11:22] #2631 closed

[2020-07-02 15:24] bascht opened #2830 "loki"

[2020-07-02 15:24] bascht commented on #2830
Sorry. Misfire while trying to search for open issues. :see_no_evil:

[2020-07-02 15:24] #2830 closed

[2020-07-02 19:45] harry671003 commented on #2757
Yes, I tried again with 512 tokens, but saw similar issues in time-series distribution.

I tried to compute the hash values of each tenant in our cluster: "tenant-1", "tenant-2", .. , "tenant-13".

[code]

These values looks very close. I believe this is likely the problem.

[2020-07-02 19:49] harry671003 commented on #2757
There seems to be a bug in the implementation of fnv32a function. I believe https://github.com/cortexproject/cortex/blob/master/pkg/ingester/client/fnv.go#L66 should instead be
[code]

And after making this change,

[code]

[2020-07-02 20:33] harry671003 commented on #2757
Saw this [PR](https://github.com/cortexproject/cortex/pull/1343) which reverted the hash function from FNV-1a back to FNV-1.

However, I believe FNV-1a should be used for SubRing instead of FNV-1 for better distribution.

@thorfour, @pracucci What do you guys think?

[2020-07-02 22:12] amckinley opened #2832 "Cortex cluster generating "Duplicate sample for timestamp" errors constantly"
Our cortex cluster (running the TSDB storage engine) is receiving all its samples from a single Prometheus instance configured with a `remote_write`, but despite a sampling rate of ~300k metrics per second, most blocks end up empty or corrupt because the ingesters report "duplicate sample for timestamp" several times per minute. From the code, it looks like this error stops processing of the block

[2020-07-03 08:51] annanay25 opened #2833 "Add sample configuration file with ruler config"
Sample configuration files for running Cortex can be found under [docs/configuration](https://github.com/cortexproject/cortex/tree/54f10c2b1223bf16ca955ac517b55fa878d5de50/docs/configuration).

These show configuration examples for most components but not the Ruler.

[2020-07-03 10:45] pstibrany commented on #2757
We don't want to change hashing function for series -> token, because each such change causes massive disruption to large clusters. (Even though it would give a better distribution, but in case of series, we also take labels into account, so the problem is not so bad)

However, for subring and tenants, I think using hash function with better distribution makes sense. Tenant ids are shorter, and su

[2020-07-03 15:26] pstibrany commented on #2832
Can you also share your Prometheus config please, esp. remote write section?

[2020-07-03 15:27] pstibrany commented on #2832
Is it possible that your Prometheus is restarting often?

[2020-07-03 16:35] amckinley commented on #2832
Here's the beginning of our Prometheus config. I need to look through the scrape rules and make sure I'm not giving up anything that might be confidential, though. And our Prometheus server is definitely not restarting frequently since it takes 2+ hours to replay the WAL.

[code]

[2020-07-03 17:09] pstibrany commented on #2832
Thank you. I think scrape rules won’t be necessary.

I am slightly confused by seeing `cortex_ha_cluster` in your external labels setup, but not in Cortex config (`ha_cluster_label` is set to `cluster` there) but also not in log lines. On the other hand there is `cluster` label visible with `development` value.

Do you use HA setup with samples deduplication on the Cortex side?

[2020-07-03 17:16] amckinley commented on #2832
Sorry, you're seeing the config snapshotted at different times while I've been debugging this. I had the HA tracker enabled, with an identically configured pair of Prometheus servers both writing to Cortex, using the default label of "cluster". I noticed that using "cluster" as the `ha_cluster_label` wasn't working because we already use that label internally, resulting in the HA tracker thinking

[2020-07-03 17:45] amckinley commented on #2832
I also tried changing the replication factor from 3 down to 1, and significantly shrinking the cluster, from 15 ingesters to 3. This seemed to improve things by reducing the frequency of the "Duplicate" errors from ~1 per minute to ~1 per 10 minutes, but the errors are still appearing.

[2020-07-03 17:47] amckinley commented on #2832
Note that the configs were identical _except_ for the value of `__replica__`, which is written into our Prometheus config dynamically by Salt.

[2020-07-03 18:12] pstibrany commented on #2832
I think this still points to invalid HA configuration.

Typically for misconfigured HA, one gets “out of order” error, and not duplicate timestamp, however, it turns out that CAdvisor metrics exporter also exports timestamp, which explains how different Prometheus servers would scrape same timestamp and end up with “duplicate timestamp” error instead.

To help with HA debugging, you can go to dist

[2020-07-03 18:15] pstibrany commented on #2832
Not sure if this may be related: https://github.com/prometheus/prometheus/pull/7213 (still reading)

[2020-07-03 18:20] pstibrany commented on #2832
I will also link to this excellent answer from Marco on similar issue: https://github.com/cortexproject/cortex/issues/2662#issuecomment-638654351

[2020-07-03 18:30] amckinley commented on #2832
I've tried disabling one of the two paired Prometheus servers, and just now I also tried disabling the HA tracker entirely (while keeping one of the two Prometheus servers disabled), with no effect.

I did notice that almost all the error messages were coming from the `cadvisor_exporter` job. Maybe I can work around this temporarily by dropping those samples in the `remote_write` relabel config...

[2020-07-03 19:12] #2158 closed

[2020-07-04 04:59] pstibrany commented on #2832
Have you had any luck with dropping CAdvisor samples?

Would it be possible to try with most recent Prometheus 2.19.2?

[2020-07-04 09:02] coelho commented on #2772
This panic also occurs when you have two schemas, for example:
[code]

[2020-07-05 08:57] sun-iot opened #2836 "404 page not found-I needHelp"
The Cortex API for Configs API and Ruler . I encountered this problem .
Somrthing like this:
[code]
But I used curl -H 'X-Scope-OrgID:1' http://localhost:9009/api/prom/configs/alertmanager ,
just like this：
[code]
![](https://blog-resource.gitee.io/prometheus/cortex/error-404.png)

[2020-07-06 07:12] pracucci commented on #2178
_Still valid_

[2020-07-06 07:14] pracucci commented on #2561
_Still valid_

[2020-07-06 07:28] #2825 closed

[2020-07-06 08:14] pracucci commented on #2832
It's surprising to me that "duplicate sample for timestamp" is the root cause of empty or (even worse) corrupted blocks. In my experience, "duplicate sample for timestamp" shouldn't cause corrupted blocks.

Few questions, please:
1. How many corrupted blocks have you got over the time? Don't need an exact number, just to understand if it happens frequently or not
2. Would you be able to privately

[2020-07-06 08:27] pracucci commented on #2757
@harry671003 Thanks for spotting the issue! I 💯  with Peter on this. It's a bug we should fix for the tenants hashing in the subring only. Harry, would you be open to submit a PR to fix it, please?

[2020-07-06 09:49] pracucci opened #2840 "Flake in TestPurger_Metrics"
While running the CI on master I've seen this flaky test ([details here](https://app.circleci.com/pipelines/github/cortexproject/cortex/6838/workflows/f024cd69-9fb8-4ac0-99b5-93a8250d9d66/jobs/34385/steps)):

[code]

[2020-07-06 09:49] pracucci commented on #2840
@sandeepsukhani Could you take a look, please?

[2020-07-06 14:44] pracucci commented on #1823
Closed by https://github.com/cortexproject/cortex/pull/2676.

[2020-07-06 14:44] #1823 closed

[2020-07-06 14:45] pracucci commented on #1826
Closed by several PRs from @pstibrany, which have introduced support to index, chunks and metadata caching on memcached.

[2020-07-06 14:45] #1826 closed

[2020-07-06 15:47] pracucci opened #2844 "Add MaxChunksPerQuery support to blocks storage"
The Cortex chunks storage supports the `MaxChunksPerQuery` limit (`-store.query-chunk-limit` flag, defaults to 2M) implements this limit it in the querier and affects only chunks loaded from the long-term storage. It’s used to protect from queries OOMing.

We should support the same limit in the blocks storage as well.

### Proposal

- Add a chunks limiter in Thanos `BucketStore` (not strictly req

[2020-07-06 15:53] pracucci opened #2845 "Stream chunks from ingesters to querier when running the blocks storage"
When running a query in a Cortex cluster running the **chunks storage**, the querier fetches (encoded) chunks from ingesters and these chunks are decoded in the querier itself.

On the contrary, when running the **blocks storage**, the chunks are decoded in the ingester and the querier fetches (decoded) SeriesSet from ingesters. This puts extra pressure on the ingesters, based on the query QPS and

[2020-07-06 18:08] amckinley commented on #2832
Trying this today; will let you know.

This would actually be kind of painful, but if you think there's actually a post-2.18.1 change that you think would help, we can do that upgrade.

[2020-07-07 01:03] amckinley commented on #2832
I don't think this is related to my issue, but I have no idea why the following config is failing to load with an unmarshaling error:
[code]

I'm getting this in the logs every time I send a `SIGHUP`:
[code]

[2020-07-07 10:41] pracucci opened #2848 "Add start/end time range support to label names and values APIs"
Prometheus has introduced (https://github.com/prometheus/prometheus/pull/7288) the optional support to `start` and `end` parameters for the following API endpoints:

- `/api/v1/labels`
- `/api/v1/label/<label_name>/values`

We should do the same in Cortex.

[2020-07-07 11:06] bboreham commented on #2665
May I ask how large the incoming messages are? E.g. how many samples do you allow per Push() ?

[2020-07-07 11:14] bboreham commented on #2665
Also, could you graph `go_memstats_heap_alloc_bytes` and `go_memstats_next_gc_bytes` over a few hours leading up to the OOM?

(I see you have posted a fix but I am trying to understand how you see 1-3GB of Go heap but 90GB of memory usage)

[2020-07-07 12:51] #2509 closed

[2020-07-07 12:51] #2510 closed

[2020-07-07 13:01] pracucci commented on #2510
_Still valid_

[2020-07-07 14:07] pracucci commented on #2825
I'm reopening the issue because this test is still flaky ([see here](https://app.circleci.com/pipelines/github/cortexproject/cortex/6845/workflows/e40db45b-2d08-4777-8e2e-7049467bb20e/jobs/34420/steps)):

[code]

[2020-07-07 15:20] storyicon commented on #2665
@bboreham  I'm sorry I'm late, I spent some time collecting data.

The pprof picture above is generated like this:
1. When Ingester is about to OOM, I stopped RemoteWrite
2. After 10 hours
3. Data collection

Because I encountered two problems when using Cortex:
1. Ingester's runtime memory will continue to grow until OOM.
2. After Ingester stops receiving data, the memory will not be released.

T

[2020-07-07 16:29] pstibrany commented on #2825
I think that PR is based on older master (https://github.com/cortexproject/cortex/commit/54f10c2b1223bf16ca955ac517b55fa878d5de50) without the fix.

[2020-07-07 17:30] #2665 closed

[2020-07-07 17:34] bboreham commented on #2665
Please if you're going to upload a profile just upload the source pprof data not a generated diagram.
I find those graphs unreadable and always use Flame Graph as my starting-point.

[2020-07-07 18:12] harry671003 commented on #2757
Sure, I'm happy to help. Thanks for confirming that this is indeed an issue. I will raise a PR within the next few days.

[2020-07-08 03:55] storyicon commented on #2665
Hello @bboreham , I added some data.
Unlike using `ChunkStorage+Cassandra`, after stopping RemoteWrite for up to 10h (I even closed the Distributor), `cortex_ingester_memory_series` did not decrease to 0, which should be related to the mechanism of `BlockStorage(tsdb)`:
[code]

But according to the data I provided at https://github.com/cortexproject/cortex/pull/2839#issuecomment-654786673:
[code]

[2020-07-08 03:57] storyicon commented on #2665
Hello @bboreham , I added some data.
Unlike using `ChunkStorage+Cassandra`, after stopping RemoteWrite for up to 10h (I even closed the Distributor), `cortex_ingester_memory_series` did not decrease to 0, which should be related to the mechanism of `BlockStorage(tsdb)`:
[code]

But according to the data I provided at https://github.com/cortexproject/cortex/pull/2839#issuecomment-654786673:
[code]

[2020-07-08 07:00] #2840 closed

[2020-07-08 07:39] Wing924 commented on #2053
still not fixed (confirmed on v1.2.0)

[2020-07-08 08:44] pracucci opened #2853 "Add a negative cache for queries hitting -store.query-chunk-limit"
When a query execution hits the `-store.query-chunk-limit` limit, it's likely that the same query will be retried again (eg. a Grafana dashboard auto-refresh). We could add a negative cache for queries hitting the `-store.query-chunk-limit` limit, in order to circuit break these queries at the beginning of the execution if we've recently seen the same query hitting the limit.

_Loud thinking: we c

[2020-07-08 09:20] bboreham commented on #2331
@vitovitolo have you tried again with a more recent Cortex?

[2020-07-08 14:55] codesome opened #2855 "Log when ingester is not ready due to an unhealthy ingester in the ring"
As stated in the title, logging would help identify why ingester is not ready quickly as it's easy to forget about this case and spend a lot of time figuring out what is wrong.

[2020-07-08 15:42] pracucci opened #2856 "Flaky TestQuerierWithBlocksStorageRunningInSingleBinaryMode"
Every while and then I see that `TestQuerierWithBlocksStorageRunningInSingleBinaryMode` integration test is flaky (eg. [this CI](https://app.circleci.com/pipelines/github/cortexproject/cortex/6883/workflows/0f8288ba-1158-4fba-8e6f-f3769dbeeab5/jobs/34603/steps)):

[code]

[2020-07-08 19:47] amckinley commented on #2832
I figured out the problem in my last comment: I was using `camelCase` instead of `underscore_case`. Dropping all the `cadvisor_exporter` samples has, as expected, prevented the "duplicate timestamp" errors, but in practice this would block us from adopting Cortex because we rely on metrics from that exporter. But it sounds like the issue with `cadvisor_exporter` is a Prometheus issue, where these

[2020-07-08 21:30] khaines commented on #731
Even the WAL can't prevent this 100% of the time because the WAL can only recover the samples a given ingester has received. While it is offline or otherwise not receiving data, nothing is being written to the WAL, while its replication partners are potentially receiving data.

[2020-07-09 07:01] pracucci commented on #2832
The "duplicate timestamp" error in Cortex is not a critical error. You can leave with that, if you can't find a way to fix it in the exporter. All duplicate timestamp samples within a single remote write request will be discarded, while valid samples will be correctly ingested.

Yes. Prometheus drops them too, but it does it more silently. Could you check `prometheus_tsdb_out_of_order_samples_tota

[2020-07-09 11:46] gotjosh opened #2860 "Support for multiple static alertmanagers on the ruler"
Hi everyone 👋,

I've recently opened #2851 as a way to support multiple static alert managers but some concerns were raised about the backwards compatibility of the change. We've had a brief conversation about it [here](https://cloud-native.slack.com/archives/CCYDASBLP/p1594206326383800).

I want to take a step back and get a gauge for which direction we want to take it, the goal of my PR was to i

[2020-07-09 12:34] gouthamve commented on #2860
I think we should keep the support for `-ruler.alertmanager-url` as is. And add support for multiple AM groups in the config file.

I think we will end up supporting multiple AM groups in the future and the config is not something that can trivially be included in flags.

Finally, for `-ruler.alertmanager-url=alertmanager1.svc.local,alertmanager2.com`, can make each URL part of a different group h

[2020-07-09 12:57] pracucci opened #2861 "Add OpenStack Swift support to blocks storage"
Thanos supports OpenStack Swift so we could easily support it too for the blocks storage, but currently lack some config mapping and bucket client initialisation code. We should do it.

[2020-07-09 13:50] gotjosh commented on #2860
That's a good shout. The only downside to this is that we wouldn't really be supporting multiple AMs for a group under static configuration. We'd always need to rely on the DNS service discovery to find the replicas of a group.

The good thing is that it would eliminate the need for supporting a config file or the other flags in the meantime.

[2020-07-09 14:18] pracucci commented on #2860
I don't have a strong opinion because I'm not much into the alertmanager. However, the discussion here is not about "how to avoid breaking changes" but more strategic on whether we want to support multiple groups or not (and I don't have a strong opinion on this, so I will commit to whatever decision you will take).

Keep in mind the ruler is **not** marked as experimental. Only ruler APIs are.

[2020-07-09 14:52] #2807 closed

[2020-07-10 10:19] GiedriusS commented on #2574
I plan on picking this up in the near future.

[2020-07-13 08:14] pracucci opened #2866 "Compactor stalls when failing to compact a blocks group due to corrupted source blocks"
We experienced the compactor being stalled (not compacting any block) because of a corrupted source block. The compactor was continuously failing while trying to compact this blocks group due to a corrupted source block:

[code]

Given investigating and fixing the root cause of the `out-of-order chunks` should be done but it's out of the scope of this issue, the compactor should ideally either ski

[2020-07-13 09:41] bwplotka commented on #2866
With vertical compaction enabled we can do that now yes. Previously it was a no go for that reason.

[2020-07-13 10:58] pracucci opened #2868 "Blocks should never be deleted by ingester's TSDB retention until shipped to the storage"
When running Cortex blocks storage, the TSDB retention in the ingester is configured to `-experimental.tsdb.retention-period`. TSDB will then delete any block whose MaxTime is older then that, regardless the block has been successfully shipped to the storage (TSDB has no meaning of the shipper).

There are at least two scenarios where this could happen:

1. Ingester is failing to upload blocks to

[2020-07-13 11:06] pracucci opened #2869 "Ensure ingester's TSDB Compact() is called after WAL replay"
When running the Cortex blocks storage, at ingester startup we do replay the WAL for any tenant's TSDB found in the local filesystem and, once done, the ingester switches to `READY` and start receiving samples from distributors.

There are scenarios where an ingester's TSDB may have a compactable HEAD right after the WAL replay but the HEAD is not compacted before the ingester switches to `READY`,

[2020-07-13 13:27] pracucci commented on #2868
An option would be adding another delegate function to TSDB, to have TSDB requesting the delegate if a block is deleteable, in addition to TSDB logic. This way we could forbid the deletion of a block until it's not shipped to the storage.

[2020-07-13 17:20] pracucci commented on #2353
@bboreham Is the issue solved?

[2020-07-13 17:22] pracucci commented on #2866
@bwplotka Probably we should discuss it in Thanos, but what's your take about having a `corruption-mark.json`?

[2020-07-14 06:47] pstibrany opened #2873 "Race in the test observed (memberlist/TestRejoin)"
https://app.circleci.com/pipelines/github/cortexproject/cortex/6962/workflows/33907b65-5ed1-4e44-a753-52f28f00aab7/jobs/34963/steps

[code]

[2020-07-14 07:14] #2869 closed

[2020-07-14 08:24] #2844 closed

[2020-07-14 11:42] pstibrany commented on #2596
Implemented in https://github.com/cortexproject/cortex/pull/2752.

[2020-07-14 11:42] #2596 closed

[2020-07-14 13:32] gotjosh commented on #2860
Closed by #2851

[2020-07-14 13:32] #2860 closed

[2020-07-14 16:08] Jakob3xD opened #2875 "query-frontend: Different HTTP Headers on /api/v1/query and /api/v1/query_range calls"
Hello, the query fronted sets different HTTP Host Headers depending on the Prometheus API call.
In front of Cortex is an Nginx which listen to `api-cortex.example.com`.
There is another Nginx in front of the Prometheus which should listen to `cortex-thanos.example.com`.
Depending on the Prometheus API endpoint Cortex sets different Host Headers.
This causes Nginx to chose the first server_name if

[2020-07-14 16:08] jtlisi commented on #2053
@Wing924 it would help if you could upload a profile of the memory usage of your distributors. It would give us a sense of where the extra memory usage is coming from.

[2020-07-14 17:44] Andrewpk opened #2876 "Enhancement Request: Retention Policies Defined by Tenant"
Rather than having to spin up separate infrastructure to define a different retention policy via the schema config, it would be great if we could define schema configs/retention policies on a per tenant basis.

I imagine this could be accomplished in a few different ways such as allowing multiple schema configs to be defined with tenant ID's as a value on a `tenant` property, or even a new cortex

[2020-07-15 06:24] pracucci commented on #2875
Thanks for reporting it! It could be related to the way we do proxy the downstream request. @Jakob3xD would you feel comfortable taking a look at the code? Maybe @joe-elliott could help with some inputs here.

[2020-07-15 11:47] #2548 closed

[2020-07-15 13:03] pstibrany opened #2879 "Flusher doesn't report flush problems via exit code."
Flusher is a Cortex component designed to flush local data (chunks WAL, blocks WAL and unshipped blocks) to long term storage.

Currently, when Flusher finishes it triggers clean shutdown of Cortex. This happens even if there were any errors during the flush. Errors are only reported in the log.

It would be desirable to use exit code as an indicator of whether Flusher has succeeded or not.

[2020-07-15 13:26] tonobo commented on #2875
@pracucci Can you have a look at the linked PR (#2880)

[2020-07-15 16:28] pracucci commented on #2875
Definitely! Let me take a 👁️

[2020-07-15 18:32] #2875 closed

[2020-07-15 20:11] research-sudo opened #2882 "Inquiry About the Microservice Architecture Employed by `cortex`"
I am a researcher investigating the open source projects that are designed by the microservice architectural style (https://martinfowler.com/microservices/). My preliminary investigation shows that the **_cortex_** project (https://github.com/cortexproject/cortex) is designed by the microservice architectural style.

Can you please **_confirm_** if my interpretation that this project is designed b

[2020-07-16 07:12] samitpal opened #2883 "Support for DNS discovery for alertmanagers to find peers in a cluster"
It might be a good addition to add DNS discovery capability in multi-tenant alertmanager to discover peers. Right now there is a `-cluster.peer` flag which can be used multiple times but that has to be done statically. I tried with a dns host with multiple IP targets  with `-cluster.peer` but it seems like the dns name does not get re-resolved when a host goes down.

[2020-07-16 07:27] pstibrany opened #2884 "Data race in TestRejoin test"
[code]

From: https://app.circleci.com/pipelines/github/cortexproject/cortex/7024/workflows/941c3734-da3f-453c-b1eb-3471419b8d49/jobs/35218/steps

[2020-07-16 09:18] bboreham opened #2885 "Clarify S3 endpoints"
Currently the documentation for `-experimental.tsdb.s3.endpoint` is "S3 endpoint without schema".  I failed to create a valid setting about four times.

If you use an address that doesn't resolve, this doesn't show up as an error until some time after startup when the shipper tries to use it.  It would be better to check the address and fail immediately.

The documentation for `-s3.url` is "S3 end

[2020-07-16 14:07] roidelapluie opened #2889 "Introduce a single -default.interface flag"
[code]

We could have a -default.interfaces flag so we do not need to overrule all those flags when we do not have en0 or eth0 on a machine.

[2020-07-16 14:11] roidelapluie opened #2890 "Cleanup cortex flags"
Some flags double print defaults:

        Preallocated buffer size for downloads (default is 512KB) (default 512000)
        Preallocated buffer size for up;oads (default is 256KB) (default 256000)
        Number of buffers used to used to upload a chunk. (defaults to 1) (default 1)

In addition to that, it would be great to specify values in a user friendly way, e.g. by using proper units (kingp

[2020-07-16 14:55] #2833 closed

[2020-07-16 14:59] pracucci commented on #2890
_I'm working on the doc right now. I take care of removing all defaults from CLI flag description (they're auto generated). I would keep the units thing as a separate work._

[2020-07-16 15:48] pracucci commented on #2889
Thanks for raising the issue. Let me try to approach the issue from another angle. If you had this issue I guess your system doesn't have neither `eth0` and `en0`. If so, could you share which network interfaces your system has, please? Maybe we could just improve defaults.

[2020-07-16 15:50] roidelapluie commented on #2889
enp0s31f6 and wlp3s0 :)

[2020-07-16 16:00] pracucci commented on #2889
Nice! I'm wondering if, instead of failing when the preferred interfaces don't exist, we could just fallback to the first defined interface in the system. Honestly, I would be happy if wouldn't have to configure the interface name at all.

@pstibrany any thought on this?

[2020-07-16 16:03] #2757 closed

[2020-07-16 16:06] pracucci commented on #2882
👋  Hello

Yes, Cortex has been designed around ~micro~services.

I would suggest you to take a look at the [architecture doc](https://cortexmetrics.io/docs/architecture/) as a starting point. If you have specific questions, I would be happy to answer.

[2020-07-16 16:18] pracucci commented on #2876
👋  Andrew and thanks for opening this issue.

I do agree we should have a per-tenant retention policy. It's something not trivial to achieve with the Cortex chunks storage because of the large number of object stored in the chunks store, while we expect it to be fairly easy to achieve in the blocks storage because of the relatively small number of objects.

[2020-07-16 16:25] research-sudo commented on #2882
It's clear, Thank you so much

[2020-07-16 16:44] roidelapluie commented on #2889
Alertmanager takes the first rfc1918 ip address by default

[2020-07-16 16:46] pracucci commented on #2889
We could do the same as well, while still keeping the option to allow to configure the preferred one.

[2020-07-17 07:25] pracucci opened #2894 "Use fnv32a hash in the compactor"
In https://github.com/cortexproject/cortex/pull/2887 we learned that fnv32a hash acts better when hashed values slightly change (eg. tenant IDs). We should use it in the blocks compactor sharding as well.

[2020-07-17 21:16] maxbrodin commented on #2894
I might be wrong, but doesn't compactor [already use fnv32a](https://github.com/cortexproject/cortex/blob/master/pkg/compactor/compactor.go#L453)

[code]

[2020-07-17 22:52] #2462 closed

[2020-07-20 06:45] pracucci commented on #2015
_This is still valid_

[2020-07-20 06:56] pracucci commented on #2294
@annanay25 What's the status of this?

[2020-07-20 06:57] #2890 closed

[2020-07-20 06:58] pracucci commented on #2594
_Still valid_

[2020-07-20 07:00] pracucci commented on #2183
I don't know how 100 was picked, but I'm 💯  open to make it configurable.

[2020-07-20 07:12] annanay25 commented on #2294
etcd client does not have TLS support yet. TLS config options need to be added to the etcd config - https://github.com/cortexproject/cortex/blob/566dc15736256e7b60710b7f3eac40058a27a6b5/pkg/ring/kv/etcd/etcd.go#L18-L22

[2020-07-20 07:45] pracucci commented on #2894
Yeah, my fault. I opened the issue without even looking at the code 🤦

[2020-07-20 07:45] #2894 closed

[2020-07-20 08:27] pracucci commented on #2883
Could you check if https://github.com/cortexproject/cortex/pull/2851 solve your issue, please?

@gotjosh Are you aware of this?

[2020-07-20 08:43] Wing924 opened #2898 "[feat] support snappy compressor for gRPC"
### WHAT

Let's support snappy compressor for gRPC.

### WHY

Currently, we only have gzip for gRPC compressor.
The gzip use too much CPU.
The snappy is better than gzip for real-time compressing.

[2020-07-20 09:43] gotjosh commented on #2883
I think this is slightly different but can use similar mechanisms. I've added the capability to discover Alertmanagers from the ruler, this is about discovering other Alertmanagers from the Alertmanager itself.

[2020-07-20 09:45] gotjosh commented on #2883
Could you please assign this to me @pracucci?

[2020-07-20 09:55] pracucci commented on #2883
Definitely, done! 🙏

[2020-07-20 13:08] cyriltovena commented on #2582
one day !

[2020-07-20 14:26] joe-elliott opened #2901 "Ruler API returns 202 but fails to store rules"
Using this rules yaml:

[code]

This curl command:
[code]

Receives a 202 response:
[code]

The "ns" namespace folder is created in GCS, but it's empty.

![image](https://user-images.githubusercontent.com/2272392/87948900-4c65a100-ca73-11ea-8722-38d8c1fdf476.png)

This causes Cortex to log the following:
[code]

There are no negative logs during the save and it appears to succeed, but there's no c

[2020-07-21 10:22] #2885 closed

[2020-07-21 11:24] gouthamve opened #2906 "Regex optimisation on index does redundant lookups"
When caching index entries, we basically lookup the entire row (to cache it) and then filter the entries that match after loading the full row: https://github.com/cortexproject/cortex/blob/071502d118a1d0687ef21f832b196341e20bdad1/pkg/chunk/util/util.go#L84-L116 and https://github.com/cortexproject/cortex/blob/071502d118a1d0687ef21f832b196341e20bdad1/pkg/chunk/storage/caching_index_client.go#L70-L7

[2020-07-21 17:17] joe-elliott opened #2907 "Ruler panics when deleting and recreating managers"
If you create a rule group for a user it will cause the ruler to create a prometheus manager for that rule group:

https://github.com/cortexproject/cortex/blob/31fed8bffecc3b834a4d97c2c3b3fe280d15c32c/pkg/ruler/ruler.go#L511

If you then delete all rule groups associated with a user it will drop that user:

https://github.com/cortexproject/cortex/blob/31fed8bffecc3b834a4d97c2c3b3fe280d15c32c/pkg/r

[2020-07-21 17:23] joe-elliott commented on #2901
Tried, but was unable to recreate this with a local s3/minio backend.  Perhaps GCS only?

[2020-07-21 17:40] joe-elliott commented on #2907
@gotjosh @jtlisi

What do you think is the best fix here?  I'm considering two:

- Leave managers in the map even if there are no related configs
- When adding the manager we are currently wrapping with a user/userid label:
[code]
We could add another label here like "generation" and chuck a GUID in it to prevent collisions, but I feel like that would create some strange metrics/dashboards.

Perso

[2020-07-21 18:01] jtlisi commented on #2907
We had the same problem in the alertmanager. We solve it using the struct defined [here](https://github.com/cortexproject/cortex/blob/master/pkg/alertmanager/alertmanager_metrics.go)

[2020-07-21 18:08] gotjosh commented on #2907
In this case, it seems like the manager metrics struct [is public](https://github.com/prometheus/prometheus/blob/master/rules/manager.go#L70). We can get away with keeping the map of registries around and not having to refine the metrics which is the only approach I'm not in love with.

[2020-07-22 00:32] midnightconman commented on #2742
This breaks the `prometheus` link in grafana panel editor for people using cortex (I don't think that was the intended behavior)... is this a bug or a feature?

[2020-07-22 06:11] jaybatra26 opened #2910 "Flexibility with indexing labels"
Currently, all the labels are indexed.
I would like the option to say "exclude the indexing of labels which have less number of values"

Since there are many labels like `instance, job, etc` which have only one value. These can be skipped while indexing. This is a little complicated to enable it on the command line. I would like to put it in the config file under the `exclude_labels` section.

The

[2020-07-22 12:02] waseem-h opened #2913 "New ingester pods don't become ready"
Hi,
I'm running cortex in openshift with cassandra as backend as well as etcd for kv store with memcached clusters for caches and indexes. We do regular maintenance of our openshift nodes and we drain them frequently. We already have 1 ingester pod per node scheduled so we don't kill more than 1 pod at once. When an ingester pod gets killed, the new one's /ready endpoint always throws 503 error an

[2020-07-22 12:41] pracucci commented on #2913
Thanks for opening this issue.

My feeling is that the ingester running on the drained node doesn't get gracefully shutdown. When an ingester doesn't gracefully shutdown (cleanly leaving the hash ring), the new ingester will never become ready until the terminated ingester isn't manually removed from the ring.

If you open the **distributor** HTTP endpoint `/ring` from the browser, you will see a

[2020-07-22 13:14] pracucci commented on #2742
Could you share a screenshot about which link is broken, please? I would like to better understand it.

[2020-07-22 13:26] pracucci commented on #2907
@joe-elliott I tend to agree with @gotjosh on this issue. I left a comment in the PR. Adopting Josh idea should be easy. @gotjosh could you take a look at my comment in the PR https://github.com/cortexproject/cortex/pull/2909: is that you what you had in mind or something different?

[2020-07-22 13:35] gotjosh commented on #2907
That's exactly what I had in mind @pracucci 👌

[2020-07-22 14:36] jtlisi commented on #2907
@pracucci We don't currently trim down metrics from the ruler. However, I've always felt that was a mistake on my part when I initially implemented it. I'm fine with the map moving forward. However, I think it's worth considering a devoted metrics struct in the future.

[2020-07-22 14:54] waseem-h commented on #2913
Thanks for the quick reply. I checked and there was indeed a 4th ingester which wasn't responding and it was the old one. Weird thing is that because of that single extra ingester in the ring, killing an old ingester which was working before, stopped working when it came up as a new pod. And I checked that the ingester I killed is terminated gracefully. So technically if for some reason, 1 ingeste

[2020-07-22 15:12] pracucci commented on #2907
@jtlisi Which ruler metrics would you keep and which discard? And why? _I'm just trying to understand the rationale._

[2020-07-22 19:30] midnightconman commented on #2742
Sure :D The `prometheus` link in this screenshot (on the right hand side):

![image](https://user-images.githubusercontent.com/1736251/88219917-224ce400-cc17-11ea-843d-36648238d17f.png)

[2020-07-23 08:03] pracucci opened #2920 "Build a tool to migrate TSDB blocks from Thanos/Prometheus to Cortex blocks storage"
I'm noticing an increased interest to move TSDB blocks from Thanos and/or Prometheus to the Cortex blocks storage. In the PR https://github.com/cortexproject/cortex/pull/2919 I've documented the expected procedure, but would be great to have a tool to automate the rewrite the `meta.json` in the bucket.

My idea would be to leave the blocks copy/upload procedure to the user (because it highly depen

[2020-07-23 08:30] Misosooup opened #2921 "Cortex frontend downstream url"
Hi,

Does this config support an SRV record? I tried with dnssrv+my.internal.url but it doesn't seem to resolve properly and error out.

Many thanks.

[2020-07-23 09:06] bboreham commented on #2910
Relates to #2068

[2020-07-23 09:47] pracucci commented on #2921
👋  @Misosooup

The query-frontend downstream URL doesn't support SRV records. Could you share more details about your use case, please?

[2020-07-23 12:29] pracucci opened #2923 "Use uber-go/atomic in place of sync/atomic"
Same as prometheus/prometheus#7647

[2020-07-23 13:06] Misosooup commented on #2921
I see. We have deployed cortex frontend in ECS. We have set up service discovery with ECS and were given SRV records to route traffic to different services / containers.

I have deployed it together with our querier at the moment so using an SRV record is no longer required at the moment, but I was hoping it to be a standalone service.

[2020-07-23 13:12] pracucci commented on #2921
If you're running the query-frontend in front of a Cortex cluster, the suggested way is not using the downstream URL but configuring the querier **worker** to connect to the query-frontend (and here we do support SRV records).

Take a look at the frontend worker and feel free to ask any question (I will happy to help)=:
https://cortexmetrics.io/docs/configuration/configuration-file/#frontend_worke

[2020-07-23 13:25] Misosooup commented on #2921
Ok. I am currently using Thanos's querier instead of Cortex's querier. I didn't want to use dynamodb hence chosen to use Thanos since Cortex block storage is still in the beta phase.

What I have done now is that the downstream url for cortex frontend is pointing to thanos's querier. I am not sure if this setup is right or not but what I want, is to utilise the parallel query that cortex frontend

[2020-07-23 13:48] bboreham commented on #1722
I think the title is no longer true: you can run alertmanager in single-binary, but it gets a different url path.
Is that right?  Please correct me.

[2020-07-23 14:18] pracucci commented on #2921
Ok. Is having a load balancer in front of Thanos queriers an option, so that you configure the query-frontend downstream URL to the load balancer?

[2020-07-23 14:19] pracucci commented on #1722
Uhm, I'm not sure. Looking at `master`, the alertmanager is not run with `--target=all` so the single binary mode still doesn't run it.

[2020-07-23 17:31] jonathansm1th commented on #2588
@williansvi Have you tried killing the table manager pod (restart it). I've had to do this in order to have table changes applied/created.

[2020-07-23 17:36] amckinley opened #2924 "Easiest way to disable all rate/ingestion limits?"
We use cortex internally with a single "customer" ID. I keep bumping up against various rate limits and changing the overrrides, but I'd like to just disable all the rate limiting entirely. Is there an easy way to accomplish that without playing whack-a-mole, one limit at a time? Can I just set every limit to `0` to disable them?

[2020-07-23 17:51] jonathansm1th opened #2925 "Cassandra Schema causes query errors when chunks is not Specified."
My use case is Cassandra for index only. Object_store chunks are stored separately in S3. The Cassandra schema causes the following query error if you do not specify the `chunks:` `prefix` values:

Given this schema ( no `chunks:` specified )
[code]

What is unmarshalled with defaults, has chunks.prefix as "", which appears to cause Cassandra query errors due to the empty prefix (table name).

[co

[2020-07-23 23:25] Misosooup commented on #2921
Yeah that would work too.

[2020-07-24 09:33] chaimch opened #2927 "Unable to pull too much data from dynamodb"
This is the ingetser log:

[code]

[2020-07-24 10:50] bboreham commented on #1827
@pracucci I believe you said at the community meeting this is now under test; could you update here?

[2020-07-24 14:52] jvrplmlmn commented on #2923
I would like to take on this issue.

[2020-07-25 01:01] paulsinai opened #2929 "Distributor crashes with ha tracker configured for memberlist. Does ha_tracker support memberlist kvstore ?"
Hi,

I'm trying to deploy a distributed cortex on GCP with a deployment or statefulset for each components. I started by using ETCD but I faced very quickly issues in term of maintenance with a DB size growing up to 2,2 GB in 2 days ! Then I tried to switch on memberlist in order to reduce the dependency to ETCD. It works well for all components even the distributor but not for the ha tracker.

1.

[2020-07-25 07:46] chaimch opened #2930 "error removing stale clients"
Is there a way to auto delete unhealthy ingester?

This is distributor log:
[code]

![image](https://user-images.githubusercontent.com/12760278/88452011-e1123980-ce8d-11ea-9034-11109813805a.png)

[2020-07-25 07:58] pstibrany commented on #2929
No, using memberlist for HA is not supported. Memberlist-based KV store propagates updates using gossip, which is very slow for HA purposes: result is that different distributors may see different Prometheus server as elected HA replica, which is definitely not desirable.

(I wouldn’t expect a panic though, that’s something to be checked and fixed)

[2020-07-25 09:10] chaimcode commented on #2927
querier log:
[code]

[2020-07-26 06:26] #2563 closed

[2020-07-27 06:17] Wing924 commented on #2734
@codesome any updates?

[2020-07-27 07:45] pracucci opened #2931 "Proposal: introduce read-only mode for ingesters"
Recently we had to deal with a Cortex outage during which ingesters (running the blocks storage) were failing to compact head due to a in-memory corruption in TSDB (which has already been fixed in https://github.com/prometheus/prometheus/pull/7560). During the outage we had the need to stop ingesting samples on some ingesters, while keeping them running for the queriers in order to not loose serie

[2020-07-27 08:08] pstibrany commented on #2931
I think this can be useful for operations, and storing read-only flag to ring seems logical.

Implementation-wise, as ring is used by different components (store-gateway, compactor, HA), I'm wondering if we should use some more generic "tags" instead, so that each instance can be marked with list of strings (tags), understood by the components. For ingesters, one such tag can be "read-only", which

[2020-07-27 08:29] pracucci commented on #2927
👋  @chaimchaim. How is DynamoDB configured? Is the provisioned capacity scaled up accordingly to your QPS?

[2020-07-27 08:30] pracucci commented on #2930
As of today, ingesters can't be automatically removed by design, but there's a "Forget" button to manually remove them. However, having unhealthy ingesters shouldn't be the normal case and I would suggest to investigate why some unhealthy ingesters are in the ring.

[2020-07-27 08:34] chaimchaim commented on #2930
thanks, I changed the default value of the join_after parameter to 30s and the problem was solved

[2020-07-27 08:35] chaimchaim commented on #2927
I just use the default configuration. Will requests that exceed the capacity limit be cancelled?

[2020-07-27 09:10] pracucci commented on #2923
Sure @jvrplmlmn I would be glad to review it! Feel free to go on 🙏

[2020-07-27 09:11] pracucci commented on #1827
The proposal described at https://cortexmetrics.io/docs/proposals/ingesters-migration/ has been implemented and @pstibrany is testing it. We'll come up with a documentation update once done.

[2020-07-27 09:12] pracucci commented on #2921
Ok @Misosooup. I think having a load balancer in front of your backend Thanos querier would be the expected setup. I'm going to close this issue, but feel free to re-open it if doesn't work for any reason.

[2020-07-27 09:12] #2921 closed

[2020-07-27 09:17] pracucci commented on #2924
I would suggest to look at all limits in the config https://cortexmetrics.io/docs/configuration/configuration-file/#limits_config and set them to 0 when the doc states that 0 means disabled, an high number otherwise. I will also double check the doc to ensure "0 to disable it" is correctly documented, because some limits may support it but not reflect it in the doc.

[2020-07-27 11:45] juliusv opened #2932 "All result timestamps off by 1ms (without alignment turned on)"
If you run a query like this against the latest Cortex release, started with the single-process config at https://raw.githubusercontent.com/cortexproject/cortex/master/docs/configuration/single-process-config.yaml:

http://localhost:9009/api/prom/api/v1/query_range?query=time()&start=1595846748.806&end=1595846848.806&step=5

...then the first result sample should be at timestamp `1595846748.806`,

[2020-07-27 12:06] pstibrany commented on #2923
@jvrplmlmn While working on that, would it be also possible to verify other usage of uber-go/atomic and remove unnecessary allocations (calls to `New*`)?

[2020-07-27 12:19] juliusv commented on #2932
There was https://github.com/prometheus/prometheus/pull/4941 2 years ago in upstream Prometheus to also fix an off-by-1ms rounding bug in the incoming timestamps. Is this maybe not picked up by Cortex yet? In Cortex's `go.mod` I see `github.com/prometheus/prometheus v1.8.2-0.20200722151933-4a8531a64b32`. If this is based off `4a8531a64b32` in Prometheus from July 22, 2020, then I don't see how Cor

[2020-07-27 12:58] bboreham commented on #2898
Have you run any benchmarks?  I guess we should know the tradeoff in compression size as well as CPU.  (and memory?)

No objection if those support your proposal.

[2020-07-27 13:36] pracucci commented on #2643
_Still valid_

[2020-07-27 14:00] Sayrus commented on #2643
The expected behavior is to ignore trailing slashes, right? @pracucci @gouthamve

Which would mean that the following have the same behavior:
[code]

[2020-07-27 14:13] pstibrany opened #2935 "Using streaming RPC to query ingesters doesn't support mixed chunks/blocks mode"
When using `-querier.ingester-streaming=true` (which is now default), querier doesn't properly merge results from Chunks and Blocks-based ingesters, and only uses results from blocks-ingesters.

This is a problem during zero-downtime migration between the two modes.

Workaround is to disable `-querier.ingester-streaming`, then results are merged properly.

[2020-07-27 14:25] jtlisi commented on #2907
@pracucci

The specific metrics I had in mind our:

[code]

**Reason**: Both of these metrics are per-user summaries, which means they're cardinality is: `(<# users> * 7 * <# rulers>)`. Also since they are summaries instead of histograms, aggregating them across instances is not meaningful. I think it would make sense to wrap these metrics and only return the `_sum` and `_count` values.

I feel th

[2020-07-27 14:29] #2924 closed

[2020-07-27 20:30] amckinley opened #2938 "Ingester SIGSEGV"
Just observed this in our Cortex development cluster. I'm guessing this is an issue with the kernel version that's being distributed with the `cortexproject/cortex:v1.2.0` docker image.

[code]

Running Cortex v1.2.0 on Kubernetes, as created by [Grafana jsonnet libs](https://github.com/grafana/cortex-jsonnet). Full cortex config:

[code]

[2020-07-27 20:40] pstibrany commented on #2938
Thanks for the report. Kernel is not part of distributed docker images, and is completely in your control.

Based on https://github.com/golang/go/wiki/LinuxKernelSignalVectorBug, there is a possibility that increasing amount of memory that program can lock (ulimit -l) will resolve the problem. Another possibility is to use `GODEBUG=asyncpreemptoff=1` which however doesn’t fix the problem, only mak

[2020-07-27 21:11] paulsinai commented on #2929
Thanks for the answer. I suggest to start by modifying the documentation because memberlist is mentioned as supported. Could you confirm Cortex HA Tracker does support Consul, ETCD, inmemory and multi only (not memberlist) ?
I can fix the doc and make a PR for this if you want.

[2020-07-27 21:29] amckinley commented on #2938
Oh duh; my mistake. We'll look into upgrading the kernel on the k8s nodes hosting our Cortex pods, or try your other suggestions if we can't accomplish that. Assuming there's nothing else to look at on your end, feel free to close this out.

[2020-07-27 22:32] amckinley commented on #2938
Actually, I'm now convinced that the message at the bottom of the stack trace is unrelated. We're running a kernel version that shouldn't have this issue: `5.3.0-3-amd64 #1 SMP Debian 5.3.15-1 (2019-12-07) x86_64 GNU/Linux`

I think this is actually a bug in the Prometheus version that Cortex is using, which was fixed by this commit: https://github.com/prometheus/prometheus/commit/d30492cbb0ec7818

[2020-07-28 05:58] pstibrany commented on #2938
That commit fixes the case when WAL is corrupted, and some WAL segments have been deleted as a result. You should see log message about that.

Cortex tracks Prometheus master quite closely, so this bugfix will be part of Cortex very soon. (Our last Prometheus update to latest master was 5 days ago, bugfix got merged the day after)

[2020-07-28 06:47] pstibrany commented on #2929
To make sure HA tracker works correctly, it should use Consul or Etcd. "inmemory" is inside single process only, and only works if there is single distributor.

"multi" is used for migrating between KV stores without downtime (eg. from Consul to Etcd or vice-versa), but it isn't designed to work with HA properly.

[2020-07-28 07:52] codesome commented on #2649
Still valid?

[2020-07-28 10:21] pracucci commented on #2929
@paulbellamy Thanks for raising this lack in the doc. Could you open a PR to improve our doc, please?

[2020-07-28 10:24] pracucci commented on #2938
I guess we can consider this issue closed by https://github.com/cortexproject/cortex/pull/2902, but please feel free to re-open it if that's not the case. Thanks!

[2020-07-28 10:24] #2938 closed

[2020-07-28 10:34] pracucci commented on #2643
I believe the right fix would be concatenating paths using `path.Join()` instead of `+` in `pkg/api/api.go`. For example, changing:

[code]

to:

[code]

@jtlisi What do you think?

[2020-07-28 11:35] #2287 closed

[2020-07-28 16:07] cstyan opened #2942 "Ruler API should not accept invalid rules files"
The Ruler API that allows users to write rules files to Cortex should return an error to users who try to upload invalid rules files, for example a rule group with no name.

cc @gotjosh

[2020-07-28 16:42] uruddarraju commented on #2938
Does cortex usually cherry pick important fixes like this into the releases or do we just have to wait for an other release to eb cut?(prefer not deploying off master here)

[2020-07-28 16:46] pstibrany commented on #2938
Cortex doesn’t cherry-pick bugfixes for experimental features into existing release branches.

Release process for Cortex 1.3.0 should start sometime next week, with final release likely the week after.

[2020-07-28 17:06] pstibrany commented on #2938
Note that there is a way to get rid of this problem: by removing `chunks_head` directory inside ingester, in per-tenant TSDB. It is safe to delete this directory while ingester is NOT running. No data is lost in the process.

[2020-07-28 18:31] pracucci commented on #2355
_Still valid_ @gouthamve gentle reminder for you :)

[2020-07-28 22:02] jtlisi opened #2944 "Ruler exposed high cardinality summary metrics per-user"
As discussed in #2907, the ruler exposes the following two summaries:

[code]

Both of these metrics are per-user summaries, which means they're cardinality is: (<# users> * 7 * <# rulers>). These metrics are summaries, not histograms, so aggregating them across instances is not meaningful. It would make sense to wrap these metrics and only return the _sum and _count values.

[2020-07-29 09:36] pstibrany opened #2945 "Stream-querying Ingester v2 hits message size limits"
`v2QueryStream` method of Ingester can produce messages that are still too be to be sent over gRPC. Right now its logic is to send batches of 128 time series, but if timeseries contain many samples (eg. when asking for large time range), it may still hit gRPC message size limit.

With 6 samples/minute, over 12h time that is 4000+ samples for single timeseries. If we batch 128 of them, that is 500k

[2020-07-29 09:56] pstibrany commented on #2945
Increasing grpc message size limit, or enabling compression on grpc connections from querier/ruler and ingester can help to fix the problem.

[2020-07-29 11:46] s-h-a-d-o-w commented on #2942
Coincidentally, @gotjosh and I spoke about this just before.

To provide some more details - this is the end point: https://cortexmetrics.io/docs/apis/#set-rule-group

And here a collection of cases that should return an error:
- Empty payload
- No rule group name
- No rules

Possibly also:
- Props that don't exist on the schema. Reason being: A user might've made a typo when trying to specify `in

[2020-07-29 11:55] s-h-a-d-o-w commented on #2942
Just noticed that this issue overlaps with [this one](https://github.com/cortexproject/cortex/issues/2942).

[2020-07-29 12:13] s-h-a-d-o-w opened #2947 "Prometheus-compatible end point /api/v1/rules does not return all namespaces"
These are some dummy namespaces I have on my cortex instance for experimenting (the following output is from `/rules`):

[code]

`/api/v1/rules` however, returns only the namespace called `rules`.

[2020-07-29 12:32] s-h-a-d-o-w opened #2948 "Prometheus-compatible API provides unexpected, inconsistent payloads when rule expressions contain bugs"
I have the following rule group in one of my namespaces that contains a buggy rule and it results in the whole group not being returned by `/api/v1/rules`:

[code]

So I thought that maybe having a buggy rule in a group would result in it not being returned. But then I copied that rule to a different group and the behavior there is different - the group is still returned but without the buggy rule

[2020-07-29 16:10] amckinley opened #2950 "Store gateway pods heartbeating stale IP addresses"
Yesterday during an upgrade, we cycled out our 3 `store-gateway` pods in kubernetes, after which almost all queries against cortex started failing with a "tcp timeout: no route to host 10.x.x.x". Upon investigation, we discovered the `store-gateway` ring showed two out of three hosts reporting the incorrect IP address, even though they were still heartbeating on a regular basis. Below is a screens

[2020-07-29 16:27] #2907 closed

[2020-07-29 16:55] amckinley commented on #2950
For what it's worth, attempting to repro by deleting one of the `store-gateway` pods just now didn't work.

[2020-07-29 18:20] cstyan commented on #2942
We can reuse `promtool check rules <files>` for this. I'll have to make some changes upstream so that that check functionality is available as an importable function first though.

[2020-07-30 08:28] annanay25 opened #2952 "[bug] sharding throws "expected type scalar in call to function histogram_quantile""
... while attempting to shard binary expressions.

### Failing test
Adding the following test case
[code]
... to `TestQueryshardingCorrectness` https://github.com/cortexproject/cortex/blob/27e2d46bc2bf6c8d9da6fece93cdb230d2198394/pkg/querier/queryrange/querysharding_test.go#L330 fails at the moment, with the following error message:

[code]

### Current hypothesis

The subtree_folder should avoid

[2020-07-30 09:57] pracucci commented on #2950
Where the incorrect IP addresses the one of the previous store-gateways with the same ID? For example, was `10.20.53.16` the IP address of the `store-gateway-0` before the rollout?

[2020-07-30 10:18] pracucci commented on #2950
I've fixed an issue in #2954. I'm not sure it's the root cause of **your** issue, because the conditions to trigger it should be difficult to reproduce in a real scenario (because I would expect the previous instance having the `ACTIVE` state while the new one has the `JOINING` state and in this case the bug fixed in #2954 doesn't trigger).

_Let's continue the investigation here. Could you check

[2020-07-30 10:26] pracucci commented on #2948
Is this a duplicate (subset) of #2942?

[2020-07-30 10:30] pracucci commented on #2947
Is it caused by the empty `record: ""`? Is this a duplicate of #2942?

[2020-07-30 10:36] s-h-a-d-o-w commented on #2948
No, because #2942 deals with invalid payloads that Cortex can't store in the first place.
The configs here are valid from a schema point of view and are thus stored by Cortex (and are accepted by a local Prometheus). It's about dealing with rules that throw errors when they've been evaluated by Prometheus.

[2020-07-30 10:41] s-h-a-d-o-w commented on #2947
No, that's simply how the Ruler API returns stored rules. As you can see, `alert` conversely is an empty string on recording rules.

No. #2942 is about handling invalid payloads that can't be stored.
The above are clearly valid rule groups that have been successfully stored, otherwise `/rules` wouldn't return them.

[2020-07-30 10:58] #2950 closed

[2020-07-30 11:09] pracucci commented on #2925
Thanks @jonathansm1th for reporting this issue and sorry for the late reply. I double checked the code and I can't understand where the bug is originated because if the chunks prefix is an empty string (default) the chunks tables shouldn't be created.

Could you share your config and `table-manager` logs, please?

[2020-07-30 11:12] pracucci commented on #2588
@jonathansm1th Did you have the same error of this issue (table not created)? I'm asking because I've noticed you also opened the issue #2925 which looks a different issue.

[2020-07-30 12:18] #2923 closed

[2020-07-30 14:36] bboreham commented on #1244
@jtlisi can you give an update on this issue?  Was anything done for the alertmanager?

[2020-07-30 14:40] bboreham commented on #1246
A Retryer was added at #2452; needs to be extended to S3

[2020-07-30 14:46] jtlisi commented on #1244
As of now you can manage rules / alertmanager configs directly using their built-in APIs w/ Object Storage. However, it has reduced consistency guarantees.

[2020-07-30 14:51] bboreham commented on #1256
Looks like the issue may be triggered by invalid config - you should specify a period if you're using periodic tables.
Could add this check similar to #2732

[2020-07-30 14:52] pracucci commented on #1256
@jaybatra26 Once #2732 is merged, could you open a 2nd PR to add another check to the validation to make sure that when the table prefix is configured then also the period is (and viceversa)? Thanks!

[2020-07-30 14:54] bboreham commented on #1277
When using WAL we don't do hand-overs, so this has not received any attention.
Also partial hand-over is very difficult to do correctly when using blocks storage.

[2020-07-30 14:54] #1277 closed

[2020-07-30 14:55] bboreham commented on #1288
Personally I stopped using httpgrpc, and others haven't reported seeing this, so closing.

[2020-07-30 14:55] #1288 closed

[2020-07-30 15:03] bboreham commented on #1324
Should be quite similar to the `/config` endpoint.

[2020-07-30 15:04] gouthamve commented on #1244
@gotjosh Another thing to add to your plate :) I know you have too much already, but there is no rush. We should see how the APIs on the config service and the native AM/Ruler APIs differ, see if we can use just the native APIs and deprecate the config service.

If not, we should provide guidance on which use-cases each of the APIs satisfy and when to pick what.

[2020-07-30 15:06] codesome opened #2957 "Add exporter for the overrides"
The exporter would expose the overrides as Prometheus metrics which can be then displayed on a dashboard.

I already have it implemented. Would it make sense to have a separate repo under `cortexproject` for this exporter?

[2020-07-30 15:08] bboreham commented on #1359
This is now configurable with the `-configs.notifications.disable-email` flag.
I think it was a security feature, to avoid letting users configure arbitrary smtp endpoints in a multi-tenant system.

[2020-07-30 15:08] #1359 closed

[2020-07-30 15:09] pstibrany commented on #2957
Would it make sense to make it part of Cortex metrics?

[2020-07-30 15:12] gotjosh commented on #1244
Keep them coming 😄 , I'm looking forward to spending a solid amount of time working on the ruler if the foreseeable future.

[2020-07-30 15:12] bboreham commented on #1360
Looks like this is inadequate error handling inside the metrics-based autoscaler code; it fires some queries and if it gets back a result it wasn't expecting it prints this cryptic message.

[2020-07-30 15:16] bboreham commented on #1373
Closing as stale.  If anyone is interested to resurrect, please post benchmark stats demonstrating the value.

[2020-07-30 15:16] #1373 closed

[2020-07-30 15:23] s-h-a-d-o-w commented on #2947
This was actually caused by groups with empty names (which is what the Ruler tends to create when receiving an invalid payload - and so it is related to #2942 after all!):
[code]

Once I deleted the problematic namespaces, everything worked fine.

[2020-07-30 15:23] #2947 closed

[2020-07-30 15:25] s-h-a-d-o-w commented on #2948
Same root cause as [here](https://github.com/cortexproject/cortex/issues/2947#issuecomment-666451791), will be prevented once the Ruler doesn't create namespaces with groups that have no name any more.

[2020-07-30 15:25] #2948 closed

[2020-07-30 15:25] bboreham commented on #1396
Perhaps this could be implemented via [engineQueryFunc](https://github.com/cortexproject/cortex/blob/106aa42093a6286852fcb5cddffb6e8b978c9d1e/pkg/ruler/compat.go#L71).
Limits could be integrated with the existing limit/overrides system.

[2020-07-30 15:27] amckinley commented on #2950
That's my assumption, but I have no way of knowing for sure.

[2020-07-30 15:30] pracucci commented on #1433
We currently support some global limits which solve this specific problem for some limits. Global limits are supported for:
- Ingestion rate
- Max series per user
- Max series per metric

Please reference to [the limits doc](https://cortexmetrics.io/docs/configuration/arguments/#ingester-distributor--querier-limits) for more information about how it works.

@weeco Does this solve your original iss

[2020-07-30 15:31] bboreham commented on #1436
We have `TestLabelSeriesID()`, but it's at too low a level.  Need to test at the chunk level or even series, that marshalling comes out as expected.

[2020-07-30 15:36] pracucci commented on #2950
Would you be able to try if #2954 fixes your issue? _If not, please reopen this issue._

[2020-07-30 15:54] weeco commented on #1433
@pracucci No I don't think so.

The problem is that I can not comfortably monitor how close each tenant is to the set limits. I only set limits to make sure that accidential excessive writes do not take down the whole cluster. Thus if I know a tenant is close to the configured limits I can raise the limits before metrics will be rejected due to exceeding the limits.

[2020-07-30 16:03] pracucci commented on #1433
At Grafana Labs we've built a custom exporter which reads the Cortex config file (limits and overrides) and expose them. The reason why we did it through a custom exporter instead of exposing these metrics from Cortex is to keep the cardinality lower (because in a large cluster, if any single Cortex node exposes the same limits, the cardinality could easily explode).

The custom exporter is not OS

[2020-07-30 16:05] weeco commented on #1433
Couldn't we just make it an option then where users can choose to enable or disable it? I think it's desirable to avoid introducing further services

[2020-07-30 16:07] pracucci commented on #2957
Also related to https://github.com/cortexproject/cortex/issues/1433.

[2020-07-30 16:12] dmitsh opened #2959 "Redis cache does not support cluster/sentinel topologies"
The implementation of Redis cache does not allow to use it with Redis Sentinel or Redis Cluster.

[2020-07-30 16:12] dmitsh commented on #2959
I will be sending a PR to address this.

[2020-07-30 17:16] pstibrany commented on #2957
Good point. Separate module would work in my opinion. Even if it is an extra pod, it would be tiny, and doing no work other than reloading config and publishing it via metrics. I think that's no different than having extra exporter. And in single-binary mode, it would just be part of "big" Cortex.

[2020-07-30 17:35] amckinley commented on #2950
Well, I don't have an easy repro, so it would be hard to tell. After #2954 promotes to (presumably) v1.3.0, I'll update our cluster and if I see this issue again I'll reopen.

[2020-07-31 01:53] cstyan opened #2964 "Ruler rules manager/querier should log trace ID's"
Because rule evaluation for the ruler is started via the upstream Prometheus rules manager we don't have control over it's logging. The ruler passes a Querier to the rules manager as the Queryable.

The Querier starts it's own spans and logs trace IDs via spanlogger, but it's not immediately clear to me how we could have that trace ID logged when rule evaluation fails.

In order to debug things li

[2020-07-31 04:16] pracucci commented on #2957
If we run it in the `-target=all`, doesn't this introduce the high cardinality issue which prevented us from exporting these metrics directly from Cortex? Even in a small 10 nodes cluster, it will generate 10x series which I'm not sure it's what we want.

[2020-07-31 06:12] pstibrany commented on #2957
You're right. I forgot that we encourage people to use multiple single-binary instances.

[2020-07-31 07:21] pstibrany opened #2966 "Proposal: Remove support for TSDB blocks transfer between ingesters"
When ingesters start and stop, they support transfer of data from leaving ingester to joining. This mechanism allows for fast rollouts of new ingesters, because otherwise ingesters would need to flush data from memory to storage, which can take a long time (up to 1h). Transfers were the primary solution to deal with slow rollouts, until WAL support for chunks was introduced in ingesters, which mad

[2020-07-31 08:01] weeco commented on #2957
What about an option where users can configure in what tenants' metrics the user is interested in? All tenants which aren't part of this list will be grouped together as "other_tenants" or so?

[2020-07-31 08:09] pracucci commented on #2077
_Still valid_

[2020-07-31 09:20] robx opened #2967 "Ruler API returns 404 for existing route /api/prom/rules"
The endpoint /api/prom/rules returns HTTP 404 Not Found when there are no rule groups: https://github.com/cortexproject/cortex/blob/106aa42093a6286852fcb5cddffb6e8b978c9d1e/pkg/ruler/api.go#L412.

It's good to get a 404 for /api/prom/rules/grp when rule group "grp" doesn't exist.  But /api/prom/rules does exist anyway, even if there's no group. 404 indicates that the resource at /api/prom/rules do

[2020-07-31 09:21] codesome commented on #2366
The above proposal having multiple TSDBs open for backfilling was discarded because of lot of unnecessary complexity that it brings into the code and the additional memory required in the worst case (for example, if you want to backfill upto 6h old samples, you might need upto 6-7x the memory).

With the scope of this being only to recover from long outage either on the Prometheus side or Cortex,

[2020-07-31 09:34] brancz commented on #2966
Have you considered doing the same as thanos-receive and just getting rid of the state entirely? It flushes the head block to and uploads it. Yes, this can produce non optimal blocks, however, if we put some work into chunk merging at compaction time, this can be optimized away. Just a thought and it could allow for Thanos and Cortex to be even more similar. :)

[2020-07-31 09:37] brancz commented on #2366
I don't understand what this sentence means. Does it take 3x memory or is that overhead optimized away by mmaping of head chunks?

[2020-07-31 09:38] pstibrany commented on #2966
Cortex has an option for flushing all TSDBs on shutdown, but problem is that ingester may have many TSDBs and flushing on shutdown may run out of time due to termination grace period.

For scale-downs I prefer to use `/shutdown` endpoint, which does the flush and then stops ingester component.

[2020-07-31 09:53] brancz commented on #2966
We have a kubernetes controller planned (actually the controller exists but doesn't do this yet) that ensures eventual upload should it not succeed on "normal" shutdown (essentially schedules jobs with the "previous" PVC until upload succeeds, cleans up the volume and recycles it).

[2020-07-31 09:58] pstibrany commented on #2966
Nice! Our flusher component can do the same (it's a job that flushes all TSDB data from PVC), but we don't have a controller for it.

[2020-07-31 10:12] gotjosh commented on #2967
There's more to uncover here. Given this is a multitenant system, we should be verifying whenever the user has a manager running and return 404 (or not) based on that -- which is the thing that signals "I have a user in this system". For the no rules on all endpoints it feels like it should be a 204.

Now, with that in place, you would still receive a 404 in the case where a user has no rules (bec

[2020-07-31 10:20] adityacs opened #2969 "Cassandra storage panics on registering prometheus metrics"
There are duplicate metrics `fqname` added with different labels.

`Desc{fqName: "gocql_connection_pool_hosts", help: "Current number of hosts in the connection pool.", constLabels: {client="table-manager"}, variableLabels: []}`

`Desc{fqName: "gocql_connection_pool_hosts", help: "Current number of hosts in the connection pool.", constLabels: {client="index-read",component="index-store-2020-06-11"

[2020-07-31 10:21] robx commented on #2967
I see, that makes sense. Closing this then, thanks for the explanation!

[2020-07-31 10:23] gotjosh commented on #2967
Let's leave it open because we'd still need to do the check against the manager running. cc: @pracucci

[2020-07-31 11:43] pstibrany commented on #2969
What Cortex version are you running? We have fixed issues likes this recently in #2774.

[2020-07-31 11:55] #2731 closed

[2020-07-31 12:07] adityacs commented on #2969
I tried from Loki not from Cortex binary. Just realized this is not Cortex issue. Loki is missing `component="table-manager-store` label in `constLabels: {client="table-manager",component="table-manager-store"}`. This should be fixed in Loki. Will create a PR there.

Thanks @pstibrany

[2020-07-31 12:07] #2969 closed

[2020-07-31 12:40] codesome commented on #2366
It can take upto 3x more memory if all 3 TSDBs are in action. With mmapping of head, the main factor that decides the memory taken by TSDB is number of series in head and the time range does not matter, because only 1 chunk per series and the labels/index will be stored in the memory at any point of time and remaining chunks on disk.

So in normal usage when you don't need to ingest old data, ther

[2020-07-31 12:52] thorfour commented on #2966
+1 for getting rid or transfers!

[2020-07-31 14:41] #2898 closed

[2020-07-31 16:23] ranton256 commented on #2966
Given the WAL already having an implied need for stateful set with block store, removing the transfer support between ingestors does not seem like it would cause any additional hurdles and would simplify things.

[2020-08-03 06:32] pracucci commented on #2681
_This is still valid. Both applies to chunks and blocks storages._

[2020-08-03 07:13] pracucci opened #2972 "Document how flusher works with blocks storage"
We should improve the flusher documentation and, in particular, cover the blocks storage too.

[2020-08-03 08:27] brancz commented on #2366
Understood thank you for explaining. I expect that this happens primarily on extended downtime of the backend, so it's rather likely that this happens for many tenants at once no? In such a scenario do you think the resulting thundering herd would be managable?

[2020-08-03 11:30] pracucci commented on #2664
@VineethReddy02 A gentle reminder of your promise when we merged the gRPC plugin PR: that documention would have been written in a subsequent PR 😉

[2020-08-03 12:41] VineethReddy02 commented on #2664
I will raise a docs PR this week.

Thanks!

[2020-08-03 13:29] pracucci commented on #1710
Fixed by migration to Golang 1.14.

[2020-08-03 13:29] #1710 closed

[2020-08-03 13:31] itzg commented on #2366
In our case the thundering herd is expected since our tenants will demand that the 6 hours of backfill be eventually available to visualize at some point. After an outage, spinning up larger memory pods seems like a reasonable operation to accommodate this design.

Thanks, @codesome , this is looking very promising.

[2020-08-03 15:26] pracucci commented on #2672
_Still valid_

[2020-08-03 16:18] owen-d commented on #2952
Good analysis! I haven't looked into the promql code much since it was refactored, but I'd take a look at `UnaryExpr` to make sure we shouldn't encode that or figure out which circumstances it should vs shouldn't be.

Regarding the `BinaryExpr`, it should not be encoded in _this_ case, but there are many cases where it should be. There might need to be a check on binary expressions to see if they'

[2020-08-04 10:20] #2578 closed

[2020-08-04 10:26] bwplotka commented on #2932
Thanks!

Yea, we just need this: https://github.com/prometheus/prometheus/pull/4941 then. The thing is that API package is almost impossible to import (not reusible much unfortunately), so both Thanos & Cortex has to manually apply this fix.

I wish we could somehow move Prometheus `api.go` into components for easier reuse :thinking:

[2020-08-04 11:49] pracucci commented on #2694
Metrics have been done in https://github.com/cortexproject/cortex/pull/2708, but I think logging still needs to be done. @jtlisi ?

[2020-08-04 11:55] juliusv commented on #2932
@bwplotka Totally agreed, the API package is really hard to reuse externally, without injecting a boatload of not-always-necessary stuff. Would be great to change that at some point as well :)

[2020-08-04 12:05] gotjosh opened #2975 "Integration Tests: Add Assertion for waiting on a metric to appear"
As part of our integration tests framework, we have some form of metric-based assertion. At the moment, is it not capable of waiting on a metric.  When the metric is not there as it fetches `/metrics` it will bail out saying that the metric is not present even though the metric could eventually be there after a certain async action completes.

In https://github.com/cortexproject/cortex/pull/2960/f

[2020-08-04 14:22] pracucci commented on #2975
_I take care of that_

[2020-08-04 15:52] ranton256 commented on #2972
The best documentation I found is here:
https://cortexmetrics.io/docs/production/ingesters-with-wal/
I hadn't found that yet when I said high level docs were confusing.

It still specifically mentions chunk storage.

"There is a flusher target that can be used to flush the data in the WAL. It’s config can be found here. As flusher depends on the chunk store and the http API components, you need to

[2020-08-05 06:47] #2975 closed

[2020-08-05 15:22] pracucci opened #2983 "Improve the /config endpoint documentation"
We should mention that the `/config` endpoint only returns the static config and overrides are not displayed.

[2020-08-06 12:39] pracucci opened #2987 "Uniform tenant/org/user naming"
Cortex interchangeably uses the terms "tenant", "org", "user" and their derived forms "tenant ID", "org ID", "user ID" . This generates quite a lot of confusion to newcomers and I would like to propose to standardise it, converging to a single naming.

We could adopt a soft approach to begin with:
1. Uniform the documentation
2. Introduce a policy to always use the decided term for future changes

[2020-08-06 12:48] bboreham commented on #2987
Agreed, I saw someone confused over this yesterday.

"user" is perhaps justifiable but confusing; "org" is better but confusing if one organisation runs multiple systems, e.g. dev and prod.

The API has "X-Scope-OrgID", which might also need changing.

[2020-08-06 12:51] pracucci commented on #2987
I think **tenant** would be the best option, because:
- It's a multi-tenant system :)
- An organization entity could have multiple tenants
- An user is usually associated with authentication (out of the scope of Cortex) and a tenant could have multiple users

However, in logs and metrics especially we do a large use of `user`: renaming them would be a pain for the final user, and start using "tena

[2020-08-06 13:48] simon71 commented on #2987
As a new user to Cortex that's been going though the often steep learning curve and trying to understand the terminology could the confusion not be solved by firstly having some clear documentation about what each means and how each part of the system uses them and then look at writing some of them out of future releases?

[2020-08-06 13:50] pracucci commented on #2987
The main problem is that within Cortex these 3 terms are just synonymous and I believe uniforming it (just pick 1) could help simplifying it.

[2020-08-06 13:58] simon71 commented on #2987
You said

In the mean time would documenting the current state of play and how thing will change in the future not help?

[2020-08-06 13:58] pracucci commented on #416
Please be aware this issue affects only the **chunks storage**. The new [**blocks storage**](https://cortexmetrics.io/docs/blocks-storage/) supports queries without a metric name.

[2020-08-06 14:34] bboreham commented on #2987
Some places you will see "user" vs "org" was copy-paste four years ago from code where those two things mean something; however in Cortex today they are never used to mean anything different from "tenant".

[2020-08-06 14:48] pracucci commented on #2987
Definitely. Uniforming the documentation and mentioning that logs and metrics may use these terms interchangeably is good starting point 👍

[2020-08-06 15:57] pracucci commented on #2932
_Thanks for reporting it! I'm fixing it..._

[2020-08-06 20:30] amckinley opened #2991 "Querier fails to start until store-gateway is up and running"
While building out a new Cortex cluster on v1.3.0-rc0, I noticed that when the store-gateway pods fail to start (for unrelated reasons), the queriers also fail to start and get stuck in a crash loop with logs similar to these: https://pastebin.com/Dnet1FUr

If this is the desired behavior, you can go ahead and close this, but imo it would be better to just keep retrying until the store-gateway pod

[2020-08-07 00:36] jtlisi opened #2993 "Default Cassandra replication factor considered harmful"
https://github.com/cortexproject/cortex/blob/9a9648f431e537a3a7b0752161a8d009582ed848/pkg/chunk/cassandra/storage_client.go#L60

Cortex will initialize a keyspace with a replication factor of 1 by default. Even if this value is changed later, it will not alter the Keyspace with the new value. This is not ideal and unless a user carefully ensures this value is set when bootstrapping cortex, they co

[2020-08-07 06:54] pracucci commented on #2987
A good feedback received from @weeco on Slack:

[2020-08-07 07:26] pracucci commented on #2340
_Still valid._

[2020-08-07 20:39] jtlisi commented on #2987
+1 for **tenant**

[2020-08-07 20:41] jtlisi commented on #2987
I think we should roadmap a hard switch for our next major release. In the meantime we can standardize on `tenant`.

[2020-08-08 05:18] #2625 closed

[2020-08-08 11:13] gizmosense opened #2999 "Query on data Cortex works only time range > 30m"
From Grafana , query of multi tenant metrics data only works 30minutes and above .
is there a limitation or a setting to have latest data out out of cortex say 5m ?

[2020-08-09 07:42] gizmosense commented on #2999
i have a update for above, since i am using cortex for first time , my observations were misplaced.  Indeed 5 mins data also comes out of cortex for multiple clusters but the reason for above yesterday and cortex stopping to ingest/store/send data to grafana could be lot of timestamp errors i was getting   - so i have a question to the cortex users team and admins -  when we scale distributors / i

[2020-08-09 14:33] ssesha commented on #2622
Hi @pracucci I am new to cortex and found this issue really helpful in understanding the replication across ingesters. I have some doubts regarding what happens when an ingester is lost when i have replication factor 3 and 3 ingesters. Are the lost series replicated again when a new ingester comes up or do some series stay at 2? If they are indeed replicated again how do I track this behaviour and

[2020-08-10 09:58] pracucci commented on #2704
_This is still valid._

[2020-08-10 10:05] codesome commented on #2366
If Cortex is down, ingesting >1h old samples will come into picture only when tenants have multiple Prometheus instances and some instances catch up faster than the others hence pushing the maxt of the main TSDB ahead. If not, it will be a single TSDB as before.

Considering the worst case of all requiring ingestion of >1h old samples, if the ingesters are already provisioned to use at least 3x th

[2020-08-10 10:17] pracucci commented on #2622
It depends whether the WAL is in use or not. If you running the chunks storage, the WAL is optional (disabled by default), while if you run the blocks storage the WAL is always in use.

When **WAL is used**, the new ingester is expected to be started up with the same disk of the terminated one. If so, the WAL will be replayed and all time series data recovered, so you will get back to 3 replicas f

[2020-08-10 10:18] pracucci opened #3003 "Improve ingesters replication factor documentation"
The issue https://github.com/cortexproject/cortex/issues/2622 made me realise we haven't properly documented how the replication works and ingesters failure scenarios. We should improve this doc.

[2020-08-10 10:26] pracucci commented on #2999
👋  @gizmosense

No. You can query back a sample from Cortex as soon as it is successfully ingested in Cortex, even a millisecond after.

No, it shouldn't.

Which errors did you get? Could you share a snippet of logs, please?

[2020-08-10 10:32] jakubgs opened #3004 "Unable to query when not using public IPs"
I'm trying to get a 3 host Cortex cluster running, but I don't want to use public IPs for it and avoid having to set up certs.
Since my ports are closed to the public side the connections to other nodes on `9095` port fail:
[code]
All of my hosts are connected via [Tinc](https://www.tinc-vpn.org/) VPN and have IPs in the `10.0.0.0` subnet, but when I try to use them for `grpc_listen_address` to a

[2020-08-10 10:42] pracucci commented on #3004
👋  @jakubgs

Few things the come to my mind:
1. Make sure the ingesters have been registered in the `/ring` with the right IP address. By default we detect each Cortex instance IP from a list of default interfaces (eth0 en0). You should just change the `-ingester.lifecycler.interface` CLI flag (or its YAML config option) to pick up the IP from the right network interface.
2. The querier workers (r

[2020-08-10 10:53] pracucci commented on #2991
I don't think the error you got in the querier is related to the store-gateway. Queriers should start even if store-gateways are disrupted (then queries will fail at execution time, but that's expected because at least 1 store-gateway is required).

You got this error in the querier:
[code]

Which mentions that the `store-queryable` (which is a querier internal component) has failed to start, beca

[2020-08-10 11:01] jakubgs commented on #3004
Thanks @pracucci ! Setting `ingester.lifecycler.interface_names` to `tun0` for my VPN interface solved the issue:
[code]
Now the queries are coming through!

But I also noticed that there are other `instance_interface_names` settings that don't appear to be documented:
[code]
Should I be changing those too?

I don't think I understand what `fontend.frontend_address` setting is supposed to be? Is i

[2020-08-10 11:57] jakubgs commented on #3004
Okay, i set the `frontend_worker.frontend_address` to the address of the local VPN interface + the GRPC port and it works!

Brilliant, thanks for your help @pracucci ! Appreciate it.

[2020-08-10 11:57] #3004 closed

[2020-08-10 12:01] pracucci commented on #2991
Actually, after looking at the code, I believe the only case this could happen is if the querier fails to scan the object store (bucket) for the initial blocks scanning operation.

[2020-08-10 12:09] pracucci commented on #3004
Excellent @jakubgs. Happy it's working! 💪

[2020-08-10 12:14] gizmosense commented on #2999
thanks for the response, i use 7 to 10 prom to push data to cortex  and further to grafana.
i solved timestamp errors by adding global external label. but i still get sometime timestamp  errors in cortex ingester and also suddenly data stops coming to grafana one cluster by one .. not sure it is over load or else ?
tried memcache , but memcache k8 svc url never gets identified in ingester during s

[2020-08-10 12:25] #2932 closed

[2020-08-10 12:26] #2966 closed

[2020-08-10 12:36] gotjosh commented on #2704
I'd argue that this should be a required field. Without it, you can't access the Alertmanager UI nor its Prometheus-based API (the configuration API or cortex-specific endpoints would be though).

The extra angle here is that there might a be a case where you'd like to test/set Alertmanager configuration for tenants but not give them access to the UI/APIs just yet... but that seems unlikely?

[2020-08-10 13:43] pracucci commented on #2704
I believe the main point of the issue is that, even if this is a required field, it should error out (giving details) but not panic. From the panic you can't even understand what's wrong in the config.

[2020-08-10 13:53] #2991 closed

[2020-08-10 13:59] amckinley commented on #2991
Yeah, we were in the process of bringing up a new cluster when we encountered this error. I can't remember the exact timeline, but at different points we had problems getting consul running and with making the S3 buckets storing the TSDB accessible to the pods. I saw the error message referencing `store-queryable` and assumed it was a reference to the `store-gateway` pods, which were stuck in a cr

[2020-08-10 15:01] pracucci commented on #2347
_Still valid._

[2020-08-10 15:31] pracucci commented on #2704
It's already a required field, but not checked. We should validate it before running the alertmanager.

[2020-08-10 15:37] pracucci opened #3006 "Clarify that the blocks storage doesn't use the schema"
We should clarify that the blocks storage doesn't use the schema (which is chunks storage specific).

[2020-08-10 16:11] ssesha commented on #2622
Thank you so much for making things clear @pracucci. I am currently not using wal and running chunks storage, so will keep this in mind. Decided we should try out Cortex in our org (vs Victora and M3db) for the tech and the helpful community. Your prompt and detailed answer just reinforced my decision. Onwards!

[2020-08-10 16:33] pracucci commented on #2991
Thanks @amckinley for the details. The PR #3005 (already merged) should provide a better error message next time it happens.

[2020-08-10 16:37] pracucci commented on #2993
Cassandra backend storage is still marked experimental. We can introduce a config breaking change here, moving from a default of `1` to a default of `3`. What do you think?

[2020-08-10 16:45] pracucci commented on #2742
_Sorry for the late reply._

We could map the `/graph` endpoint in the query-frontend, so that it would be passed to the downstream URL. This would solve the case of Grafana link, but not the general issue that any request is not proxied anymore.

@jtlisi This change was due to the single binary mode. The question is: should query-frontend (when running standalone) proxy any request to the downstr

[2020-08-10 20:45] jtlisi commented on #2993
I think that makes sense.

[2020-08-11 05:44] bwplotka commented on #2366
Hey, thanks for this. This can work, but in fact, what we propose here to me is literally multi TSDB (: so: **How this is different than multiple TSDBs capped at T-7h hours?** Is it block range being 6h?

[2020-08-11 06:20] bwplotka commented on #2742
Ag thanks @yeya24 for linking. Yes. I think in Thanos version of query frontend we should be proxying rest to downstream, I think it's nice behavior of query frontend being transparent.

As per Cortex one, I believe once `thanos query-frontend` exists, Cortex can even disable downstream URL flag as it's no longer needed - thus reducing support burden of this path :thinking: Up to you (:

[2020-08-11 07:02] AllenzhLi opened #3008 "restart cortex ruler not load rule config"
I use configdb to make a http request to get rule group config, when first run cortex ruler, it will store user rule group and rules to ./rules/username/filename, but when i restart cortex ruler with no any update, it will get rule group from configdb, and then mapper to ./rules/username/filename, ruler check there is no any update, just continue to boot. As a result, it ignore load any rules...

[2020-08-11 07:08] AllenzhLi commented on #3008
paste the func
[code]

[2020-08-11 07:42] AllenzhLi opened #3009 "cortex ruler send alert to alertmanager ERROR EOF"
[code]

[2020-08-11 08:17] AllenzhLi commented on #3009
I think this is not cortex promblem

[2020-08-11 08:17] #3009 closed

[2020-08-11 11:50] pracucci opened #3010 "Document all API endpoints"
The page https://cortexmetrics.io/docs/apis/ is a work in progress and doesn't document all API endpoints.

[2020-08-11 13:19] pracucci opened #3011 "Improve HA tracker documentation"
Today I supported an user on Slack to correctly setup the HA tracker and I captured a lot of good feedback to improve the HA tracker documentation ([Slack thread](https://cloud-native.slack.com/archives/CCYDASBLP/p1597063130359800)):

- HA tracker documentation is sparse between [arguments page](https://cortexmetrics.io/docs/configuration/arguments/#ha-tracker) and [its dedicated page](https://cor

[2020-08-11 13:23] simonswine opened #3012 "Add TLS Client reload"
Cortex added TLS support for its GRPC/HTTP client connections as part of #2350.

To allow for a seamless roll-over of client certificates, it would be great to support live reloading of certificates without restarting Cortex itself.

Looking at other projects implementations:

- Kubernetes TLS Client: https://github.com/kubernetes/kubernetes/pull/79083/files
- Prometheus/Common: https://github.com

[2020-08-11 13:28] pracucci commented on #3012
Periodically re-read the certificate from disk is easy and effective. Not even required to make it configurable. A sane hardcoded default should be just fine (we're trying to simplify our config).

Could you elaborate on this, please?

[2020-08-11 13:54] tomwilkie opened #3014 "Expose dynamodb backoff in config file."
https://github.com/cortexproject/cortex/blob/master/pkg/chunk/aws/dynamodb_storage_client.go#L61

[2020-08-11 14:27] mkjoerg commented on #2681
In our case, grafana is not able to fetch label values for its variables in case we have no metrics for a while. When metrics are coming in this works fine. In our scenario, we are currently collecting metrics from an iot device that is not running constantly.

If I understand this issue correctly, tools like Grafana cannot send the date range of the dashboard to cortex and it is using a default i

[2020-08-11 14:52] simonswine commented on #3012
If we want to be able to terminate long running connections established on the old client certificate, we would need to track those and that is the approach with using a custom `dialer`, as per the Kubenetes PR. It is using this Dial implementation: https://pkg.go.dev/k8s.io/client-go/util/connrotation.

If this is not a worry to us, I think your suggestion is simpler and more straightforward to i

[2020-08-11 15:01] lostmimic commented on #2681
No, Grafana should still be sending the date range, but Cortex is not using that data in it's query (see the link to Cortex Project source in my original post).

You can also confirm that by running developer window in your browser and looking at the requests it sends out.

[2020-08-11 15:05] pracucci commented on #3012
Is it possible to configure a max connection age in the gRPC/HTTP connections so that we've the guarantee a connection would live longer then X time?

[2020-08-11 16:48] cstyan opened #3016 "spanlogger Log should call Error if log level is error"
We use SpanLogger to unify logging and tracing instrumentation code, but we need to call `level.Error` and `log.Error` to log and set the error tag on the span in the case of errors. We can keep the current `Log` and `Error` functions to satisfy the interfaces but extend `Log` (or introduce a new function) to detect `level=error` in the key value pairs passed to the function to also call `Error` a

[2020-08-12 10:20] pstibrany opened #3020 "Provide a way to force reload of blocks by querier and store-gateways"
In some situations it's useful to reload blocks sooner than configured periodic reload happens.

[2020-08-12 10:23] mkjoerg commented on #2681
@lostmimic yeah, got you. Basically I wanted to say, there is no chance of sending the time range into Cortex. That is why we don't get variables in case there are no metrics for a while, even if Grafana sends the right time range.

[2020-08-12 11:24] simonswine commented on #3012
I am not too sure about how long our HTTP calls are, but I assume we are not having long running HTTP calls at all? If we do I think the we could do it client (https://golang.org/pkg/net/#Dialer.Timeout) and server side (`WriteTimeout` https://golang.org/pkg/net/http/#Server).

For GRPC there seems to be this server side parameter `MaxConnectionAge`: https://godoc.org/google.golang.org/grpc/keepal

[2020-08-12 11:47] pracucci commented on #3012
I would suggest you to focus your investigation on the TCP connection (which could have a long life due to the HTTP keep-alive) and not the single HTTP request.

[2020-08-12 11:56] pracucci opened #3023 "Add a glossary to the documentation"
While supporting Cortex users, I've noticed many times there's no clear understanding of some terms we're used to frequently mention in our doc (or while giving support). It's perfectly fine for a newcomer and I believe we should do a better job to explain terms.

Some terminology we should explain:
- tenant / user / org (see https://github.com/cortexproject/cortex/issues/2987)
- flush / flushing

[2020-08-12 12:53] pracucci opened #3024 "faillint is not running on integration tests"
I just realized that `faillint` linter is not running on integration tests due to the `// +build requires_docker` build tag we have in `integration/` tests. I've opened [an issue on `faillint`](https://github.com/fatih/faillint/issues/).

[2020-08-12 13:13] gouthamve commented on #2681
Hey, this is a hard problem to fix because the way the current index is structured, it is hard to compute the labels/series responses without loading a lot of chunks from the backend store. So we're only limiting the lookup to the data in the ingesters, hence the older data is not looked up.

This problem also exists in the blocks storage engine as loading too much data causes OOM issues. But this

[2020-08-12 13:21] pracucci commented on #3020
Few questions:
1. Could you clarify "reload" in the issue description please? Is it rescan or really reloading blocks (eg. re-download blocks index-header on store-gateways)?
2. How should behave in regards to the cache? Should we bypass the cache on read, but still writing it? If yes and we send the same reload request to all instances in a large cluster, could this negatively affect performances

[2020-08-12 13:33] simonswine commented on #3012
You a absolutely right, I was somehow forgetting about keep-alive. I still think the `Dialer.Timeout` and the server options are the correct place to set an upper limit to the length of the `http.Client`'s underlying TCP connection.

[2020-08-12 15:19] pracucci commented on #2718
Closing because should have been fixed by https://github.com/cortexproject/cortex/commit/c3b0724f24264c24e188e61fc8c312703d0daf91.

[2020-08-12 15:19] #2718 closed

[2020-08-12 15:20] pracucci commented on #3008
@jtlisi Could you take a look, please? Is it something we're aware of?

[2020-08-12 18:01] ranton256 commented on #3023
It's already described [here](https://cortexmetrics.io/docs/architecture/#chunks-storage-default), but if you are adding a glossary it should probably cover for new folks what constitutes a chunk.

[2020-08-13 05:47] gizmosense commented on #2999
i come back again , now with some findings and requesting more help - because we are trying to setup a production grade .
a) everytime something happens to one of few of prom source  - say some connection error or Prom went down or any network issues , after it is restored in few mins or say 30 mins or more , we start getting timestamp errors  ( initially we had timestamp errors everytime got solv

[2020-08-13 06:15] pstibrany commented on #3023
"Chunk" is also used by TSDB, used by blocks engine. We can explain the difference as well.

[2020-08-13 07:42] pracucci commented on #2719
The current (ugly) solution is to configure the chunks `prefix` to an empty string to have the table-manager not creating the chunks tables.

[2020-08-13 07:42] #2719 closed

[2020-08-13 07:43] pracucci commented on #3023
👍 👍 👍  on chunk (very good suggestion, thanks!)

[2020-08-13 07:53] zhuyanxi opened #3028 "Distributor Warning: removing ingester failing healthcheck"
Here the situation:

When a ingester pod is evicted, there will be a warning in distributor:

[code]

I think it is because of the ingester pod is already evicted, so the IP addr is not exist. And if the number of evicted ingester is bigger than the half of all ingesters, there will be an error in distributor:

[code]

So what can I do to deal with this problem?

Thanks.

[2020-08-13 08:34] weeco commented on #3023
Some more ideas which I could imagine being helpful to explain:

- index / index symbols / index header
- TSDB (block)
- churn
- ingester handover
- labels & label values
- gateway
- HA Tracker (probably reference to architecture docs?)
- Ring (Hash Ring)
- WAL
- Schema (Config)

[2020-08-13 09:39] simonswine opened #3029 "TLS verify is skipped by default"
Looking into the TLS implementation of cortex, we are not validating the server side certificates by default.

I think we should validate by default and expose a skip verify flag/config option to get the current behaviour if necessary.

The problem lies pretty much in this line: https://github.com/cortexproject/cortex/blob/a4aad5da5e4ea05110d7ff389e736b62ecbe6f34/pkg/util/tls/tls.go#L45

[2020-08-13 10:26] bboreham opened #3031 "Bad entry in overrides should be more noticeable"
Symptom:

[code]

I need sirens going off and lights flashing, because now it has dropped all of my overrides and data is being unfairly rejected.

Related: #2957, #1433

[2020-08-13 15:36] bboreham commented on #3031
In the community meeting @gouthamve pointed me at `cortex_runtime_config_last_reload_successful`

[2020-08-13 17:25] bboreham commented on #3031
Also it was suggested that a failure on first load should be a fatal error, which would halt a rolling update.

[2020-08-13 19:38] joe-elliott opened #3032 "Series metadata queries are not making it to ingesters for older time ranges"
These lines:
https://github.com/cortexproject/cortex/blob/a4aad5da5e4ea05110d7ff389e736b62ecbe6f34/pkg/querier/distributor_queryable.go#L91-L104

From this PR:
https://github.com/cortexproject/cortex/pull/2904

are currently preventing metadata queries from correctly hitting the ingesters in chunk storage.  If a metadata query has a time range from before the ingesters it should still be passed in

[2020-08-14 06:01] pstibrany opened #3033 "Implement batching series in streaming chunks ingester based on message size."
This is similar to https://github.com/cortexproject/cortex/pull/3015, but for chunks-based ingester.

[2020-08-14 06:20] pracucci opened #3034 "IAM authentication support in ruler and alertmanager S3 client"
I've been reported that the "chunks storage" S3 client (which is also used by the ruler and alertmanager) doesn't support IAM authentication, while the S3 client we use in the blocks storage does. We need investigate and eventually fix it.

_Longer shot would be re-using the blocks storage S3 client for the ruler and alertmanager as well, which is something discussed in https://github.com/cortexpr

[2020-08-14 07:34] mkjoerg commented on #2681
@gouthamve sounds interesting. Adhoc I also don't know a proper solution to this issue, but I understand now, why a full scan is possibly not the right strategy here.

[2020-08-14 09:18] pracucci commented on #3028
When an ingester gracefully shutdowns, it removes itself from the ring and the issue you describe shouldn't happen. However, if the ingester pod is not cleanly shutdown (eg. process crash, node failure, ...), the ingester will not be removed from the ring and you're expected to manually address it (if it happens on more then 1 ingester, then you may have data loss). By "manually address it" I mean

[2020-08-14 09:22] pracucci commented on #2999
In my experience, this shouldn't happen in case of a networking issue between Prometheus and Cortex. However, this could happen (and is expected to happen) when Prometheus is **restarted** (eg. after a crash). The reason is that at startup Prometheus replays the WAL and send it to Cortex again and thus it may (and will) send samples already ingested by Cortex. In this scenario, this is an expected

[2020-08-14 09:23] pracucci commented on #2999
This looks to be a Cassandra-specific error. @jtlisi may help on this.

[2020-08-14 09:24] pracucci commented on #2999
It depends how you run it. I would suggest you to this doc page as entrypoint https://cortexmetrics.io/docs/guides/ingesters-rolling-updates/, then I can answer more specific questions (if you have any).

[2020-08-14 09:25] pracucci commented on #2999
The error you get is "connection refused". Looks a networking issue. Maybe something has been misconfigured.

[2020-08-14 09:26] gizmosense commented on #2999
thanks for the response : It looks normal if prmetheus send again same data with wrong timestamp or some timestamp mismatch  , but what i see this is only time i see grafana stops showing cortex data . i don't lose metrics identification from cortex datasource , but data does not come anymore , it comes back only after i stop and start prom push

[2020-08-14 09:26] gizmosense commented on #2999
yeah i solved it  it works with Cassandra daemon install now

[2020-08-14 09:28] #3032 closed

[2020-08-14 09:35] pracucci commented on #2999
You mean after you restart Prometheus?

[2020-08-14 09:38] jakubgs opened #3038 "field local not found in type ruler.RuleStoreConfig"
I tried configuring `ruler` as shown in the [example config](https://github.com/cortexproject/cortex/blob/9c6b2293ef1bc654ccdf16177f803546cf2715da/docs/configuration/single-process-config.yaml#L91-L97):
[code]
But when I tried to restart the service I got back:
[code]
I have no idea what I'm doing wrong and I'm running `1.2.0`.

[2020-08-14 09:41] pstibrany commented on #3038
Cortex version 1.2.0 doesn't support "local" storage yet. It was added in PR #2854, which is only part of upcoming 1.3.0 release of Cortex.

[2020-08-14 09:43] jakubgs commented on #3038
Ah, I see. Kinda weird to update your official docs to a release candidate version of software, but okay. Thanks for explaining.

[2020-08-14 09:43] #3038 closed

[2020-08-14 09:44] pstibrany commented on #3038
You're right. Website is generated from Cortex master, and is not versioned yet. It's something we would like to address eventually.

[2020-08-14 09:53] gizmosense commented on #2999
no just stop rewrite api and start write api in config  , brings back data in grafana !
wondering how that can be related to cortex and qyert response behavior

[2020-08-14 09:56] andsens opened #3039 "Add better documentation for downstream_url"
This might be subjective and is solely based on my own experience. The docs for `-frontend.downstream-url` do not sufficiently explain what will happen when using it:
[code]

My impression was that this had something to do with `generator_url` in alerts etc. (don't ask me how I arrived at that conclusion though). Nevertheless, I pointed it at my actual prometheus instance, which resulted in the qu

[2020-08-14 10:22] pracucci commented on #2999
Sorry. I'm not sure I do understand. Are you speaking about Prometheus config, right?

If so, Prometheus will reply again the WAL (similarly like when you restart the Prometheus process) and send it to the remote write endpoint (Cortex in this case). The "sample timestamp out of order" is expected because of the reason explained above.

However, doesn't look normal that Prometheus, at some point,

[2020-08-14 10:27] gizmosense commented on #2999
configmap reload takes care about taking new config without restart for Prometheus , so stop/start of prom data is smoothly done, but as soon as i do that  , Cortex starts send data or grafana starts showing data !!  if WAL is resent during stop and start -it means timestamp errors are solved and back to normal  , cortex sends data to grafana .  but if timestamp errors are thrown , will data query

[2020-08-14 10:34] pracucci commented on #2999
What I described above applies anyway. Prometheus live reload the config but, internally, the remote write is restarted when you disable and then re-enable it in the same exact way it would do if you restart Prometheus at all.

[2020-08-14 10:37] gizmosense commented on #2999
yes may be push is restarted , so does it mean , some network glitch  timestamp error, we come back live , Prometheus needs to restart push to be able make cortex work well . because Ingester's throwing timestamp causes grafana query to stop - is there a relation to both this behaviors. ?

[2020-08-14 11:18] pracucci opened #3040 "New ingesters not ready if there's a faulty ingester in the ring"
The ingester readiness endpoint fails on ingester startup if there's a unhealthy ingester within this ring. This looks to create some confusion to users (eg. https://github.com/cortexproject/cortex/issues/2913) and I'm also not much sure of this logic makes sense when running Cortex chunks storage with WAL or the Cortex blocks storage.

I'm opening this PR to have a discussion about it. In particu

[2020-08-14 11:18] pracucci commented on #2913
Not that I'm aware when ingesters are running as Deployment. This problem should be less impactful when you run as StatefulSet because new pods will pick the same exact ID of the previously terminated one and so will overwrite it in the ring.

However, we're aware that the current behaviour is not idea, so I've [opened an issue](https://github.com/cortexproject/cortex/issues/3040) to have a discus

[2020-08-14 11:36] pstibrany commented on #3040
My understanding is that it is used to stop rollout in case of any problems in the ring and make operator to investigate and fix (or just "forget" bad entry).

@tomwilkie will surely know reasoning here.

[2020-08-14 12:01] jakubgs opened #3041 "The -target=all flag does not include alertmanager"
I'm running a 3 host cluster with `1.3.0-rc.1` and I'm trying to run Alertmanager serivce with the following config:
[code]
But I don't see the service listening on port `9094` at all:
[code]
And I don't see the service in the return value from `/services`:
[code]
Both configured directories exist and are owned by service user.
I'm not sure what more I'm supposed to do.

[2020-08-14 12:09] pstibrany commented on #3041
Alert Manager is not part of "all" target, and must be run on its own (by using `-target=alertmanager` or in config file: `target: alertmanager`).

[2020-08-14 12:10] jakubgs commented on #3041
Ooooooh, that makes sense. I totally missed that. Thanks.

Though question, what's the advantage of running alertmanager via Cortex as opposed to running Alertmanager directly?

[2020-08-14 12:12] pstibrany commented on #3041
I will leave answering that question to others, as my knowledge of AM is very low :) (Sorry!) (@gotjosh @jtlisi @annanay25?)

[2020-08-14 12:22] jakubgs commented on #3041
Though to be fair, when I see `-target=all` I kinda assume `all` means "all", not "all except alertmanager".
[code]
The help message says nothing about it. And I don't see anything about that here:
https://cortexmetrics.io/docs/configuration/arguments/

[2020-08-14 12:28] pstibrany commented on #3041
That is a very good point. Can we reopen this issue, and rename it to document "all" target properly?

[2020-08-14 12:31] jakubgs commented on #3041
Does make me wonder though, what's stopping alertmanager from running alongside other routines in Cortex.

[2020-08-14 12:38] pstibrany commented on #3041
There can be different reasons. One is that multiple Cortex instances in "single-binary" (target=all) mode can work together. There are however some services that require exactly one instance, and if they were started multiple times, they would fail.

Another reason is that some targets are only used in special situations (eg. "compactor", "flusher").

[2020-08-14 12:41] jakubgs commented on #3041
Not sure if that's true for Alertmanager as I have it running in a cluster on my infra without Cortex. There's a flag called `--cluster.peer` for specifying peers in the alertmanager cluster to connect to. Unless I'm misunderstanding you.

[2020-08-14 13:15] pstibrany commented on #3041
Cortex AlertManager is different from Prometheus one, although Cortex reuses parts of the original.

[2020-08-14 14:30] jakubgs commented on #3041
Wait, does that mean that Cortex's alertmanager doesn't run in a cluster? Then how does it dedupe alerts?

[2020-08-14 15:27] pracucci commented on #3039
You're right. Documentation is lacking here.

The query-frontend is a queries accelerator. It has been initially built around Cortex and it was working only for cortex (using the Cortex querier workers connecting to the query-frontend and **not** setting `downstream_url`), but then people asked to make it run also in front of a vanilla Prometheus or Thanos.

So the query-frontend has been extended

[2020-08-14 16:37] pstibrany commented on #3041
I'm not exactly sure *how* but documentation says that it *does* deduplicate alerts ;-) (https://cortexmetrics.io/docs/architecture/#alertmanager)

[2020-08-14 17:19] bboreham commented on #3040
I also believe it is to halt a rolling update.

Related: #1521

[2020-08-14 17:28] slim-bean commented on #3040
I recently add #2936 to help users diagnose this problem, doesn't address the question of changing the behavior but should make it easier for operators to diagnose and recover

[2020-08-14 19:28] #2945 closed

[2020-08-15 20:34] bboreham commented on #3041
Duplicate of #1722

One per Cortex alertmanager per tenant, i.e. if you have 3 Cortex alertmanagers and 100 tenants then there are 300 "Prometheus" alertmanagers.

Alert deduplication is done exactly the same as in Prometheus, per tenant.

[2020-08-17 07:00] fxnn opened #3048 "remote_write: setting OrgId via username/bearer"
The [docs|https://cortexmetrics.io/docs/production/auth/] state:

I setup Cortex using your provided [helm charts|https://github.com/cortexproject/cortex-helm-chart], but I cannot set OrgId via basic auth or Bearer token. When e.g. configuring Prometheus like this:

[code]

Or this:

[code]

I always receive

[code]

Is the documentation outdated here?

Thanks in advance,
Felix

[2020-08-17 07:47] pracucci commented on #2474
_Still valid_

[2020-08-17 07:47] pracucci commented on #2348
_Still valid_

[2020-08-17 08:56] zhuyanxi commented on #3028
@pracucci Thank you very much.
I did some tests these days, and just as you said, if an ingester shutdowns gracefully, my issue will not happen; if I manually halt an ingester pod(just simulate ungracefully shutdown, eg. node failure or application crush), the ingester will not be removed from the ring, then I need to manually "Forget" it in the `/ring` web page.

So, I decide to create a tiny ser

[2020-08-17 09:28] bboreham opened #3049 "feature: allow caller to say that query is not worth caching"
We run weekly reports for customers, which make several sizeable queries over 1 week of data, which are extremely unlikely to be run again until next week, and then on different data.

These queries cause a lot of cache writes, and because Cortex caches everything, they may displace data in the cache that will be needed again.

So I would like some kind of "cache control header" to state this quer

[2020-08-17 12:40] jakubgs commented on #3041
I'm not sure what you mean by "tenant". What is a tenant in this context? A prometheus instance writing to Cortex?

[2020-08-17 12:46] bboreham commented on #3041
Yes we should define "tenant".  #3023

This looks ok: https://en.wikipedia.org/wiki/Multitenancy "A tenant is a group of users who share a common access with specific privileges to the software instance."  In Cortex, those "users" need to be understood as both human and system accounts.

The way we use it in Cortex a single tenant could have multiple Prometheus.

[2020-08-17 12:50] jakubgs commented on #3041
Thanks for explaining. So if I'm running 3 Cortex hosts in a cluster, and I also run Cortex alertmanager on each of those hosts, and I have 3 Prometheus instances in separate DCs writing to that Cortex cluster, that would mean each of the alertmanager instances actually runs 3 instances under the hood for each tenant?

[2020-08-17 19:01] #2993 closed

[2020-08-18 11:38] gotjosh commented on #2746
@pracucci can you please unstale and assign to me?

[2020-08-18 12:27] pracucci commented on #2746
@gotjosh Sure, done.

[2020-08-18 16:54] jtlisi opened #3055 "Table-Manager: Create/Update table before deleting tables"
https://github.com/cortexproject/cortex/blob/e2a36a7385654cc8b99c646c7f90653ad19ad76c/pkg/chunk/table_manager.go#L340-L350

When the table manager actually attempts to sync and operate on the chunk storage backend it will proceed in the following order:

1. Delete
2. Create
3. Update

If any of these operations fail at any point, the entire sync will return. This can lead to issues for users who h

[2020-08-19 13:50] carlpett opened #3057 "querier/store-gateway panic on startup with memberlist"
Building a new setup with v1.3.0-rc.2, blocks storage and memberlist, and I'm seeing panic on startup for querier and store-gateway. I'm guessing I'm misconfiguring something, but it'd be nice if it told me what instead of panic:ing :smile:

`store-gateway`:
[code]

`querier`:
[code]

Config file:
[code]

Anything else I can supply?

[2020-08-19 15:19] jakubgs commented on #3041
I don't get it. I'm running my server with:
[code]
and
[code]
But I'm getting:
[code]
As if it's trying to start the HTTP server, even though I clearly state I want `alertmanager`.

[2020-08-19 15:23] pracucci commented on #3041
Any Cortex service exposes an HTTP and GRPC server, other than the service-specific endpoints (alertmanager in this case). The ports used by the HTTP / GRPC server can by configured via https://cortexmetrics.io/docs/configuration/configuration-file/#server_config

[2020-08-19 15:28] jakubgs commented on #3041
I see, so what does the GRPC port do in case of `alertmanager` target?

[2020-08-19 15:29] pracucci commented on #3048
👋  @fxnn

The documentation is lacking a bit a clear description of how the multi-tenancy works in Cortex. First of all, let me say that you can disable multi-tenancy setting `auth_enabled: false` (see [config reference doc](https://cortexmetrics.io/docs/configuration/configuration-file/)).

However, assuming you need a multi-tenant Cortex cluster then Cortex expects that any remote write or query

[2020-08-19 15:49] pracucci commented on #3040
Yes, it's a starting point. However, I think the main use case for people is having Cortex self-healing. If you run on Kubernetes deployments (so so each new ingester will have a random ID), if you just loose 1 ingester its pod will be rescheduled by Kubernetes but will not join the ring because the previous one (that didn't cleanly shutdown) is unhealthy within the ring.

[2020-08-19 16:17] pracucci commented on #3057
Thanks @carlpett for the report. Such a bad thing we're panicking :( I'm looking into it...

[2020-08-19 17:21] bboreham commented on #3040
I run ingesters in a Deployment and I don't think I've observed that.

[2020-08-19 22:32] bcharron opened #3059 "Entire push skips WAL if there's a validation error in any of its samples"
If I understand correctly, when using chunk-storage, if a single sample fails validation during ingestion (ie, due to out-of-order or duplicate timestamp), then none of the samples in the request will make it to the WAL either, even though some may have been added to the chunk: https://github.com/cortexproject/cortex/blob/master/pkg/ingester/ingester.go#L435

[2020-08-19 23:12] andrewl3wis commented on #3040
They will join the ring, but the healthcheck for pod readiness senses that the ring is unhealthy and will lead to the pod that joined to replace the failed one to restart as well.

[2020-08-20 06:31] bboreham commented on #3040
Not seen that either.
Can you show log files where a pod decides to restart because it is not ready?

[2020-08-20 10:18] #3029 closed

[2020-08-20 10:37] simonswine opened #3062 "Support other TLS modes than mutual auth in Client"
This is a follow-up on findings in PR https://github.com/cortexproject/cortex/pull/3030#discussion_r470503597.

Currently we are only enabling TLS, if either a client certificate or a ca certificate is enabled: https://github.com/cortexproject/cortex/blob/master/pkg/util/tls/tls.go#L38

We should also support TLS without those flags, for example for

I propose:

- Adding a flag `tls-enable` to man

[2020-08-20 10:43] pstibrany commented on #3062
As discussed in #3030, we only need `tls-enable` for gRPC. (Now, given that gRPC uses HTTP/2 which is HTTPS-first, perhaps we need a flag to disable it instead, and default to disabled to avoid breaking existing setups?)

For HTTP, TLS is enabled by using `https` scheme in the URL.

[2020-08-20 10:45] simonswine opened #3063 "Expose TLS server name parameter in TLS client options"
I suggest adding add `tls-server-name` parameter to all TLS client options https://github.com/golang/go/blob/cd10f5f632983e63b156478abdfa0bd57e93898c/src/crypto/tls/common.go#L592

Without having the ability to configure a expected ServerName, it will be relatively hard to supply the correct certificates, as through our ring discovery we are mostly connecting to IP addresses and the certificate wi

[2020-08-20 14:41] bboreham commented on #1448
`Distributor.UserStats()` calls `forAllIngesters()` with `reallyAll` flag, which is what causes it to error if one is down.

[2020-08-20 14:47] bboreham commented on #1448
The endpoint is registered on Querier, so we may want to refactor the code so it isn't implemented inside Distributor.

[2020-08-20 14:50] bboreham commented on #1449
Implemented in #2103 and subsequent PRs.
Docs https://cortexmetrics.io/docs/guides/deleting-series/

[2020-08-20 14:50] #1449 closed

[2020-08-20 14:54] bboreham commented on #1468
Some discussion upstream https://github.com/prometheus/prometheus/issues/5865

[2020-08-20 14:54] gouthamve commented on #1468
The problem is that even if we have minute variances in the scrape interval, by ignoring the variance we would be storing and return technically wrong data and would fail PromQL compliance tests. I would suggest we just implement this upstream as discussed in https://github.com/prometheus/prometheus/issues/5865

[2020-08-20 15:02] bboreham commented on #1478
There is some work in https://github.com/weaveworks/common/pull/195 to rate-limit "high volume errors", however as it stands it would not affect 400 errors.

[2020-08-20 15:20] bboreham commented on #1615
The designers of Cortex expected auto-scaling to be done one server at a time; this should be made clear in the documentation.

Maybe the joining logic could detect this situation (e.g. by storing the time of joining in the ring) and behave accordingly.

[2020-08-20 17:40] pracucci commented on #3059
@codesome Could you investigate this, please?

[2020-08-21 05:17] codesome commented on #3059
What @bcharron said is true :scream:, fix is small but I am facing tiny issues while writing test for it. I will send a PR to fix this on Monday.

[2020-08-24 03:23] #2737 closed

[2020-08-24 07:16] pracucci commented on #2714
_Still valid_

[2020-08-24 07:20] pracucci commented on #2723
_Still valid, help wanted!_

[2020-08-24 07:20] pracucci commented on #2499
_Still valid_

[2020-08-24 07:44] #2664 closed

[2020-08-24 07:45] #2704 closed

[2020-08-24 07:52] pracucci commented on #3062
I think having a flag to enable it would be more clear. I think @simonswine proposal to keep it disabled by default but enabling it if certs are provided may be a good compromise to keep backward compatibility. With appropriate config doc, looks easy to understand.

[2020-08-24 09:46] #2935 closed

[2020-08-24 10:08] pracucci opened #3078 "Improve limits documentation"
We should improve the limits documentation, in particular:

- Have an easy to understand table with all supported limits
- For each limit, we should clarify to which Cortex service applies
- We should clarify how the limits overrides work

[2020-08-24 12:58] carlpett opened #3079 "Empty querier config block breaks querier"
I encountered an issue where the querier component would consistently return 503:s on /api/prom/api/v1/query if given "unusual" configuration. There are no logs emitted that indicate what is going wrong, and adding tracing there isn't much to go on either:
![image](https://user-images.githubusercontent.com/214867/91046954-99600880-e619-11ea-96b9-00df6427677a.png)

The config is found here: https:/

[2020-08-24 14:20] pracucci commented on #3079
Thanks for the report! I've been able to reproduce it. I'm investigating it.

[2020-08-24 14:51] pracucci commented on #3079
According to the YAML specs, in particular [empty nodes](https://yaml.org/spec/1.2/spec.html#id2786563), when the parser encounters an empty node it resolves it as "null" which in the case of `struct` is the struct with zero values. This looses the defaults we do set before parsing the YAML.

[2020-08-24 17:57] pstibrany commented on #2795
Still valid.

[2020-08-25 06:56] #3057 closed

[2020-08-25 06:58] pracucci commented on #2793
_Still valid._

[2020-08-25 07:07] carlpett opened #3082 "-config.expand-env requires argument"
If not provided an argument, `-config.expand-env` fails parsing/validation and causes an exit. Easily reproducible with `./cortex -config.expand-env`.
The working usage seems to be `-config.expand-env=true`.

While the documentation isn't completely clear on the topic, my reading is at least that `-config.expand-env` does not require any argument:
https://github.com/cortexproject/cortex/blob/a87c2

[2020-08-25 07:17] Wing924 commented on #3082
https://github.com/cortexproject/cortex/blob/2cbf61af6ed31a811376795a8f9721b890a6e36f/cmd/cortex/main.go#L83

It looks wrong here.
`flagext.IgnoredFlag` use `flag.FlagSet.Var` internally, which expect a value.

[2020-08-25 09:05] #3059 closed

[2020-08-25 09:58] #2906 closed

[2020-08-25 11:39] carlpett opened #3084 "compactor panic on startup with memberlist"
Following from #3057, compactor also panics on startup if configured to use memberlist.
[code]

Tested with image `master-5ea4cc6aa`.

[2020-08-25 13:19] #1821 closed

[2020-08-25 14:44] bboreham opened #3085 "Comments saying 'implements ChunkStore' are confusing"
This for instance:

https://github.com/cortexproject/cortex/blob/ae806700415285df8c4a9e35208e25ba81235a70/pkg/chunk/series_store.go#L421

The easiest change would be to make it say `Store`.

[2020-08-25 15:49] gotjosh commented on #2624
@pracucci we can close this.

[2020-08-25 16:44] pracucci commented on #2262
I'm exploring the idea to change the ruler and alertmanager object store client to the client we use in the blocks storage. There's no easy way to make it a non-breaking change, and realistically it would end up to introduce breaking changes in the config and objstore client metrics. As per our 1.x guarantees, we can't introduce breaking changes in the config, so looks a deal breaker.

_I'm wonder

[2020-08-26 06:38] pracucci commented on #2785
_Still valid. Required by future upgrade to gRPC 1.3.0._

[2020-08-26 07:19] #3082 closed

[2020-08-26 09:23] Alon-Katz opened #3089 "Cortex with aws managed cassandra (Amazon Keyspaces)"
Hey,

I managed to make cortex work in a kubernetes cluster with DynamoDB but I wanted to move to cassandra and I am having some issues making it work with aws managed cassandra.

I am getting this errors:
`level=info ts=2020-08-26T09:57:42.662955911Z caller=server.go:179 http=[::]:8080 grpc=[::]:9095 msg="server listening on addresses"
2020-08-26 09:57:42.851338 I | error: failed to connect to 3.

[2020-08-26 13:05] maunavarro opened #3091 "Add TLS support for etcd in ring"
I recently worked on some minor updates that add TLS support to **etcd** . Would like to create a PR to submit these updates for review.

[2020-08-26 15:55] storyicon opened #3093 "The throughput of ingester causes a lot of remote write latency"
I used cortex in production environment, which was stable, but there was a lot of latency after adding some new remote writes from Prometheus.

I use the following expression to calculate the delay of remote write:
[code]
It's measured in seconds, and it looks terrible:
![image](https://user-images.githubusercontent.com/29772821/91322867-ce738300-e7f2-11ea-9c7a-a375dadd64b1.png)

Through monitorin

[2020-08-26 16:00] pracucci commented on #3093
Unrelated to this issue, but please be aware that the expected way to accurately calculate it is:
[code]

[2020-08-26 16:04] storyicon commented on #3093
Thanks @pracucci ! I will try the new formula you provided. I am about to submit a PR to fix this issue. To be honest, I spent some time on it

[2020-08-26 16:05] pracucci commented on #3093
Few random thoughts:
1. Do you see the same looking at `cortex_request_duration_seconds_bucket` exposed by ingesters?
2. Are you sure ingester CPU is not the bottleneck? Are ingesters running in a pod with CPU limit? If yes, is the CPU throttled? Have you tried to remove the CPU limit at all?

I would suggest to use pprof. Cortex exposes CPU profiling at `/debug/pprof/cpu?seconds=<duration>`. For

[2020-08-26 16:12] gotjosh opened #3094 "Ruler notifier uses a summary instead of histogram to observe latency in notifications"
For every tenant in the ruler, we also spawn a notifier that it is in charge of sending alerts to the Alertmanager. The metrics for this notifier use a summary to observe latency:

https://github.com/prometheus/prometheus/blob/7c0d5ae4e7bc015fabe185202c167293be31bdc9/notifier/notifier.go#L148-L154

In Prometheus, this makes sense, given the notifier is always a singleton as it needs to send _every

[2020-08-26 16:18] pracucci commented on #3084
Oh damn, you're telling me I did a very bad job! Jokes apart, thanks for the report! Let me fix it.

[2020-08-26 16:23] storyicon commented on #3093
They do take up so much time that it's easy to think of CPU overload.
I used 5 * `252GB, 48Core` machines to cope with this level of data. I saw from the monitoring that the CPU usage did not exceed 60% (I did not attach any cgroup restrictions to cortex, they were deployed on physical machines instead of Kubernetes), I was also surprised by the time-consuming result.

[2020-08-26 16:44] pracucci opened #3096 "Add integration tests for compactor"
The compactor is not covered by any integration test. We should cover, at least, basic usage with integration tests.

[2020-08-26 22:27] qinxx108 commented on #3034
Our configuration for S3 client for block store: Values.s3.endpoint is  s3-us-west-2.amazonaws.com, Values.s3.bucketName will be our bucket name
[code]
The credential provided by the serviceaccount define as
[code]

But for "chunks storage" S3 client (which is also used by the ruler and alertmanager)

We have to use
`- -alertmanager.storage.s3.url=s3://$(S3_ACCESS_KEY_ID):$(S3_SECRET_KEY_ID)@{{ .V

[2020-08-27 06:18] #3084 closed

[2020-08-27 12:32] pracucci commented on #3091
👋  Hi @maunavarro! We would definitely love it. I would just suggest to take a look at [how we name config options](https://cortexmetrics.io/docs/configuration/configuration-file/) for HTTP and gRPC TLS, in order to try to keep naming consistency as much as possible.

[2020-08-27 14:11] kumaravel29 opened #3100 "Error with querier after tables are deleted in Cassandra"
We are running Cortex with Cassandra and defined the retention of the table using the table-manager to 2 days.
I able to view the logs for 2 days but when the time range is increased, we observe the error "expanding series: unconfigured table index_18498" , so on older its give the error.

The querier seems to still refer to old tables and not sure where this details are stored.

[2020-08-27 14:49] tomwilkie commented on #2884
Seen again here: https://app.circleci.com/pipelines/github/cortexproject/cortex/7829/workflows/38785a0a-a790-4c72-8ca7-2f6b3d2bf3fc/jobs/38823

[2020-08-27 16:26] s-h-a-d-o-w opened #3101 "Alertmanager config from /api/v1/alerts is different from /alertmanager/api/v2/status"
When POSTing a simple config to `/api/v1/alerts`, such as:
[code]

... it looks exactly like that when doing a GET on `/api/v1/alerts`:
[code]

... but on `/alertmanager/api/v2/status`, it is extended by many more props:
[code]

This is an issue because it's not transparent to a user who interacts with `/api/v1/alerts` what the actual configuration ends up being.

[2020-08-27 18:30] qinxx108 commented on #3034
Tried also with the following configuration for alert manager without static access_key_id and secret_access_key defined as discussed:

`- -alertmanager.storage.s3.url=s3://@{{ .Values.aws.region }}/{{ .Values.alertmgr.s3.bucketName }}`

Got error of :
`level=warn ts=2020-08-27T18:22:36.232748677Z caller=multitenant.go:285 component=MultiTenantAlertmanager msg="error fetching all configurations, b

[2020-08-28 06:36] pracucci opened #3104 "Document ingesters scale up / down"
I recently improved the documentation about [ingesters rolling updates](https://cortexmetrics.io/docs/guides/ingesters-rolling-updates/) but we still lack a good documentation about how to scale up / down ingesters and what should be considered when doing it.

[2020-08-28 06:38] pracucci commented on #3104
Some notes from @pstibrany [shared on Slack](https://cloud-native.slack.com/archives/CCYDASBLP/p1598595213102600?thread_ts=1598586126.100700&cid=CCYDASBLP):

### Chunks storage

When not using WAL, old ingester tries to transfer its data to new ingester, and when it doesn't find any such new ingester, it will flush it to storage.

- scale down option 1 (chunks storage only): shutdown ingester, and

[2020-08-28 08:41] pracucci commented on #3034
I should have been able to reproduce it. The following should work:
[code]

The problem is that specifying the `@`, the parser detects it as the username has been specified to an empty string which internally is considered different then not specifying an user at all.

_I'm now checking to improve it._

[2020-08-28 08:58] gotjosh commented on #3101
After glancing over the [Alertmanager configuration documentation](https://github.com/prometheus/alertmanager/blob/470634d49fc629727d91cbb271d7c6e9bc282b06/docs/configuration.md#configuration-file) I can see some fields have default values.

My take here is that this is expected and there's nothing for us to solve here. If anything, it might be something to bring up upstream.

[2020-08-28 09:05] s-h-a-d-o-w commented on #3101
So I guess that means that if an API consumer wants the configs to be predictable (i.e. matching), they would have to apply the defaults themselves.

[2020-08-28 09:12] pracucci commented on #3034
I opened a PR in `weaveworks/common` to fix the edge case of when `@` is specified in the URL without a username/password:
https://github.com/weaveworks/common/pull/198

[2020-08-28 10:19] pracucci commented on #3089
I've the feeling the problem is that when we create the keyspace we don't use the configured consistency, but the default one (but the default one is `QUORUM` while in your error message you see `ANY`).

May you try to manually create the keyspace (should be done in the `system` keyspace) in your managed Cassandra:
[code]

Replacing `<keyspace>` with the name of the keyspace you wanna use for Cort

[2020-08-28 10:58] pracucci commented on #3089
Could you build Cortex from this PR https://github.com/cortexproject/cortex/pull/3105 and test if it fixes your issue, please?

[2020-08-29 20:06] #2455 closed

[2020-08-30 09:12] Alon-Katz commented on #3089
Hey,
Thanks for the help.

I tried manually creating the keyspace but I am getting the same error from cortex.
About the PR, I am using the cortex-helm-charts from the cortexproject repo, and then deploying it to my kubernetes cluster with helm v3. Is there an easy way to use a PR with it?

[2020-08-31 13:18] #3091 closed

[2020-08-31 14:14] jtlisi opened #3109 "Distributor endpoints hosted for Ruler and Querier"
The targets in Cortex suffer from a bit of an identity crisis since they end up hosting the APIs of all of the services they depend. The best example of this is the querier. Since it depends on the distributor, every querier hosts the `/api/v1/push` endpoint. I feel this should be corrected and specific targets should not host all of the endpoints of their dependencies.

[2020-08-31 14:40] carlpett opened #3110 "Unexpected(?) memory usage increase after ingester restart"
Following a question on Slack: https://cloud-native.slack.com/archives/CCYDASBLP/p1598877918007000. This is to some extent a question of "is this working as intended" - we're just getting started with Cortex and aren't familiar with the behaviours just yet.

We saw a peculiar increase in memory usage after our ingester (currently only running a single replica) was restarted as part of node mainten

[2020-08-31 14:57] bboreham commented on #1833
Interesting to see what difference the circuit-breaker makes. It should stop waiting, but also log even faster.

[2020-08-31 15:07] yeya24 opened #3111 "Query frontend slow log warning: invalid Read on closed Body"
We are seeing a lot of warnings in the Thanos Query frontend slow log `http: invalid Read on closed Body`. Since it uses Cortex Query frontend as a library, I tested the Cortex one and it has the same problem.

The warning occurs when it logs a `POST` request. It doesn't affect anything but it is annoying.

[code]

[2020-08-31 18:03] simonxmh commented on #923
Are there any updates on this?

[2020-09-01 09:19] codesome opened #3114 "Replace SegmentRange with upstream wal.Segments"
Now that https://github.com/prometheus/prometheus/pull/6477/ is merged, we can get rid of this custom implementation after we upgrade Prometheus
https://github.com/cortexproject/cortex/blob/2efff16014c8fbb6d77d7c75695fcabed3276b91/pkg/ingester/wal.go#L1083-L1108

[2020-09-01 09:21] codesome commented on #3114
We could add `hacktoberfest` label to this issue as I expect Prometheus to be upgraded by then :)

[2020-09-01 09:22] codesome commented on #2793
_I will work on this_

[2020-09-01 11:49] pstibrany opened #3116 "Remove -promql.lookback-delta in Cortex 1.4 as promised in the changelog."

[2020-09-01 11:50] pstibrany opened #3117 "Remove legacy results_cache.max_freshness in Cortex 1.4 as promised in changelog"
pkg/querier/queryrange/results_cache.go:44

[2020-09-01 14:16] TomL-dev opened #3118 "http_path_prefix not always respected"
We are running cortex in a cluster form. so we are starting several containers with the target config set.

When starting a distributor with: `http_path_prefix: "/distributor"` in the config, the index page is loaded from the domain.com/distributor page in the browser.
when clicking on `usage statistics` it redirects to `/distributor/all_user_statistics`
but clicking any other link will redirect t

[2020-09-01 15:55] TomL-dev commented on #3118
i'm trying to get all cortex modules behind nginx.
my assumption was that the http_path_prefix will let me prefix all url's

[2020-09-01 19:06] #3109 closed

[2020-09-02 15:27] gotjosh opened #3121 "Ruler: GET /api/v1/rules is slow"
We have observed consistent slowness (> 3s) when fetching the list of the rules/alerts from this endpoint. Today, while around the area I noticed that we do a `List` of objects in the bucket followed up by a `Get` of each in serial. In the case I mention, we have about 63 rule groups.

Looking around the current object storage we don't support batching but I think the Thanos one does (?). This mig

[2020-09-02 19:33] DaInco opened #3123 "Poor query latency when using chunks storage w/ Cassandra"
Hi,
I've created Cassandra as a long time storage. However, I noticed that the more data in Cassandra, the longer it takes to extract metrics. Cassandra consists of 2 nodes, 8core and 16GB RAM.

When downloading data, the reading speed from the disk reaches 500MB/s, and extracting data from 2 weeks in Grafana takes up to a minute. Longer requests result in timeouts.
I've tried v9 and v10 schema -

[2020-09-03 01:29] amckinley opened #3124 "Ruler fails to start without helpful logs"
This is very similar to https://github.com/cortexproject/cortex/issues/2991. In this case, it's the ruler that's failing to start:

[code]

We're running cortex v.1.3.0. Here's the ruler's config:
[code]

One of the diagnoses from the previous issue was an unhealthy consul cluster, which is not a problem we appear to be having since all the other components are healthy.

[2020-09-03 02:03] jpdstan commented on #3124
For whoever looks at this issue, here is the same configuration but with `log.level: 'debug'` https://pastebin.com/NukE3AaQ

[2020-09-03 02:31] jpdstan commented on #3124
Update on this: we also tried this out with S3 as a backing store instead of local disk, we got the same error.
specifically replacing
[code]
with
[code]

[2020-09-03 06:19] pstibrany commented on #3124
Thank you for your reports. You're right that these logs don't contain the error from "blocks storage queryable" subservice, so it's difficult to diagnose what's wrong. I've extended error reporting on this code path in #3125, if you have a chance to give it a try, that would be helpful.

[2020-09-03 06:31] pstibrany commented on #3121
I don't think it does. We run queries against object store concurrently, where possible. For example in `(*BlocksScanner).scanBucket` we create up to `d.cfg.TenantsConcurrency` workers for scanning individual users, and then feed the channel with results from `List` (`Iter`). I think ruler needs to do something similar.

[2020-09-03 06:36] amckinley commented on #3124
That's great! Any chance there's going to be a v1.4 release candidate cut with #3125 any time soon? If we need to do a custom build of cortex to test this, we can, but right now we're running the official Dockerhub v1.3.0 release, so we'd have to build our own container.

[2020-09-03 06:40] pstibrany commented on #3124
Next release cycle will start in two weeks (week starting 14th of September), with final release likely the week after.

[2020-09-03 07:09] pstibrany commented on #3118
Unfortunately index page didn't use configured HTTP path prefix at all. In PR #3126 this should be fixed.

[2020-09-03 08:37] Hashfyre opened #3128 "Having a single index-page for all cortex targets / components is misleading"
Currently all cortex components expose a single `index.html` that looks like
![cotex-index-page](https://user-images.githubusercontent.com/581287/92090452-0ed39200-eded-11ea-8f9c-7830ab2d1c6a.png)

However, other than `current config`, which exposes the component's configuration, other endpoints are component specific.

[code]

It would be nice to have a per target rendering on the index page with

[2020-09-03 08:43] Hashfyre commented on #3128
If per target rendering of the page is a bit much, a simple hierarchical list of the urls under a `<target>:` section, like:
[code]
Would be a nice to have thing too.

[2020-09-03 08:47] Hashfyre commented on #3089
Hi @Alon-Katz I had the above issue and the following solution worked for me.

[code]
The issue is wih the RF of the `system_auth` keyspace and not the keyspace created by `cortex`. Hope this works for you.

[2020-09-03 12:22] storyicon commented on #3123
I used to think I was the only one who had a similar problem. I'm currently working on an optimization that works like a federated index in a relational database. In my tests, it can optimize a few minutes of queries to about 500ms, but it is not mature enough now.

[2020-09-03 16:08] vikram-yerneni opened #3130 "Running Cortex as a service in DCOS Mesosphere is throwing error"
Hello Cortex'rs,
I am trying to deploy or run Cortex as a Service in DCOS Mesosphere and its throwing this below error:

`level=info ts=2020-09-03T15:07:09.830798562Z caller=modules.go:488 msg="RulerStorage is not configured in single binary mode and will not be started."

level=error ts=2020-09-03T15:07:09.831042466Z caller=log.go:149 msg="error running cortex" err="schema config file needs to be

[2020-09-03 16:44] pstibrany commented on #3130
I've replied in the mailing list: https://groups.google.com/g/cortex-monitoring/c/O7bkUPrbaxg/m/GhVfV7byAQAJ.

[2020-09-03 17:20] vikram-yerneni commented on #3130
Thanks Peter. I will close this out here...

[2020-09-03 17:20] #3130 closed

[2020-09-03 20:35] amckinley commented on #3124
Yep, this new logging is very helpful. This is obviously our problem to solve, but here's the new error we're seeing:
[code]

[2020-09-03 21:57] Hashfyre commented on #3048
In the cortex nginx gateway config you need to set `proxy_set_header X-Scope-OrgID $remote_user`.
[code]

[2020-09-04 05:53] Wing924 opened #3132 "change MIME for YAML from application/yaml to text/yaml"
### WHAT

Let's change MIME for YAML from `application/yaml` to `text/yaml` on API response.

### WHY

When you get `application/yaml` content, the behavior on browsers including Chrome is download them.
But it's better to show text on browser since yaml is human readable text format.

ref. https://www.freeformatter.com/mime-types-list.html (plz search yaml)

[2020-09-04 06:47] fxnn commented on #3048
Great, thank you for your information! Could get it up and running with the proxy instead of the `Authorization` headers 🙂

[2020-09-04 07:01] #3118 closed

[2020-09-04 07:25] DaInco commented on #3123
Thanks for your reply. I'll be waiting for your optimization. Someone else had a similar problem?

[2020-09-04 07:36] pstibrany commented on #3128
Thanks for your report. You're right that this is confusing, and PR #3133 will fix it (although it keeps current sections for now).

[2020-09-04 10:42] s-h-a-d-o-w commented on #3101
Upon giving this more thought - since the current behavior mirrors what one would experience with a local setup (a minimum config like the one from my OP is extended by Alertmanager's defaults once it's running), I think it's fine as is.

[2020-09-04 10:42] #3101 closed

[2020-09-04 11:06] gotjosh opened #3134 "Ruler: Performance improvements on loading and comparing rules"
At the moment, loading rules into a manager requires:

1. Grab rules and fetch rule groups from object storage, one tenant, at a time
2. Write rule files to disk to load and compare against the existing ruleset
3. Sync the manager with the new ruleset if need be

These steps are all done in serial.

To improve the experience of a user loading rules and loading them as quickly as possible I think w

[2020-09-04 16:20] jpdstan commented on #3124
This should be safe to close -- we fixed this by removing the `-ruler.rule-path=/etc/cortex/ruler/rules` argument.

[2020-09-04 16:28] jpdstan opened #3136 "Ruler failing to poll for rule groups"
On process startup, the ruler immediately fails to poll for rule groups. We get the following error:

[code]

Looking at that directory on that container, I do see the rule groups that we added:

[code]

It looks like it skips directories, but tries to follow symbolic links pointing to directories. It needs to be a bit smarter - It still needs to follow links to files, but not directories.

Our cu

[2020-09-04 18:40] gotjosh commented on #3136
Thanks for reporting this! The ruler local store is very basic at the moment, it is used mostly for "quick" testing and is nowhere near production-ready.

That being said, I think this is worth fixing.

[2020-09-04 18:40] gotjosh commented on #3136
Looks like @pstibrany is already on it 👍

[2020-09-04 18:44] amckinley commented on #3136
Do you actually think we're going to run into issues with this? Our plan was to migrate our current (extensive) Prometheus alerting and recording rules to a k8s `ConfigMap` mounted locally, so we could continue to keep everything in git. I can see how the ruler APIs are cool, but is there any tooling right now to do things like sync a directory of rule files to the API?

[2020-09-04 18:55] gotjosh commented on #3136
Of the top of my head, I don't think you'll encounter any issues going down that route. It's mostly about the lack of feature parity with the config API and the fact there's really no benefit from using local store (e.g. as described in #3134 you'll still have to write the rules to disk when polling, in this case: twice)

We have _some_ tooling in place to do this in the form of https://github.com

[2020-09-04 19:50] pstibrany commented on #3124
Thanks for update!

“blocks storage queryable” is a component responsible for querying data from long-term storage. Ruler uses it (because Ruler executes queries locally, not via querier), and this component needs to be able to read blocks from long-term storage.

[2020-09-04 21:15] mattmendick opened #3138 "Add read-path zone aware replication support"
Zone aware replication is able to withstand zone reliability issues and help insulate from dataloss. As I understand it, Cortex will still accept writes during this scenario, but reads are not guaranteed to be correct since there is no zone awareness on the read path. I feel adding this would allow Cortex to be more resilient to datacenter outages in that it would not affect users who are querying

[2020-09-07 06:09] pstibrany opened #3139 "Running flusher job fails with panic"
[code]

(reported by user)

[2020-09-07 06:32] #2795 closed

[2020-09-07 12:35] #2675 closed

[2020-09-08 09:04] s-h-a-d-o-w opened #3142 "Alertmanager: Wrong input can wipe config"
These are two examples I've found of POSTing wrong input to `/api/v1/alerts` that results in Alertmanager returning `2XX` and setting the config to an empty string:

- Wrong indentation of content
[code]

- Invalid field name (note the typo in `aalertmanager_config`)
[code]

[2020-09-08 09:51] Nevermore328 opened #3143 ""unconfigured table" error returned when query data beyond table-manager.retention-period"
Hi, here's my situation:
My cortex table-manager.retention-period=2w,  when I call cortex-querier's interface "/api/prom/api/v1/query_range" to query data less than 2 weeks，it returns the correct data, but when I query data beyond 2 weeks, it returns "unconfigured table" error just like this:
{"status":"error","errorType":"internal","error":"expanding series: unconfigured table cortex_2639"}
So I'

[2020-09-08 11:40] pstibrany commented on #3143
Hi, thank you for your report. What does your schema file look like? Is it possible that `from:` field has date earlier that 2 weeks ago (before you have any data)? That would explain why Cortex is trying to access tables that it expects should exist, but don't.

[2020-09-08 16:10] DaInco commented on #3123
Can anyone give me Cortex & Cassandra configuration? Maybe I'm doing something wrong.

[2020-09-08 16:24] qinxx108 commented on #3034
I've verified that solved the issue. Thanks a lot for the follow up!

Will close the issue

[2020-09-08 16:51] Hashfyre commented on #3128
Thanks so much for taking this up @pstibrany

[2020-09-08 17:18] jtlisi opened #3146 "Unable to run simultaneous integration tests on a single docker host"
A docker network name must be unique and only a single one can exist at any given time. We use a global constant network name for our integration tests which leads to issues if multiple tests are ran on a single docker host.

[2020-09-08 17:57] till opened #3148 "Deprecated endpoints in configs"
![image](https://user-images.githubusercontent.com/27003/92511364-79ca0200-f20d-11ea-991a-040cb1b43ea1.png)

We are using a lot of these endpoints for a multi-tenant UI on top of Cortex. Are there any notes as to where these endpoints will go? Or if alternatives are already available?

[2020-09-09 01:35] Nevermore328 commented on #3143
Yes,It looks like this:
configs:
  - from: 2000-01-01
    store: cassandra
    object_store: cassandra
    schema: v10
    index:
      prefix: cortex_
      period: 168h
    chunks:
      prefix: cortex_chunks_
      period: 168h
    row_shards: 16

So, this from: field tells cortex the beginning time of the data, I see, Thanks very much. By the way, is there any doc about the  schema file, becau

[2020-09-09 02:29] Nevermore328 commented on #3143
I've changed the `from:` value to 2020-09-09, but still got the "unconfigured table" error, did I miss something?

[2020-09-09 08:32] #3116 closed

[2020-09-09 09:05] #3117 closed

[2020-09-09 09:20] pstibrany commented on #3143
Hi, have you restarted all Cortex components (especially queriers) after changing schema? I cannot reproduce the behaviour you're seeing -- when I try to query data before `from:`, I simply get no results, but also no errors.

I also cannot find `unconfigured table` error message in our codebase. However `cortex_2639` would correspond to time range `30 July 2020` to week later. Cortex should recog

[2020-09-09 09:24] pstibrany commented on #3148
From what I understand, these endpoints are not going to be removed anytime soon, but "Configs API" is not actively worked on. There are new APIs for Ruler and Alert manager mentioned in the same document that can be used instead.

[2020-09-09 12:20] till commented on #3148
@pstibrany ah, good to know. Is it possible to point out what _replaces_ them?

E.g., it seems like:

`GET configs:/api/prom/configs/alertmanager` > GET `alertmanager:/api/v1/alerts`

[2020-09-09 16:06] Alon-Katz commented on #3089
Thanks @Hashfyre ! It fixed the problem. I will close the issue :)

[2020-09-09 16:06] #3089 closed

[2020-09-09 16:10] vikram-yerneni opened #3150 "S3 endpoint in single-process-config-blocks.yaml needs to be updated"
Looks like the [https://github.com/cortexproject/cortex/blob/master/docs/configuration/single-process-config-blocks.yaml#L63](url) is still using the old S3 endpoint configuration (endpoint: s3.dualstack.us-east-1.amazonaws.com). It looks like AWS endpoint for the s3 bucket needs to be "s3.amazonaws.com".

[2020-09-09 19:29] #3146 closed

[2020-09-09 23:59] cwells commented on #3041
I just wasted an entire day figuring out why Alertmanager wasn't running. This should be front-and-center in the docs for Alertmanager.

[2020-09-10 08:54] Nevermore328 commented on #3143
Thanks for your reply.
I think `unconfigured table` error must be returned by Cassandra, so you cannot find it in Cortex codebase.
And after changing schema yesterday, I only restarted Cortex-table-manager, it still returned  `unconfigured table` error. But just now, I restarted other Cortex components, it returned the error below:
`{"status":"error","errorType":"internal","error":"expanding serie

[2020-09-10 09:12] bboreham opened #3152 "delay in ingester hand-over"
On the receiving side it took about 15 seconds:
[code]

On the sending side it took over a minute:
[code]

The joining ingester seems to recover after this, although it prints a few warnings:
[code]

[2020-09-10 09:33] bboreham commented on #3040
Today I see a message was added as part of the gossiping changes:
[code]

which is lying because the ingester printing this message is ACTIVE in the ring (although it is not ready).

[2020-09-10 09:52] bboreham opened #3154 "Ring state will be inconsistent between memory and consul after a CAS error"
The change in memory state is made before updating Consul, and no attempt is made to revert the former if the latter fails:

https://github.com/cortexproject/cortex/blob/a87c25fd994a2eec5ab5af0a920cc529b17c0030/pkg/ring/lifecycler.go#L710-L711

I noticed this because I got this log message:
[code]

That's coming from here: https://github.com/cortexproject/cortex/blob/f27cef893d92e38395de0504f92223

[2020-09-10 10:27] bboreham commented on #3154
@pstibrany explained the last point: the next heartbeat will save the in-memory state to Consul.

So, maybe all we need is a better check in `Ingester.transfer()` ?

[2020-09-10 10:30] pstibrany commented on #3040
It was actually added in #2936, because this state is confusing for people.

It is perhaps not too precise, but what it's trying to say is that Ingester cannot report "ready" via /ready handler, because there are *other* ingesters in the ring that are not ACTIVE.

[2020-09-10 10:53] bboreham commented on #3040
To clarify my complaint:
"this instance cannot become ready until this problem is resolved" would be ok.
"this instance cannot complete joining" is incorrect: the ingester has joined the ring and is in ACTIVE state.

[2020-09-10 14:19] rsteneteg commented on #2490
I suspect that the issue is here https://github.com/cortexproject/cortex/blob/master/pkg/configs/api/api.go#L250

when posting the templates are validated to make sure the parse properly but that validation seems to be missing those DefaultFuncs which is used later when actually creating the templates

[2020-09-10 14:41] pstibrany commented on #1700
- We should document that this is the case for users to understand.
- Needs design doc first.